@import "reset.css";

@import "stylesheet.css";

@import "fonts.css";
body,
html {
  height: 100%;
}
body {
  background: #ffffff;
}
body #main_wrap {
  min-height: 100%;
  position: relative;
}
body header {
  height: 670px;
}
body header .wave {
  background: url("../images/hnav.png") left top repeat-x;
  width: 100%;
  height: 140px;
  z-index: 3;
  position: absolute;
}
body header img {
  z-index: 2;
  margin: -60px 0px 0px -640px;
  position: absolute;
  left: 50%;
}
body header section {
  margin: 0px auto;
  min-width: 1000px;
  max-width: 1280px;
}
body header section nav {
  background: url("../images/logo.png") center 5px no-repeat;
  z-index: 4;
  overflow: hidden;
  position: relative;
  padding-top: 14px;
  height: 140px;
}
body header section nav ul {
  float: left;
  white-space: nowrap;
  margin: 0px 30px;
}
body header section nav ul:last-child {
  float: right;
}
body header section nav ul li {
  display: inline-block;
  margin: 0 40px;
}
body header section nav ul li a {
  color: #3d2714;
  font-size: 15px;
  font-family: 'PT Serif';
  text-decoration: none;
}
body header section .banner {
  background: url("../images/bann.png") center top no-repeat;
  text-align: center;
  color: #ffffff;
  position: relative;
  z-index: 5;
  height: 140px;
  margin-top: 260px;
}
body header section .banner h1 {
  font-size: 35px;
  font-family: 'Conv_Oranienbaum';
  padding: 25px 0px 10px 0px;
}
body header section .banner p {
  font-family: 'PT Serif';
  font-style: italic;
  font-size: 16px;
  display: block;
  padding-bottom: 30px;
}
body header section .banner b {
  display: inline-block;
  background: url("../images/b.png") center center no-repeat;
  width: 13px;
  height: 12px;
}
body header section .banner b.current {
  background: url("../images/bb.png") center center no-repeat;
}
body header section .banner a {
  color: #ffffff;
  font-family: 'PT Serif';
  font-size: 13px;
  position: absolute;
  bottom: 11px;
  right: 50px;
}
body header section h2 {
  font-family: 'PT Serif';
  color: #000000;
  font-size: 37px;
  margin-top: 40px;
  position: relative;
  z-index: 5;
  text-align: center;
  background: url("../images/par.png") center 50px no-repeat;
  height: 60px;
}
body footer {
  background: url("../images/footer.jpg") left top repeat-x;
  height: 220px;
  margin-top: -220px;
}
body footer .foot {
  min-width: 1000px;
  max-width: 1280px;
  padding-top: 33px;
  overflow: hidden;
  font-family: 'PT Serif';
  color: #ffffff;
  font-size: 13px;
  position: relative;
  margin: 0px auto;
}
body footer .foot nav {
  float: left;
  margin: 0px 100px 23px 70px;
}
body footer .foot nav ul {
  display: inline-block;
  width: 105px;
}
body footer .foot nav ul li {
  margin-bottom: 15px;
}
body footer .foot nav ul li a {
  font-family: 'PT Serif';
  color: #ffffff;
  font-size: 13px;
  text-decoration: none;
}
body footer .foot .inf {
  float: right;
  margin: 0px 70px 23px 0px;
}
body footer .foot .inf:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
body footer .foot .inf h4 {
  font-size: 25px;
  display: block;
}
body footer .foot .inf h5 {
  font-size: 12px;
  width: 220px;
  margin: 0px 20px 0px 40px;
  line-height: 16px;
}
body footer .foot .inf p {
  padding-bottom: 10px;
}
body footer .foot .inf .phone,
body footer .foot .inf .search,
body footer .foot .inf h5 {
  vertical-align: top;
  display: inline-block;
}
body footer .foot .inf .phone {
  width: 230px;
}
body footer .foot .inf .search {
  width: 200px;
  position: relative;
}
body footer .foot .inf .search input.text {
  background: #5f4836;
  border: none;
  width: 200px;
  height: 25px;
  z-index: 1;
  padding-left: 10px;
  font-family: 'PT Serif';
  color: #ffffff;
  font-size: 13px;
}
body footer .foot .inf .search input.sr {
  position: absolute;
  right: 5px;
  top: 28px;
  z-index: 2;
  width: 14px;
  height: 15px;
}
body footer .foot .cnt {
  width: 1140px;
  border-top: 1px solid #9e9389;
  padding-top: 23px;
  position: relative;
  margin: 0px auto;
  text-align: center;
  clear: both;
  height: 60px;
  background: url("../images/par1.png") center 50px no-repeat;
}
body footer .foot .cnt p {
  display: inline-block;
  margin: 0px 13px;
}
body footer .foot .cnt h6 {
  display: block;
  padding-top: 30px;
}
body #content {
  padding-bottom: 300px;
}
body #content .sel {
  display: block;
  margin: 0px auto;
  min-width: 1000px;
  max-width: 1280px;
  text-align: center;
}
body #content .sel .slct {
  background: url("../images/strsh.png") center 35px no-repeat;
  height: 75px;
}
body #content .sel .slct a {
  font-family: 'PT Serif';
  color: #3d2613;
  font-size: 25px;
  padding: 35px 22px 0px 22px;
  margin: 0px 20px;
  text-decoration: none;
  display: inline-block;
}
body #content .sel .slct a.current {
  color: #6b3305;
  background: url("../images/assh.png") center -10px no-repeat;
  height: 103px;
  width: 277px;
}
body #content .sel .asrt {
  height: 270px;
  overflow: hidden;
  position: relative;
  top: 55px;
  margin: 0px auto;
}
body #content .sel .asrt .srt {
  float: left;
  width: 620px;
}
body #content .sel .asrt .srt article {
  width: 175px;
  height: 150px;
  margin: 0px 14px;
  display: inline-block;
  text-align: center;
}
body #content .sel .asrt .srt article img {
  display: block;
  vertical-align: top;
  margin: 0px auto 10px auto;
}
body #content .sel .asrt .srt article a {
  font-family: 'PT Serif';
  color: #3d2714;
  font-size: 16px;
  text-decoration: none;
  background: url("../images/par2.png") center 25px no-repeat;
  padding-bottom: 15px;
  display: inline-block;
  min-width: 81px;
}
body #content .main-page-box h2 {
  font-family: 'PT Serif';
  font-size: 30px;
  padding-bottom: 15px;
}
body #content .main-page-box a.d-link {
  font-style: 16px;
  font-family: 'PT Serif';
  color: #3c2613;
  padding: 0px 20px 0px 20px;
  line-height: 30px;
  display: inline-block;
  background: #f4ead6;
}
body #content .info1 {
  min-width: 1000px;
  max-width: 1280px;
  width: 1140px;
  margin: 0px auto;
  padding: 60px 0px 80px 0px;
  overflow: hidden;
}
body #content .info1 .tour {
  float: left;
  width: 65%;
  position: relative;
}
body #content .info1 .tour .inner {
  padding-right: 110px;
}
body #content .info1 .tour img {
  position: absolute;
  left: 0px;
  top: 0px;
}
body #content .info1 .tour h2 {
  text-align: right;
  line-height: 55px;
  padding-right: 60px;
}
body #content .info1 .tour p {
  float: right;
  width: 250px;
  color: #000000;
  font-size: 13px;
  font-family: 'PT Serif';
  line-height: 22px;
  min-height: 170px;
}
body #content .info1 .tour a.d-link {
  float: right;
  clear: both;
  margin-right: 30px;
}
body #content .info1 .video {
  float: left;
  width: 35%;
  max-width: 350px;
}
body #content .info1 .video .video_inner {
  background: url("../images/video_bg.jpg") 55% bottom no-repeat;
  padding-bottom: 50px;
}
body #content .info1 .video a {
  font-size: 16px;
  text-decoration: none;
  font-family: 'PT Serif';
  text-align: center;
  line-height: 20px;
  display: block;
  color: #3c2613;
}
body #content .info2 {
  min-width: 1000px;
  max-width: 1280px;
  width: 1140px;
  margin: 0px auto;
  overflow: hidden;
  background: url("../images/info2_bg.png") center top no-repeat;
  padding: 60px 0px 0px 0px;
}
body #content .info2 .quiz {
  float: left;
  width: 55%;
  position: relative;
}
body #content .info2 .quiz img {
  position: absolute;
  right: 60px;
  top: 10px;
}
body #content .info2 .quiz p {
  font-size: 13px;
}
body #content .info2 .quiz p i {
  font-style: italic;
  color: #646464;
}
body #content .info2 .quiz h3 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 10px;
}
body #content .info2 .tenders {
  float: left;
  width: 45%;
  position: relative;
}
body #content .info2 .tenders img {
  position: absolute;
  right: 60px;
  top: 10px;
}
body #content .info2 .tenders .text-inner {
  padding-right: 280px;
  color: #000000;
  font-size: 13px;
  font-family: 'PT Serif';
  line-height: 22px;
}
body #content .info2 .tenders .text-inner p {
  padding-bottom: 10px;
}
body #content .info2 .tenders .text-inner a {
  float: right;
}
body #content .new {
  display: block;
  background: url("../images/new.png") left top repeat-x;
  height: 508px;
}
body #content .new .nw {
  background: url("../images/nw.png") center 58px no-repeat;
  height: 390px;
  position: relative;
  min-width: 1000px;
  max-width: 1280px;
  margin: 0px auto;
  width: 1140px;
}
body #content .new .nw h2 {
  font-family: 'PT Serif';
  color: #000000;
  font-size: 40px;
  margin: 0px 0px 20px 95px;
  padding-top: 100px;
  background: url("../images/par3.png") 15px 160px no-repeat;
  width: 150px;
  height: 70px;
}
body #content .new .nw p {
  font-family: 'PT Serif';
  color: #656565;
  font-size: 20px;
  display: block;
  line-height: 27px;
  margin-left: 95px;
  padding-bottom: 40px;
}
body #content .new .nw a {
  font-family: 'PT Serif';
  color: #000000;
  font-size: 15px;
  margin-left: 95px;
}
body #content .new .nw img {
  position: absolute;
  left: 370px;
  top: 0px;
}
body #content .new .nw span a.lr {
  background: url("../images/left.png") left top no-repeat;
  width: 24px;
  height: 44px;
  position: absolute;
  margin-left: 0px;
  top: 185px;
}
body #content .new .nw span a.rl {
  background: url("../images/right.png") left top no-repeat;
  width: 24px;
  height: 44px;
  position: absolute;
  margin-left: 933px;
  top: 185px;
}
body #content .new .nw .change {
  position: absolute;
  right: 10px;
  bottom: 40px;
}
body #content .new .nw .change b {
  display: inline-block;
  background: url("../images/b.png") center center no-repeat;
  width: 13px;
  height: 12px;
}
body #content .new .nw .change b.current {
  background: url("../images/bb.png") center center no-repeat;
}
body #content .new .nws {
  background: url("../images/nws.png") center 20px no-repeat;
  height: 75px;
  min-width: 1000px;
  max-width: 1280px;
  margin: 0px auto;
  width: 1140px;
  padding-top: 23px;
  position: relative;
}
body #content .new .nws h2 {
  font-family: 'PT Serif';
  color: #000000;
  font-size: 25px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
}
body #content .new .nws img {
  display: inline-block;
  vertical-align: middle;
  padding: 0px 10px;
}
body #content .new .nws p {
  font-family: 'PT Serif';
  color: #000000;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}
body #content .new .nws span {
  background: url("../images/right2.png") center center no-repeat;
  width: 10px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 38px;
}
