@import "reset.css";
@import "stylesheet.css";
@import "fonts.css";

.size (@min-width: 1000px, @max-width: 1280px) {
  min-width: @min-width; 
  max-width: @max-width;
}

body, html {
	height: 100%;
	font-family: 'PT Serif';
}

body {
	background: #ffffff;
	#main_wrap {
		min-height: 100%;
		position: relative;
		width: 100%;
		overflow: hidden;
		min-width: 1000px;
		&.inner {
			header {
				height: 550px;
			}
			h2 {
				margin-top: 0px;
				font-size: 44px;
			}
			nav {
				background: url("../images/logo2.png") center 5px no-repeat;
			}
			.navs {
				position: absolute;
				top: 70px;
				width: 100%;
				text-align: center;
				margin-left: -15px;
				z-index: 10;
				a {
					font-family: 'PT Serif';
					font-size: 12px;
					color: #7d6e61;
					padding: 0px 15px 0px 5px;
					background: url("../images/navs/1.png") right center no-repeat;
					&.last {
						background: url("../images/navs/2.png") right bottom no-repeat;	
					}
				}
			}
		}
	}
	header {		
		height: 670px;
		width: 100%;
		overflow: hidden;
		&#catalog {
			height: 270px;
			section {
				h2 {
					margin-top: 15px;
				}
				.breadcrumbs {
					position: absolute;
					top: 135px;
					width: 100%;
					text-align: center;
					margin-left: -15px;
					z-index: 10;
					a {
					font-family: 'PT Serif';
					font-size: 12px;
					color: #7d6e61;
					padding: 0px 15px 0px 0px;
					margin-left: 10px;
					background: url("../images/navs/1.png") right center no-repeat;
						&.last {
						background: url("../images/navs/2.png") right bottom no-repeat; 
						}
					}
				}
				nav {
					background: url("../images/logo2.png") center 5px no-repeat;
				}
			}
		}
		.wave {
			background: url("../images/hnav.png") left top repeat-x;
			width: 100%;
			height: 140px;
			z-index: 3;
			position: absolute;
		}
		.wave_inner {
			background: url("../images/line2.png") left bottom repeat-x;
			width: 100%;
			height: 113px;
			z-index: 3;
			position: absolute;
		}
		img {
			z-index: 2;
			margin: -60px 0px 0px -640px;
			position: absolute;
			left: 50%;
		}
		section {
			margin: 0px auto;
			.size();
			nav {
				background: url("../images/logo.png") center 5px no-repeat;
				z-index: 4;	
				overflow: hidden;
				position: relative;
				padding-top: 14px;
				height: 140px;
				ul {
					float: left;
					width: 50%;					
					&:last-child {
						float: right;
						li {
							float: right;
						}
					}
					li {
						float: left;
						margin: 0 6%;		
						a {
							color: #3d2714;
							font-size: 15px;
							font-family: 'PT Serif';
							text-decoration: none;
						}			
					}
				}		
			}
			.banner {
				background: url("../images/bann.png") center top no-repeat;
				text-align: center;
				color: #ffffff;
				position: relative;
				z-index: 5;
				height: 140px;
				margin-top: 260px;
				h1 {
					font-size: 35px;
					font-family: 'Conv_Oranienbaum';
					padding: 25px 0px 10px 0px;
				}
				p {
					font-family: 'PT Serif';
					font-style: italic;
					font-size: 16px;
					display: block;
					padding-bottom: 30px;
				}
				b {
					display: inline-block;
					background: url("../images/b.png") center center no-repeat;
					width: 13px;
					height: 12px;
					&.current {
						background: url("../images/bb.png") center center no-repeat;
					}
				}
				a {
					color: #ffffff;
					font-family: 'PT Serif';
					font-size: 13px;
					position: absolute;
					bottom: 11px;
					right: 50px;
				}
			}
			h2 {
				font-family: 'PT Serif';
				color: #000000;
				font-size: 37px;
				margin-top: 40px;
				position: relative;
				z-index: 5;
				text-align: center;
				background: url("../images/par.png") center 50px no-repeat;
				height: 60px;
			}
		}
	}
	footer {
		background: url("../images/footer.jpg") left top repeat-x;
		height: 220px;
		margin-top: -220px;
		.foot {
			.size();
			padding-top: 33px;
			overflow: hidden;
			font-family: 'PT Serif';
			color: #ffffff;
			font-size: 13px;
			position: relative;
			margin: 0px auto;
			nav {
				float: left;
				margin: 0px 0px 23px 3%;
				ul {
					display: inline-block;
					width: 95px;
					li {
						margin-bottom: 15px;
						a {
							font-family: 'PT Serif';
							color: #ffffff;
							font-size: 13px;
							text-decoration: none;
						}
					}
				}
			}
			.inf {
				float: right; 
				margin: 0px 3% 23px 0px;
				&:after {
				    content: ".";
				    display: block;
				    height: 0;
				    clear: both;
				    visibility: hidden;
				}
				h4 {
					font-size: 25px;
					display: block;
				}
				h5 {
					font-size: 12px;
					width: 145px;
					margin: 0px 0px 0px 40px;
					line-height: 16px;
				}
				p {
					padding-bottom: 10px;
				}
				.phone, .search, h5 {
					vertical-align: top;
					display: inline-block;
				}
				.phone {
					width: 230px;
				}
				.search {
					width: 200px;
					position: relative;
					input {
						&.text {
							background: #5f4836;
							border: none;
							width: 200px;
							height: 25px;
							z-index: 1;
							padding-left: 10px;
							font-family: 'PT Serif';
							color: #ffffff;
							font-size: 13px;
						}
						&.sr {
							position: absolute;
							right: 5px;
							top: 28px;
							z-index: 2;
							width: 14px;
							height: 15px;
						}
					}
				}
			}
			.cnt {
				width: 1140px;
				border-top: 1px solid #9e9389;
				padding-top: 23px;
				position: relative;
				margin: 0px auto;
				text-align: center;
				clear: both;
				height: 60px;
					background: url("../images/par1.png") center 50px no-repeat;
				p {
					display: inline-block;
					margin: 0px 13px;
				}
				h6 {
					display: block;
					padding-top: 30px;
				}
			}
		}
	}
	#content {
		padding-bottom: 300px;
		.sel {
			display: block;
			margin: 0px auto;
			.size();	
			text-align: center;
			.slct {
				background: url("../images/strsh.png") center 35px no-repeat;
				height: 75px;
				a {
					font-family: 'PT Serif';
					color: #3d2613;
					font-size: 25px;	
					padding: 35px 22px 0px 22px;
					margin: 0px 20px;
					text-decoration: none;
					display: inline-block;
					&.current {
						color: #6b3305;
						background: url("../images/assh.png") center -10px no-repeat;
						height: 103px;
						width: 277px;
					}
				}
				&.content {
					background: url("../images/strsh1.png") center 90px no-repeat;
					height: 125px;
					a {
						font-size: 17px;
						border-bottom: 1px dotted #3d2613;
						margin: 20px;
						padding: 0px;
						&.current {
							background: none;
							border: 1px solid #ede3cc;
							padding: 20px;
							margin: 0px;
							height: 17px;
							width: auto;
						}
					}
				}
			}
			.asrt {
				overflow: hidden;
				position: relative;
				top: 55px;
				margin: 0px auto;
				padding-bottom: 90px;
				.srt {
					float: left;
					width: 50%;
					article {
						width: 175px;
						height: 150px;
						margin: 0px 14px;
						display: inline-block;
						text-align: center;	
						img {
							display: block;
							vertical-align: top;
							margin: 0px auto 10px auto;
						}
						a {
							font-family: 'PT Serif';
							color: #3d2714;
							font-size: 16px;	
							text-decoration: none;	
							background: url("../images/par2.png") center 25px no-repeat;		
							padding-bottom: 15px;
							display: inline-block;
							min-width: 81px;
						}
					}					
				}
				&.catalog {
					top: 0px;
					padding-bottom: 30px;
					strong {
						background: url("../images/strsh1.png") center top no-repeat;
						height: 40px;
						width: 100%;
						display: block;
					}
					h2 {
						padding-bottom: 15px;
						font-family: 'PT Serif';
						color: #6b3305;
						font-size: 19px;
					}
					p {
						font-family: 'PT Serif';
						color: #000000;
						font-size: 13px;
						line-height: 22px;
						padding: 10px 0px 20px 0px;
					}
					.srt {
						float: none;
						width: 100%;
						article {
							margin: 15px 30px;
							vertical-align: top;
							width: 190px;
							height: 200px;
							span {
								width: 190px;
								height: 150px;
								display: block;
								display: table-cell;
								vertical-align: bottom;
								img {
									vertical-align: bottom;
								}
							}
							a {
								background: url("../images/par2.png") center bottom no-repeat;
								margin-top: 10px;
							}
						}
					}
				}
			}	
		}
		.main-page-box {
			h2 {
				font-family: 'PT Serif'; 
				font-size: 30px;
				padding-bottom: 15px;
			}
			a.d-link {
				font-style: 16px;
				font-family: 'PT Serif';
				color: #3c2613;
				padding: 0px 20px 0px 20px;
				line-height: 30px;
				display: inline-block;
				background: #f4ead6;
			}
		}
		.info1 {
			.size();
			max-width: 1140px;
			min-width: 940px;
			margin: 0px auto;
			padding: 60px 0px 80px 0px;
			overflow: hidden;
			.tour {
				float: left;
				width: 65%;
				position: relative;
				.inner {
					padding-right: 15%;
				}
				img {
					position: absolute;
					left: 0px;
					top: 0px;
				}
				h2 {
					text-align: right;
					line-height: 55px;
					padding-right: 60px;
				}
				p {
					float: right;
					width: 250px;
					color: #000000;
					font-size: 13px;
					font-family: 'PT Serif';
					line-height: 22px;
					min-height: 170px;
				}
				a.d-link {
					float: right;
					clear: both;
					margin-right: 30px;
				}
			}
			.video {
				float: left;
				width: 35%;
				max-width: 350px;
				.video_inner {
					background: url("../images/video_bg.jpg") 55% bottom no-repeat;
					padding-bottom: 50px;
				}
				a {
					font-size: 16px;
					text-decoration: none;
					font-family: 'PT Serif';
					text-align: center;
					line-height: 20px;
					display: block;
					color: #3c2613;
				}
			}
		}
		.info2 {
			.size();
			max-width: 1140px;
			min-width: 940px;
			margin: 0px auto;
			overflow: hidden;
			background: url("../images/info2_bg.png") center top no-repeat;
			padding: 60px 0px 0px 0px;
			.quiz {
				float: left;
				width: 55%;
				position: relative;
				img {
					position: absolute;
					right: 60px;
					top: 10px;
				}
				p {
					font-size: 13px;
					i {
						font-style: italic;
						color: #646464;
					}
				}
				h3 {
					font-size: 18px;
					font-weight: bold;
					padding-bottom: 5px;
					padding-top: 10px;
				}
				.text-inner {
					padding-right: 200px;
				}
			}
			.tenders {
				float: left;
				width: 45%;
				position: relative;
				img {
					position: absolute;
					right: 60px;
					top: 10px;
				}
				.text-inner {
					padding-right: 280px;
					color: #000000;
					font-size: 13px;
					font-family: 'PT Serif';
					line-height: 22px;
					p {
						padding-bottom: 10px;
					}
					a {
						float: right;
						white-space: nowrap;
					}
				}
			}
		}
		.new {
			display: block;
			background: url("../images/new.png") left top repeat-x;
			height: 508px;
			padding-top: 1px;
			.nw {
				background: url("../images/nw.png") center top no-repeat;
				position: relative;
				.size();
				margin: 0px auto;
				max-width: 1140px;
				min-width: 940px;
				background-size: 100% 100%;
				padding-bottom: 65px;
				margin-bottom: 40px;
				margin-top: 58px;
				h2 {
					font-family: 'PT Serif';
					color: #000000;
					font-size: 40px;
					margin: 0px 0px 20px 95px;
					padding-top: 26px;
					background: url("../images/par3.png") 15px 160px no-repeat;
					width: 150px;
					height: 70px;
				}
				p {
					font-family: 'PT Serif';
					color: #656565;
					font-size: 20px;
					display: block;
					line-height: 27px;
					margin-left: 95px;
					padding-bottom: 40px;
				}
				a {
					font-family: 'PT Serif';
					color: #000000;
					font-size: 15px;
					margin-left: 95px;
				}
				img {
					position: absolute;
					left: 370px;
					top: -70px;
				}
				span a.lr {
					background: url("../images/left.png") left top no-repeat;
					width: 24px;
					height: 44px;
					position: absolute;
					margin-left: 0px;
					top: 50%;
					margin-top: -32px;
				}
				span a.rl {
					background: url("../images/right.png") left top no-repeat;
					width: 24px;
					height: 44px;
					position: absolute;
					margin-left: 933px;
					top: 50%;
					margin-top: -32px;
				}
				.change {
					position: absolute;
					right: 10px;
					bottom: 40px;
					b {
						display: inline-block;
						background: url("../images/b.png") center center no-repeat;
						width: 13px;
						height: 12px;
						&.current {
							background: url("../images/bb.png") center center no-repeat;
						}
					}
				}				
			}
			.nws {
				.size();
				margin: 0px auto;
				max-width: 1140px;
				min-width: 940px;
				position: relative;
				background: #f4ead6;
				border: 3px solid #ded2bb;
				border-radius: 10px;
				h2 {
					font-family: 'PT Serif';
					color: #000000;
					font-size: 25px;
					display: inline-block;
					vertical-align: middle;
					padding-left: 20px;
				}
				img {
					display: inline-block;
					vertical-align: middle;
					padding: 0px 10px;
				}
				p {
					font-family: 'PT Serif';
					color: #000000;
					font-size: 14px;
					display: inline-block;
					vertical-align: middle;
					width: 72%;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
				span {
					background: url("../images/right2.png") center center no-repeat;
					width: 10px;
					height: 20px;
					position: absolute;
					right: 20px;
					top: 50%;
					margin-top: -10px;
				}
			}
		}
	}
}

@media screen and (max-width: 1100px) {
	body #content .info1 .tour .inner {
		padding-right: 5%;
	}
	body #content .new .nw span a.lr, body #content .new .nw span a.rl {
		display: none;
	}
	body #content .new .nw h2, body #content .new .nw p, body #content .new .nw a {
		margin-left: 20px;
	}
}

.content_inner {
	position: absolute;
	height: 505px;
	margin-top: -110px;
	width: 100%;
	.image {
		text-align: center;
		height: 505px;
		img {
			position: absolute;
			margin: 0;
			bottom: 0px;
			left: 50%;
			margin-left: -500px;
		}
	}
	.wrap {
		position: relative;
		height: 505px;
		.line {
			height: 25px;
			width: 100%;
			background: url("../images/line3.png") center center repeat-x;
			z-index: 11;
			position: absolute;
			bottom: 0px;
			left: 0px;
		}
		.text {
			position: absolute;
			width: 100%;
			bottom: 20px;
			left: 0px;
			background: rgba(56, 26, 1, 0.7);
			z-index: 10;
			padding: 18px 0px 20px 0px;
			text-align: center;
			p {
				max-width: 1000px;
				margin: 0px auto;
				color: #ffffff;
				font-family: 'PT Serif';
				font-style: 15px;
				line-height: 22px;
			}
		}
	}
}

.info_list {
	width: 100%;
	overflow: hidden;

	article {
		width: 25%;
		float: left;
		text-align: center;
		h2 {
			font-size: 17px !important;
			color: #6b3305;
			padding-top: 10px;
			padding-bottom: 16px;
			margin-bottom: 13px;
			background: url("../images/h2_bg.png") center bottom no-repeat;
		}
		p {
			padding-left: 15px;
			padding-right: 15px;
			font-size: 13px;
			color: #656565;
			line-height: 22px;
		}
	}
}

.catalog1 {
	background: url("../images/sh1.png") center top no-repeat;
	padding: 45px 0px 0px 0px;
	margin: 35px 0px 0px 0px;
	&.no-bg {
		background: none;
		padding: 0px;
	}
	h2 {
		text-align: center;
		font-size: 18px !important;
		color: #6b3305;
		text-transform: uppercase;
		padding-bottom: 27px;
	}
	ul {
		text-align: center;
		li {
			display: inline-block;
			vertical-align: top;
			padding: 0px 25px;
			a {
				font-size: 16px;
				color: rgba(61, 39, 20, 0.67);
				text-decoration: none;
			}
		}
	}
}

.info_text1 {
	background: url("../images/bg3.jpg") left top repeat;
	article {
		background: url("../images/l2.png") left top repeat-x;	
	}
	p {
		background: url("../images/l2.png") left bottom repeat-x;
		padding: 40px 50px;
		text-align: center;
		font-style: italic;
		font-size: 16px;
		color: #846f5e;
		line-height: 27px;
	}
}

@media screen and (max-width: 1030px) {
	body header section h2 {
		font-size: 30px;
	}
	body #content .main-page-box a.d-link {
		margin-top: 10px;
	}
}