@media (max-width: 800px) {
	.welcome-body {
		background-position: -240px 0px;
		.span6 {
			width: 350px;
			.description {
				width: 380px;
				top: 20px;
			}
		}
	}
	.terms-body {
		width: 800px;
		.container {
			width: 730px;
		}
	}
	.about-body {
		.span8 {
			width: 90%;
			margin-left: 5% !important;
		}
		.span4 {
			width: 100%;
		}
	}
}

@media (max-width: 570px) {
	//
}

@media (max-width: 480px) {
	//
}

@media (max-width: 320px) {
	//
}