@font-face {
   font-family: "Helvetica Neue";
   src: url('../fonts/947296143-helvetica-neue1.eot');
   src: url('../fonts/947296143-helvetica-neue1.eot?#iefix') format('embedded-opentype'),
   url('../fonts/947296143-helvetica-neue1.svg#Helvetica Neue') format('svg'),
   url('../fonts/947296143-helvetica-neue1.woff') format('woff'),
   url('../fonts/947296143-helvetica-neue1.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Helvetica Neue Bold";
   src: url('../fonts/96557618-helvetica-neue-bold.eot');
   src: url('../fonts/96557618-helvetica-neue-bold.eot?#iefix') format('embedded-opentype'),
   url('../fonts/96557618-helvetica-neue-bold.svg#Helvetica Neue') format('svg'),
   url('../fonts/96557618-helvetica-neue-bold.woff') format('woff'),
   url('../fonts/96557618-helvetica-neue-bold.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
 @font-face {
   font-family: 'Helvetica Neue Light';
   src: url('../fonts/helveticaneueltpro-lt.eot');
   src: url('../fonts/helveticaneueltpro-lt.eot') format('embedded-opentype'),
   url('../fonts/helveticaneueltpro-lt.woff') format('woff'),
   url('../fonts/helveticaneueltpro-lt.ttf') format('truetype'),
   url('../fonts/helveticaneueltpro-lt.svg#HelveticaNeueLTPro45Light') format('svg');
}
