@import "reset.css";

select, textarea, input {
    padding: 0px !important;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Helvetica Neue Light';
    -moz-font-smoothing:antialiased;
    -webkit-font-smoothing:antialiased;
    .shadow {
        background: rgba(0, 0, 0, 0.5);
        z-index: 10;
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;
    }
    header {
        height: 8%;
        width: 100%;
        background: #000000;
        position: absolute;
        top: 0%;
        z-index: 5;
        overflow: hidden;
        .logo {
            width: 30%;
            margin: 0% 12% 0% 3%;
            img {
                height: 90%;
            }
        }
        ul {
            display: inline-block;
            vertical-align: top;
            position: absolute;
            right: 2%;
            width: 42%;
            li {
                margin: 3%;
                display: inline-block;
                vertical-align: top;
            }
            a {
                color: #ffffff;
                text-decoration: none;
                font-family: 'Helvetica Neue';
                font-size: 130%;
                text-transform: uppercase;

                &:hover {
                    color: #ffffff;
                }
                &.current {
                    color: #028dda;
                }
            }
        }
        .social {
            width: 12%;
            height: 50%;
            vertical-align: top;
            display: inline-block;
            position: absolute;
            top: 10%;
            right: 0%;
            text-decoration: none;
            a {
                background: url("../images/icons.png") center center no-repeat;
                width:15%;
                height: 100%;
                margin: 5% 7%;
                display: inline-block;
                overflow: hidden;
                background-position: 50% 0%;
                background-size: 500% 65%;
                &:first-child {
                    background-position: 0% 0%;
                }
                &:last-child {
                    background-position: 100% 0%;
                }
            }
        }
    }
}



#content {
    position: relative;
    width: 100%;
    background: #f8f8f8;
    padding-top: 6%;
    /** main page **/
    .who {
        img {
            max-width: 13%;
            height: auto;
            border: 1px solid #000000;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -11% 0% 0% -7%;
            cursor: pointer;
            box-shadow:0px 0px 30px 1px rgba(0, 0, 0, 0.3);
            border: 1px solid #666666;
        }
    }
    .scroll {
        font-size: 100%;
        color: #5e5c5d;
        text-decoration: none;
        position: absolute;
        bottom: 5%;
        left: 50%;
        margin-left: -3%;
        z-index: 5;
        line-height: 150%;
    }
    
     /** profile page **/
    .promain {
        height: 40%;
        margin: 0% 2% 1% 2%;
        width: 85%;
        &.noleague {
            width: 100%;
        }
        .hidden {
            display: none;
        }
        .pmain {   
            display: inline-block;
            margin: 0% 1%;
            vertical-align: top;
            width: 50%;
            &.pro {
                margin: 0% 1%;
                .block {
                    display: inline-block;
                    width: 30%;
                    vertical-align: middle;
                    margin-right: 3%;
                    .pp {
                        height: 70%;
                        width: 100%;
                        border: 1px solid #000000;
                        background: #ffffff;
                        &.edit {
                            cursor: pointer;
                        }
                    }
                    .publish {
                        display: block;
                        text-align: center;
                        position: relative;
                        p {
                            display: inline-block;
                            margin: 1% 5%;
                            width: 100%;
                            button {
                                text-align: center;
                                transform: skewX(angle);
                                font-size: 120%;
                                color: #ffffff;
                                padding: 5% 10%;
                                background: #028dda;
                                border-top: 1px solid #ffffff;
                                border-left: 1px solid #ffffff; 
                                border-right: 1px solid #cccccc; 
                                border-bottom: 1px solid #cccccc; 
                            }
                        }
                    }
                }  
                .pmpar {
                    display: inline-block;
                    vertical-align: top;
                    width: 65%;
                    p {
                        font-size: 110%;
                        color: #969696;
                        line-height: 130%;
                    }
                    label {
                        display: inline-block;
                        width: 35%;
                        vertical-align: middle;
                    }
                    select, input {                        
                        width: 55%;
                        height: 100%;
                        line-height: 100%;
                        margin: 0%;
                        vertical-align: middle !important;
                        display: inline-block;
                        padding-bottom: 1.3% !important;
                        cursor: pointer;
                    }
                    .form-control {
                        display: inline-block;
                        width: 50%;
                        vertical-align: bottom;
                        font-size: 100%;
                    }
                    .form-control[readonly="readonly"] {
                        background: transparent;
                        border-color: transparent;
                        box-shadow: none;
                    }
                    .ng-pristine {
                        vertical-align: bottom;
                        font-size: 100%;
                        width: 50%;
                    }
                    .ng-pristine[readonly="readonly"] {
                        background: transparent;
                        border-color: transparent;
                        box-shadow: none;
                    }
                    select[readonly="readonly"] {
                        background: transparent;
                        border-color: transparent;
                        box-shadow: none;
                    }
                    img {
                        width: 5%;
                        height: 8%;
                        vertical-align: middle;
                    }
                }
            }

            &.league {
                text-align: center;
                padding: 2% 0% 20% 0%;
                margin-bottom: -20%;
                width: 19%;
                height: 100%;
                background: #ffffff;
                border-left: 1px solid #cccccc;
                box-shadow: 0px 30px 0px 0px rgba(255, 255, 255, 1), 0px 0px 30px 1px rgba(0, 0, 0, 0.3);
                z-index: 3;
                position: relative;
                img {
                    border-radius: 13% 13% 30% 30%;
                    width: 80%;
                }
                i {
                    font-size: 150%;
                    color: #000000;
                    margin-top: 5%;
                    display: block;
                }
                .points {
                    display: block;
                    position: relative;
                    font-size: 150%;
                    top: 10%;
                }
            }

            &.achiev {
                width: 22%;
                text-align: center;
                h3 {
                    color: #000000;
                    font-size: 150%;
                    text-align: center;
                    margin: 3% 0% 5% 0%;
                }
                strong {
                    display: inline-block;
                    width: 20%;
                    text-align: center; 
                    vertical-align: middle;
                    margin: 3%;
                }
            }
        }
    }

    .procrit {
        margin: 0% 1.5%;
        background: #ffffff;
        border-top: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
        box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.3);
        width: 85%;
        height: auto;
        position: relative;
        transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        .white {
            display: block;
            width: 100%;
            height: 100%;
            background: #ffffff;
            position: relative;
            z-index: 5;
            ul {
                text-align: center;
                position: relative;
                margin: 0% auto;
                position: relative;
                overflow: hidden;
                padding-top: 1%;
                li {
                    margin: 2% auto;
                    width: 93%;
                    cursor: pointer;
                    .cr {
                        background: rgb(117,159,210);
                        background: linear-gradient(to right,  rgb(117,159,210) 0%,rgb(55,55,75) 100%,rgb(125,185,232) 100%);
                        line-height: 400%;
                        cursor: pointer;
                        p {
                            font-size: 200%;
                            color: #ffffff;
                            display: inline-block;
                            margin-top: 0.5%;
                            width: 20%;
                            text-align: left;
                        }     
                        strong {
                            background: #ffffff;
                            display: inline-block;
                            line-height: 150%;
                            width: 65%;
                            position: relative;
                            overflow: hidden;
                            b {
                                font-size: 150%;
                                color: #000000;
                                text-align: center;
                                display: block;
                                margin-top: 1%;
                                position: relative;
                                z-index: 5;
                            }
                            span {
                                position: absolute;
                                left: 0%;
                                top: 0%;
                                height: 100%;
                                display: block;
                                background: #759fd2;
                                transition: all 0.5s ease;
                            }
                        }               
                    }
                    ul {
                        vertical-align: top;
                        overflow: hidden;
                        transition: all 1s ease-out;
                        -webkit-transition: all 1s ease-out;
                        position: relative;
                        max-height: 0;
                        opacity: 0;
                        margin: 0%;
                        padding: 0%;
                        &.show {
                            max-height: 100%;
                            opacity: 1;
                            margin: 1% auto;
                        }
                        li {
                            display: block;
                            line-height: 200%;
                            width: 100%;
                            margin: 2% auto;
                            a {
                                font-size: 170%;
                                color: #000000;
                                text-decoration: none;
                                display: inline-block;
                                width: 17%;
                                vertical-align: middle;
                                text-align: left;
                            }
                            span {
                                display: inline-block;
                                vertical-align: middle;
                                transition: all 0.5s ease;
                                margin-right: 1%;
                            }
                            strong {
                                background: #ffffff;
                                border: 1px solid #cccccc;
                                display: inline-block;
                                line-height: 130%;
                                width: 65%;
                                position: relative;
                                overflow: hidden;
                                b {
                                    font-size: 150%;
                                    color: #000000;
                                    text-align: center;
                                    display: block;
                                    margin-top: 1%;
                                    position: relative;
                                    z-index: 5;
                                }
                                span {
                                    position: absolute;
                                    left: 0%;
                                    top: 0%;
                                    height: 100%;
                                    display: block;
                                    background: #759fd2;
                                }
                            }
                            /** criterion **/
                            .criterion {
                                transition: all 1s ease-out;
                                -webkit-transition: all 1s ease-out;
                                overflow: hidden;
                                margin: 0%;
                                max-height:0px;
                                opacity: 0;
                                &.show {
                                    max-height: 100%;
                                    opacity: 1;
                                    margin: 1% auto;
                                }
                                li {
                                    margin: 3% auto;                                    
                                    p {
                                        color: #000000;
                                        font-size: 130%;
                                        display: inline-block;
                                        width: 15%;
                                        text-align: left;
                                        vertical-align: middle;
                                    }
                                    .crp {
                                        display: inline-block;
                                        cursor: pointer;
                                        margin: 0% auto;
                                        background: rgb(117,159,210);
                                        background: linear-gradient(to right,  rgb(117,159,210) 0%,rgb(55,55,75) 100%,rgb(125,185,232) 100%);
                                        width: 70%;
                                        vertical-align: middle;
                                        overflow: hidden;
                                        max-height: 100%;
                                        opacity: 1;
                                        .tab {
                                            display: table;
                                            width: 100%;
                                            li {
                                                display: table-cell;
                                                color: #000000;
                                                font-size: 130%;
                                                width: auto;
                                                margin: 0% auto;
                                                line-height: 100%;
                                                z-index: 7;
                                                position: relative;
                                                padding: 2% 0%;
                                                &.white-text, &.current {
                                                    color: #ffffff;
                                                }
                                            }
                                            span {
                                                position: absolute;
                                                right: -1%;
                                                top: 0%;
                                                height: 100%;
                                                display: block;
                                                background: #ffffff;
                                                width: 100%;
                                                img {
                                                    position: absolute;
                                                    left: -5%;
                                                    top: 0%;
                                                    height: 100%;
                                                    width: 5%;
                                                }
                                            }
                                        }
                                    }
                                }
                            } 
                        }
                    }
                } 
            }        
        }
    }

    .pronear {
        display: inline-block;
        width: 12%;
        height: auto;
        position: absolute;
        right: 0%;
        top: 7.5%;
        padding: 1% 0% 1% 0%;
        margin-top: -1%;
        overflow: hidden;
        background: #ffffff;
        border-left: 1px solid #cccccc;
        span {
            display: block;
            margin: 0% auto 1% auto;
            width: 0%;
            height: 0%;
            border-style: solid;
            border-width: 0 15px 15px 15px;
            border-color: transparent transparent #000000 transparent;
        }
        a:last-child span {
            border-width: 15px 15px 0 15px;
            border-color: #000000 transparent transparent transparent;
            margin: 1% auto 0% auto;
        }
        .ph {
            margin: 0% auto;
            width: 70%;
            a {
                display: block;
                margin: 5% 0%;
                border: 1px solid #000000;
                img {
                    display: block;
                }
            }
        }
    }
}
    


/** registration.modal **/
.registration, .login {
    &.modal {
        width: 30%;
        left: 35%;
        top: 20% !important;
        margin: 0% auto;
        height: auto;
        .modal-body {    
            height: auto;
            max-height: 100%;
            h4 {
                font-size: 130%;
                text-align: center;
                margin: 5% 0px;
            }
            form {
                width: 100%;
                p {
                    margin: 5% 20%;
                    font-size: 100%;
                }
            }
            input.ng-invalid:not(.ng-pristine) {
                color: #b94a48;
                border-color: #ee5f5b;
                border-color: #e9322d !important;
                -webkit-box-shadow: 0 0 6px #f8b9b7 !important;
                -moz-box-shadow: 0 0 6px #f8b9b7 !important;
                box-shadow: 0 0 6px #f8b9b7 !important;
            }
        }
    }
}
.login {
    &.modal {
        top: 30% !important;
    }
}


#modal-shadow {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 500;
    text-align: center;
    &.show {
        display: block;
    }
    img {
        display: inline-block;
        position: relative;
        top: 50%;
    }
}

.controller__ {
    min-height: 100% !important;
}

/** main_leagues **/
#main_leagues {
    ul {
        li {
            a {
                img {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                }
            }
        }
    }
}

.ng-enter, .ng-leave {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
}

.ng-enter, .ng-leave.ng-leave-active {
  opacity:0;
}
.ng-leave,
.ng-enter.ng-enter-active {
  opacity:1;
}

.ng-hide {
  display:none!important;
}

#main_nav {
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -200px;
    background: #89b4e8;
    padding: 20px 0px 20px 0px;
    li {
        padding: 0px 14px 0px 0px;
        &.current {
            background-color: #ffffff;
        }
    }
    .icon {
        display: inline-block;
        width: 65px;
        height: 62px;
        background: url("../images/icon1.png") left top no-repeat;
        &.top {
            background-position: 0px 5px;
            height: 56px;
        }
        &.classmates {
            background-position: 0px -50px;
        }
        &.fellows {
            background-position: 0px -110px;
            height: 56px;
        }
        &.neighbours {
            background-position: 0px -165px;
            height: 56px;
        }
        &.custom {
            background-position: 0px -215px;
        }
        &.colleagues {
            background-position: 0px -280px;
        }
    }
    a {
        display: inline-block;
        color: #123123;
        font-size: 28px;
        font-family: 'Conv_calibri';
        cursor: pointer;
    }
    a, .icon {
        vertical-align: middle;
    }
}