@import "reset.css";

select, textarea, input {
    padding: 0px !important;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Helvetica Neue Light';
    .shadow {
        background: rgba(0, 0, 0, 0.5);
        z-index: 10;
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;
    }
    header {
        height: 8%;
        width: 100%;
        background: #000000;
        position: absolute;
        top: 0px;
        z-index: 5;
        overflow: hidden;
        .logo {
            width: 30%;
            margin: 0px 12% 0px 3%;
            img {
                width: 22%;
                height: 90%;
            }
        }
        ul {
            display: inline-block;
            vertical-align: top;
            position: absolute;
            right: 2%;
            width: 40%;
            li {
                margin: 13px;
                display: inline-block;
                vertical-align: top;
            }
            a {
                color: #cccccc;
                text-decoration: none;
                font-family: 'Helvetica Neue';
                font-size: 18px;
                text-transform: uppercase;

                &:hover {
                    color: #cccccc;
                }
                &.current {
                    color: #028dda;
                }
            }
        }
        .social {
            width: 13%;
            vertical-align: top;
            display: inline-block;
            position: absolute;
            top: 0px;
            right: 5%;
            img {
                height: 32px;
                width: 96px;
            }
        }
    }
}



#content {
    position: relative;
    width: 100%;
    height: 90%;
    background: #f8f8f8;
    padding-top: 5%;
    /** main page **/
    .who {
        img {
            width: 200px;
            height: 200px;
            border: 1px solid #000000;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -100px 0px 0px -130px;
        }
    }
    .scroll {
        font-size: 16px;
        color: #5e5c5d;
        text-decoration: none;
        position: absolute;
        bottom: 30px;
        left: 50%;
        margin-left: -50px;
    }
    
     /** profile page **/
    .promain {
        height: 40%;
        margin: 0% 2%;
        width: 85%;
        .hidden {
            display: none;
        }
        .pmain {   
            display: inline-block;
            margin: 0% 1%;
            vertical-align: top;
            width: 43%; 
            &.pro {
                margin: 0% 1%;
                .pp {
                    width: 33%;
                    height: 70%;
                    border: 1px solid #000000;
                    vertical-align: middle;
                    cursor: pointer;
                    margin-right: 3%;
                    background: #ffffff;
                }
                .pmpar {
                    display: inline-block;
                    vertical-align: middle;
                    width: 55%;
                    p {
                        font-size: 120%;
                        color: #969696;
                        line-height: 250%;
                    }
                    label {
                        display: inline-block;
                        width: 33%;
                        vertical-align: middle;
                    }
                    select, input {                        
                        width: 57%;
                        height: 100%;
                        line-height: 100%;
                        margin: 0%;
                        vertical-align: middle !important;
                        display: inline-block;
                        padding-bottom: 1.3% !important;
                    }
                    .form-control {
                        display: inline-block;
                        width: 55%;
                        vertical-align: bottom;
                        font-size: 100%;
                    }
                    .form-control[disabled="disabled"] {
                        background: transparent;
                        border-color: transparent;
                        box-shadow: none;
                    }
                    .ng-pristine {
                        vertical-align: bottom;
                        font-size: 100%;
                        width: 55%;
                    }
                    .ng-pristine[disabled="disabled"] {
                        background: transparent;
                        border-color: transparent;
                        box-shadow: none;
                    }
                    img {
                        width: 5%;
                        height: 8%;
                        vertical-align: middle;
                    }
                }
                .publish {
                    p {
                        display: inline-block;
                        margin: 1% 5%;
                        height: 20%;
                        width: 30%;
                        button {
                            text-align: center;
                            transform: skewX(angle);
                            font-size: 16px;
                            color: #ffffff;
                            padding: 5% 10%;
                            background: #028dda;
                            border-top: 1px solid #ffffff;
                            border-left: 1px solid #ffffff; 
                            border-right: 1px solid #cccccc; 
                            border-bottom: 1px solid #cccccc; 
                        }
                    }
                }
            }

            &.league {
                text-align: center;
                padding: 2% 0% 5.6% 0%;
                width: 19%;
                height: 100%;
                background: #ffffff;
                border-left: 1px solid #cccccc;
                box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.3);
                z-index: 3;
                position: relative;
                img {
                    border-radius: 20px;
                }
                i {
                    font-size: 20px;
                    color: #000000;
                    padding-top: 15px;
                    display: block;
                }
                sub {
                    background: #ffffff;
                    position: absolute;
                    display: block;
                    bottom: -10%;
                    left: -8%;
                    height: 10%;
                    width: 115%;
                }
            }

            &.achiev {
                width: 30%;
                text-align: center;
                h3 {
                    color: #000000;
                    font-size: 23px;
                    font-weight: bold;
                    text-align: center;
                    margin-bottom: 5%;
                }
                strong {
                    display: inline-block;
                    width: 15%;
                    text-align: center; 
                    vertical-align: middle;
                    margin: 3%;
                }
            }
        }
    }

    .procrit {
        margin: 0% 1.5%;
        background: #ffffff;
        border-top: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
        box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.3);
        width: 87%;
        height: auto;
        position: relative;
        ul {
            text-align: center;
            position: relative;
            z-index: 5;
            margin: 2% auto;
            li {
                margin: 2% auto;
                width: 93%;
                .cr {
                    background: rgb(117,159,210);
                    background: linear-gradient(to right,  rgb(117,159,210) 0%,rgb(55,55,75) 100%,rgb(125,185,232) 100%);
                    line-height: 400%;
                    p {
                        font-size: 200%;
                        color: #ffffff;
                        display: inline-block;
                        margin-top: 0.5%;
                        width: 20%;
                        text-align: left;
                    }     
                    strong {
                        background: #ffffff;
                        display: inline-block;
                        line-height: 150%;
                        width: 65%;
                        b {
                            font-size: 150%;
                            color: #000000;
                            text-align: center;
                            display: block;
                            margin-top: 1%;
                        }
                    }               
                }
                ul {
                    vertical-align: top;
                    li {
                        display: block;
                        line-height: 200%;
                        width: 100%;
                        margin: 0px;
                        a {
                            font-size: 150%;
                            color: #000000;
                            text-decoration: none;
                            display: inline-block;
                            width: 16%;
                            vertical-align: middle;
                            text-align: left;
                        }
                        span {
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 2%;
                        }
                        strong {
                            background: #759fd2;
                            border: 1px solid #cccccc;
                            display: inline-block;
                            line-height: 100%;
                            width: 60%;
                            b {
                                font-size: 150%;
                                color: #000000;
                                text-align: center;
                                display: block;
                                margin-top: 1%;
                            }
                        }
                    }
                }
            }
        }
    }

    .pronear {
        display: inline-block;
        width: 10%;
        height: 100%;
        position: absolute;
        right: 0%;
        top: 9%;
        padding-top: 5%;
        margin-top: -5%;
        overflow: hidden;
        background: #ffffff;
        border-left: 1px solid #cccccc;
        span {
            display: block;
            margin: 0% auto 10% auto;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 0 15px 15px 15px;
            border-color: transparent transparent #000000 transparent;
        }
        a:last-child span {
            border-width: 15px 15px 0 15px;
            border-color: #000000 transparent transparent transparent;
            margin: 10% auto 0% auto;
        }
        .ph {
            margin: 0% auto;
            width: 80%;
            a {
                display: block;
                margin: 5% 0%;
                border: 1px solid #000000;
            }
        }
    }
}
    



/** criterion **/
.modal {
    width: 50%;
    height: 70%;
    margin: 0px auto;
    left: 25%;
    .modal-body {
        min-height: 90%;
        .criterion {
            z-index: 15;
            h3 {
                color: #000000;
                font-size: 23px;
                font-weight: bold;
                text-align: center;
                margin: 3% 0px;
            }
            ul {
                text-align: center;
                vertical-align: middle;
                li {
                    margin: 3% 0px;
                    position: relative;
                }
                p {
                    color: #000000;
                    font-size: 18px;
                    text-align: left;
                    margin: 0px 0px 10px 5%;
                }
                .crp {
                    display: table;
                    width: 100%;
                    border-radius: 15px;
                    background: #1e5799;
                    background: -moz-linear-gradient(left,  #1e5799 0%, #207cca 0%, #d3d3d3 0%, #f7f7f7 100%);
                    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1e5799), color-stop(0%,#207cca), color-stop(0%,#d3d3d3), color-stop(100%,#f7f7f7));
                    background: -webkit-linear-gradient(left,  #1e5799 0%,#207cca 0%,#d3d3d3 0%,#f7f7f7 100%);
                    background: -o-linear-gradient(left,  #1e5799 0%,#207cca 0%,#d3d3d3 0%,#f7f7f7 100%);
                    background: -ms-linear-gradient(left,  #1e5799 0%,#207cca 0%,#d3d3d3 0%,#f7f7f7 100%);
                    background: linear-gradient(to right,  #1e5799 0%,#207cca 0%,#d3d3d3 0%,#f7f7f7 100%);
                    cursor: pointer;
                    li {
                        display: table-cell;
                        font-size: 14px;
                        color: #000000;
                        line-height: 200%;
                        &.current {
                            background: #ffffff;
                        }
                    }
                }
            }
            sub {
                width: 0px;
                height: 0px;
                border-style: solid;
                border-width: 0 5px 20px 5px;
                border-color: transparent transparent #a8a8a8 transparent;
                position: absolute;
                top: 70%;
                left: 50%;
            }
        }       
    } 
    .btn-warning {
        background-color: #cccccc;
        background-image: -moz-linear-gradient(top, #8cc4ff, #0064cf);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8cc4ff), to(#0064cf));
        background-image: -webkit-linear-gradient(top, #8cc4ff, #0064cf);
        background-image: -o-linear-gradient(top, #8cc4ff, #0064cf);
        background-image: linear-gradient(to bottom, #8cc4ff, #0064cf);
        border-color: #cccccc #efefef #c0c0c0;

        &:hover, &:active {
            background-color: #0064cf;
        }
    }
}

/** registration.modal **/
.registration, .login {
    &.modal {
        width: 30%;
        height: 50%;
        left: 35%;
        top: 20% !important;
        h4 {
            font-size: 23px;
            font-weight: bold;
            text-align: center;
            margin: 5% 0px;
        }
        form {
            width: 100%;
            p {
                margin: 5% 15%;
                font-size: 18px;
            }
        }
        input.ng-invalid:not(.ng-pristine) {
            color: #b94a48;
            border-color: #ee5f5b;
            border-color: #e9322d !important;
            -webkit-box-shadow: 0 0 6px #f8b9b7 !important;
            -moz-box-shadow: 0 0 6px #f8b9b7 !important;
            box-shadow: 0 0 6px #f8b9b7 !important;
        }
    }
}
