<div class="hero-unit">
  <h2>All News</h2>
  <%- linkTo('Create a new News', addNewsPath, {class: 'btn pull-right'}); %>
</div>

<div id="news-list">
<% if (news) { %>
<% for (var i = 0, ii = news.length; i < ii; i++) { %>
  <div class="row list-item" id="news-<%= news[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(news[i].title, newsPath(news[i].id)); %></h3>
    </div>
    <div class="span4">
      <h3><i class="icon-list-alt"></i><%= news[i].id; %></h3>
    </div>
  </div>
<% } %>
<% } %>
</div>