<div class="nearblock" ng-controller="NeighboursCtrl">
	<div ng-controller="TopGalleryController">
		<div ng-controller="GalleryController">
			<div class="lnbl">
				<div class="gallery" ng-if="users.length > 0">
					<h4>{{'_topL_' | i18n}}</h4>
					<div class="lnbl" ng-include src="'partials/gallery.html'"></div>
				</div>
			</div>
		</div>
	</div>
	<i></i>
	<div ng-controller="NeighboursGalleryController">
		<div ng-controller="GalleryController"  ng-init="id='neigh';title='_neighL_'">
			<div class="lnbl">
				<div class="gallery" ng-if="users.length > 0">
					<h4>{{'_neighL_' | i18n}}</h4>
					<div class="lnbl" ng-include src="'partials/gallery.html'"></div>
				</div>
			</div>
		</div>
	</div>
</div>