@import "reset.css";


select, textarea, input {
    padding: 0px !important;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 100%;
    color: #5387BC;
    -moz-font-smoothing:antialiased;
    -webkit-font-smoothing:antialiased;
    header {
        height: 7%;
        width: 100%;
        background: #f9f9f9;
        border-bottom: 1px solid #000000;
        top: 0%;
        margin-bottom: 1%;
        ul {
            display: block;
            li {
                display: inline-block;
                margin: 1%;
                a {
                    text-decoration: none;
                    cursor: pointer;
                }
            }
            .current {
                color: #46496b;
                cursor: default;
            }
        }
    }
}



#content {
    position: relative;
    width: 100%;
    min-height: 90%;
    overflow: hidden;


    /** home page **/
    section#home {

    }
    
    
    /** users page **/
    section#users {
        h1 {
            font-size: 150%;
            color: #46496b;
            margin: 0% 20% 0% 10%;
            display: inline-block;
            vertical-align: middle;
        }
        button {
            text-align: center;
            transform: skewX(angle);
            font-size: 120%;
            color: #ffffff;
            padding: 5px 10px;
            background: #759fd2;
            border-top: 1px solid #ffffff;
            border-left: 1px solid #ffffff; 
            border-right: 1px solid #cccccc; 
            border-bottom: 1px solid #cccccc; 
            border-radius: 3px;
            width: auto;
            height: auto;
            display: inline-block;
            vertical-align: middle;
            &:hover {
                box-shadow: inset 0px 0px 30px 1px rgba(70, 73, 107, 0.5);
            }
        }
        .height {
            height: 700px;
            width: 98%;
            margin: 1% auto;
            .ngHeaderCell {
                color: #46496b;
                .ngHeaderText {
                    text-align: center;
                }
            }
            .ngCellText {
                margin-left: 10px;
                .links {
                    color: #5387BC;
                    text-decoration: none;
                    cursor: pointer !important;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .ngFooterPanel {
                color: #46496b;
                .ngTotalSelectContainer {
                    margin-left: 15px;
                }
                .ngPagerContainer {
                    float: none;
                    position: absolute;
                    right: 0%;
                    top: 0%;
                    margin-right: 5%;
                    .ngRowCountPicker {
                        display: none;
                    }
                    .ngPagerControl {
                        width: 120%;
                    }
                }
            }
        }
    }


    /** providers page **/
    section#providers {
        
    }
    

    /** goals library page **/
    section#goalslib {
        
    }
    

    /** nsi editor page **/
    section#nsiedit {
        
    }
   

    /** mindmaps page **/
    section#mindmaps {
        
    }
    

    /** charts page **/
    section#charts {
        
    }
    

    /** tutors page **/
    section#tutors {
        
    }

}


/** providers page **/
.modal {
    top: 30%;
    p {
        margin-left: 30%;
        display: block;
        label {
            margin-bottom: 2%;
        }
    }
    .btn-success {
    background-color: #447FBA;
    background-image: -moz-linear-gradient(top, #99c8e0, #447FBA);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#99c8e0), to(#447FBA));
    background-image: -webkit-linear-gradient(top, #99c8e0, #447FBA);
    background-image: -o-linear-gradient(top, #99c8e0, #447FBA);
    background-image: linear-gradient(to bottom, #99c8e0, #447FBA);
    }
    .btn-danger {
    background-color: #46496b;
    background-image: -moz-linear-gradient(top, #7E83BC, #46496b);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7E83BC), to(#46496b));
    background-image: -webkit-linear-gradient(top, #7E83BC, #46496b);
    background-image: -o-linear-gradient(top, #7E83BC, #46496b);
    background-image: linear-gradient(to bottom, #7E83BC, #46496b);
    }
}