@import "reset.css";
@import "fonts.css";
@import "jquery.selectbox.css";
@import "jquery.jscrollpane.css";

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

header {
	background: url("/static/images/name.png") left top no-repeat;
	height: 150px;
	width: 1244px;
	position: absolute;
	z-index: 170;
}
header:after {
	background: url("/static/images/name.png") left top no-repeat;
	content: ".";
	display: block;
	top: 0px;
	left: 0px;
	position: absolute;
	text-indent: -999px;
	overflow: hidden;
	width: 20px;
	height: 350px;
}
header a {
	position: absolute;
	background: url("/static/images/logo.png") 30px 14px no-repeat;
	height: 145px;
	width: 145px;
}
header p {
	font-family: 'NeoSansPro-Light';
	font-size: 21px;
	color: #ffffff;
	line-height: 25px;
	padding: 28px 0px 0px 160px;
}

header h1 {
	position: absolute;
	background: url("/static/images/region.png") center center no-repeat;
	height: 70px;
	width: 590px;
	font-family: 'NeoSansPro-Light';
	font-size: 21px;
	color: #ffffff;
	line-height: 67px;
	left: 660px;
	top: 94px;
	text-align: center;
}

#content {
	width: 100%;
}
#miniMap {
	position: absolute;
	background: url("/static/images/mbg.png") center center no-repeat;
	height: 170px;
	width: 280px;
	left: 0px;
	top: 168px;
	z-index: 160;
	cursor: pointer;
	-webkit-transition: all 0.3s linear;
	opacity: 0;
	visibility: hidden;
}
#miniMap a {
	font-family: 'NeoSansPro-Medium';
	font-size: 21px;
	color: #ffffff;
	text-align: center;
	height: 50px;
	width: 260px;
	left: 17px;
	top: 5px;
	display: block;
	position: relative;
	padding-top: 113px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#content .time {
	background: url("/static/images/time.png") right top no-repeat;
	height: 174px;
	width: 564px;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 130;
}
#content .time b {
	font-family: 'NeoSansPro-Light';
	font-size: 30px;
	color: #ffffff;
	text-align: center;
	max-width: 100px;
	display: block;
	padding: 12px 0px 0px 437px;
}
#content .time p {
	font-family: 'NeoSansPro-Light';
	font-size: 13px;
	color: #ffffff;
	text-align: center;
	max-width: 100px;
	display: block;
	padding-left: 437px;
}

#content .nav {
	background: url("/static/images/nav.png") center bottom no-repeat;
	height: 60px;
	width: 1428px;
	display: block;
	bottom: 0px;
	left: 260px;
	text-align: center;
	position: absolute;
	z-index: 130;
}
#content .nav a {
	width: 100px;
	height: 30px;
	margin: 23px 35px 0px 20px;
	font-family: 'NeoSansPro-Light';
	font-size: 20px;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	text-transform: lowercase;
	cursor: pointer;
	-webkit-transition: all 0.7s linear;
}
#content .nav a:first-child {
	position: relative;
	left: -10px;
}
#content .nav a.active {
	font-weight: bold;
}
#content .nav a:hover {
 	text-shadow:0 0 14px #000000;
}
#content .nav a.cooming {
	cursor: default;
	opacity: 0.5;
}
#content .legend {
	position: absolute;
	height: 523px;
	width: 287px;
	background: url("/static/images/legenda.png") right bottom no-repeat;
	display: none;
	bottom: 0px;
	right: 0px;
	z-index: 130;
	-webkit-transition: opacity 0.3s linear;
}
#content .legend p {
	font-family: 'NeoSansPro-Light';
	font-size: 18px;
	color: #ffffff;
	display: block;
	padding: 12px 0px 11px 190px;
}
#content .legend p:first-child {
	margin-top: 255px;
	position: relative;
	top: 10px;
}
#content .legend a {
	font-family: 'NeoSansPro-Light';
	font-size: 18px;
	color: #ffffff;
	padding: 10px 0px 0px 160px;
	display: block;
	line-height: 15px;
	text-decoration: none;
}
#content .legend a.onShow {
	background: url("/static/images/ya1.png") 100px 15px no-repeat;
}
#content > a {
	position: absolute;
	background: url("/static/images/show.png") right center no-repeat;
	height: 443px;
	width: 60px;
	display: block;
	top: 174px;
	right: 0px;
	z-index: 130;
}

#load {
	opacity: 0;
	display: none;
	width: 1019px;
	height: 1000px;
	position: absolute;
	background: url("/static/images/loading.png") center center no-repeat;
	left: 50%;
	margin-left: -510px;
	top: 40px;
	z-index: 200;
	-webkit-transition: all 0.5s linear;
}

#load img {
	display: block;
	left: 50%;
	top: 50%;
	margin: -90px 0px 0px -78px;
	width: 154px;
	height: 153px;
	position: absolute;
}
#load.onShow img {
	-webkit-animation: rotating 4s linear infinite;
}

#bg-image {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
    background-position: left top;
    background-repeat: no-repeat;
    -webkit-transform:translateZ(0);
}

.blur {
	-webkit-filter: blur(10px);
}

#app {
    position: relative;
    overflow: hidden;
}
#bg-svg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 110;
}
#bg-svg object {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 136;
}
#bg-video {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 120;
}

#panels {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;	
}

#content .nav-elements, .nav-elements {
	opacity: 0;
	-webkit-transition: all 1.3s ease;
}
#content .nav-elements.onShow, .nav-elements.onShow {
	opacity: 1;
	
}
#content .data {
	position: absolute;
	background: url("/static/images/data.png") right center no-repeat;
	height: 451px;
	width: 360px;
	right: 0px;
	top: 150px;
	overflow: hidden;
	display: none;
	z-index: 130;
}
#content .data .hidden {
	position: absolute;
	background: url("/static/images/hide.png") center center no-repeat;
	height: 48px;
	width: 28px;
	left: 26px;
	top: 240px;
	display: block;
	z-index: 130;
}
#content .data .group {
	cursor: pointer;
}
#content .data h3 {
	font-family: 'NeoSansPro';
	font-size: 16px;
	color: #ffffff;
	margin: 27px 0px 10px 75px;
	overflow: hidden;
	padding-right: 15px;
	height: 33px;
	vertical-align: middle;
}
#param-info {
	height: 36px;
	color: #ffffff;
	font-family: 'NeoSansPro-Light';
	padding-left: 85px;
	padding-right: 30px;
	line-height: 100%;
	position: relative;
	top: -2px;
	display: table-cell;
	vertical-align: middle;
}
#content .data .search, #content .data .year {
	background: none;
	border: none;
	width: 160px;
	height: 25px;
	padding-left: 90px;
	font-family: 'NeoSansPro-Light';
	color: #ffffff;
	font-size: 16px;
	margin-bottom: 20px;
}
#content .data .year {
	width: 90px;
	float: right;
	background: #7696b8;
	padding-left: 15px;
}
#content .data  ul.first {
	display: block;
	margin-left: 70px;
}
#content .data .jspPane > ul.hidde {
	display: none;
}
#content .data ul span {
	width: 180px;
	float: left;
}
#content .data ul i {
	width: 60px;
	float: right;
}
#content .data .scroll li {
	display: block;
	font-family: 'NeoSansPro-Light';
	font-size: 17px;
	color: #ffffff;
	overflow: hidden;
	line-height: 120%;
}
#content .data .jspContainer {
	height: 250px !important;
}
#content .data .scroll li ul {
	display: block;
}
#content .data .scroll li ul li {
	padding-top: 4px;
	padding-bottom: 4px;
	position: relative;
	padding-left: 10px;
}
#content .data .scroll li ul li.hidde {
	display: none;
}
#content .data .scroll li ul li .spr {
	position: absolute;
	left: 0px;
	top: 4px;
}
#content .data .scroll li ul li .name {
	cursor: pointer;
}
#content .data .scroll li ul li .name.active {
	text-decoration: underline;
}
#content .data .scroll .group {
	padding-bottom: 16px;
	padding-top: 4px;
	display: block;
}
#content .data li.current {
	height: auto;
}
#content .data .scroll {
	overflow: auto;
	max-height: 250px;
}

#content .show {
	position: absolute;
	background: url("/static/images/show.png") right center no-repeat;
	height: 443px;
	width: 60px;
	top: 174px;
	right: 0px;
	cursor: pointer;
	z-index: 130;
	display: none;
}

#map-color-toggler {
	cursor: pointer;
}

#bg-colored-image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 65;
	opacity: 0;
	-webkit-transition: opacity 0.5s linear;
}
.onShow {
	opacity: 1 !important;
	display: block !important;
	visibility: visible !important;
}


/* Форматы */
.show-f {
	position: absolute;
	background: url("/static/images/formats/show-right.png") right center no-repeat;
	height: 619px;
	width: 60px;
	top: 153px;
	right: 0px;
	z-index: 200;
	left: auto;
}
.reg {
	background: url("/static/images/formats/show-left.png") left center no-repeat;
	top: 160px;
	left: 0px;
	z-index: 200;
}
#content .region {
	position: absolute;
	background: url("/static/images/formats/left-f.png") left center no-repeat;
	height: 630px;
	width: 375px;
	top: 158px;
	left: 0px;
	display: block;
}
#content .data.f {
	position: absolute;
	background: url("/static/images/formats/right-f.png") right center no-repeat;
	height: 635px;
	width: 335px;
	top: 153px;
	right: 0px;
	display: block;
}
#content .data.region .hidden {
	position: absolute;
	background: url("/static/images/formats/h-left.png") center center no-repeat;
	height: 48px;
	width: 28px;
	left: 341px;
	top: 324px;
	display: block;
	z-index: 130;
}
#content .data.f .hidden {
	position: absolute;
	background: url("/static/images/formats/h-right.png") center center no-repeat;
	height: 20px;
	width: 18px;
	left: 10px;
	top: 345px;
	display: block;
	z-index: 130;
}
#content .data.f h3 {
	margin: 40px 25px 20px 55px;
	padding-right: 0px;
}
#content .data.region .search {
	width: 230px;
	height: 25px;
	padding-left: 20px;
	margin: 72px 0px 35px 40px;
}
#content .data.f .search {
	width: 160px;
	height: 25px;
	padding-left: 90px;
	margin: 0px 0px 35px -30px;
}
#content .data.f section ul a, #content .data.region section ul a {
	background: url("/static/images/formats/yah.png") center center no-repeat;
	height: 30px;
	width: 40px;
	float: right;
}
#content .data.f section ul a.current, #content .data.region section ul a.current {
	background: url("/static/images/formats/ya.png") center center no-repeat;
}
#content .data.region section ul span {
	width: 250px;
	float: left;
	cursor: pointer;
}
#content .data.f section ul span {
	width: 205px !important;
	cursor: pointer;
}
#content .data.region section li ul li span {
	width: 240px !important;
}
#content .data.f section li ul li span {
	width: 195px !important;
}
#content .data.f .scroll {
	overflow: auto;
	max-height: 450px;
	width: 290px;
	padding-left: 45px;
}
#content .data.region .scroll {
	overflow: auto;
	max-height: 455px;
	width: 335px;
	padding-left: 50px;
}
#content .data.f .scroll li {
	width: 250px !important;
}
#content .data.region .scroll li {
	width: 290px !important;
}
#content .data.region .scroll li ul li {
	width: 280px !important;
}
#content .data.f .scroll li ul li {
	width: 240px !important;
}

#content .table {
	position: absolute;
	background: url("/static/images/formats/table.png") center center no-repeat;
	height: 830px;
	width: 1130px;
	left: 420px;
	top: 155px;
	z-index: 100;
}
#content .table table {
	width: 1020px;
	height: 720px;
	border: 1px solid rgba(180, 218, 255, 0.33);
	
	border-collapse: separate;
	overflow: auto;
	table-layout: fixed;
}
#content .table table td {
	border: 1px solid rgba(180, 218, 255, 0.33);
	height: 18px;
	font-family: 'NeoSansPro-Light';
	font-size: 16px;
	color: #ffffff;
	padding: 10px;
}
#content .table table tr:nth-child(2n) {
	background: rgba(128, 191, 255, 0.1);
}


.onHidden {
	opacity: 0;
	visibility: hidden;
}

#map-params {
	position: relative;
	right: 0px;
	-webkit-transition: all 1s linear;
}
#map-params.hidden {
	right: -370px;
}
#regions-selector {
	position: relative;
	left: 0px;
	-webkit-transition: all 1s linear;
}
#regions-selector.hidden {
	left: -370px;
}

#region-data {
	-webkit-transition: all 1s linear;
	display: block !important;
}
#region-data.hidden, #regions-nav-show.hidden {
	left: -370px;
}
#regions-nav-show {
	-webkit-transition: all 1s linear;
}

#params-selector {
	position: relative;
	right: 0px;
	-webkit-transition: all 1s linear;
}
#params-selector.hidden {
	right: -370px !important;
}

#params-data {
	-webkit-transition: all 1s linear;
	display: block !important;
}
#params-data.hidden, #params-nav-show.hidden {
	right: -370px !important;
}
#params-nav-show {
	-webkit-transition: all 1s linear;
}

#region-data .jspVerticalBar {
	left: 0px;
	right: auto;
	background: url("/static/images/formats/s1.png") center center no-repeat;
}
#panels #region-data .jspContainer {
	height: 447px !important;
}
#panels #region-data .jspContainer .jspArrowUp, #panels #region-data .jspContainer .jspArrowDown {
	left: 2px !important;
}
#panels #region-data .jspContainer .jspDrag {
	right: 3px !important;
}
#content #region-data .jspPane {
	margin-left: 0px !important;
}

#content .data.f ul.first {
	margin-left: 0px !important;
}

#panels #content .data.f .jspContainer {
	height: 447px !important;
}

#panels #content .data.f .jspVerticalBar {
	background: url("/static/images/formats/s2.png") center center no-repeat;
}


#format-data {
	-webkit-transition: all 1s linear;
}

#format-data.hidden {
	top: 1200px !important;
}

#table-format {
	overflow: auto;
	height: 670px;
	margin: 85px 13px 75px 35px;
}

#table-format .jspContainer {
	
}

#table-format .jspVerticalBar {
	background: url("/static/images/formats/s3.png") left top no-repeat;
}

#loading {
	font-family: NeoSansPro-Light; 
	position: absolute; 
	left: 42%; 
	top: 60%; 
	color: #ffffff; 
	font-size: 22px;
}

#content .data ul.regions-params span {
	width: 100%;
	cursor: pointer;
	padding-bottom: 10px;
}
#content .data ul.regions-params span .name.active {
	text-decoration: underline;
}

#map-color-toggler {
	display: none !important;
}