@import "reset.css";
@import "fonts.css";
@import "jquery.selectbox.css";
@import "jquery.jscrollpane.css";

header {
	background: url("/static/images/name.png") left top no-repeat;
	height: 290px;
	width: 1244px;
	position: absolute;
	z-index: 70;
}
header a {
	position: absolute;
	background: url("/static/images/logo.png") 30px 14px no-repeat;
	height: 145px;
	width: 145px;
}
header p {
	font-family: 'NeoSansPro-Light';
	font-size: 21px;
	color: #ffffff;
	line-height: 25px;
	padding: 28px 0px 0px 160px;
}

header h1 {
	position: absolute;
	background: url("/static/images/region.png") center center no-repeat;
	height: 70px;
	width: 590px;
	font-family: 'NeoSansPro-Light';
	font-size: 21px;
	color: #ffffff;
	line-height: 67px;
	left: 660px;
	top: 94px;
	text-align: center;
}

#content {
	width: 100%;
}
#miniMap {
	position: absolute;
	background: url("/static/images/mbg.png") center center no-repeat;
	height: 170px;
	width: 280px;
	left: 0px;
	top: 168px;
	z-index: 160;
	display: none;
	cursor: pointer;
}
#miniMap a {
	font-family: 'NeoSansPro-Light';
	font-size: 21px;
	color: #ffffff;
	text-align: center;
	height: 50px;
	width: 260px;
	left: 17px;
	top: 5px;
	display: block;
	position: relative;
	padding-top: 113px;
}

#content .time {
	background: url("/static/images/time.png") right top no-repeat;
	height: 174px;
	width: 564px;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 130;
}
#content .time b {
	font-family: 'NeoSansPro-Light';
	font-size: 30px;
	color: #ffffff;
	text-align: center;
	max-width: 100px;
	display: block;
	padding: 12px 0px 0px 437px;
}
#content .time p {
	font-family: 'NeoSansPro-Light';
	font-size: 13px;
	color: #ffffff;
	text-align: center;
	max-width: 100px;
	display: block;
	padding-left: 437px;
}

#content .nav {
	background: url("/static/images/nav.png") center bottom no-repeat;
	height: 60px;
	width: 1428px;
	display: block;
	bottom: 0px;
	left: 260px;
	text-align: center;
	position: absolute;
	z-index: 130;
}
#content .nav a {
	width: 100px;
	height: 30px;
	margin: 23px 35px 0px 20px;
	font-family: 'NeoSansPro-Light';
	font-size: 20px;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
}

#content .legend {
	position: absolute;
	height: 523px;
	width: 287px;
	background: url("/static/images/legend.png") right bottom no-repeat;
	display: none;
	bottom: 0px;
	right: 0px;
	z-index: 130;
	-webkit-transition: all 0.3s linear;
}
#content .legend p {
	font-family: 'NeoSansPro-Light';
	font-size: 18px;
	color: #ffffff;
	display: block;
	padding: 12px 0px 11px 190px;
}
#content .legend p:first-child {
	margin-top: 270px;
}
#content .legend a {
	font-family: 'NeoSansPro-Light';
	font-size: 18px;
	color: #ffffff;
	padding: 10px 0px 0px 160px;
	display: block;
	line-height: 15px;
	text-decoration: none;
<<<<<<< HEAD
}
#content .legend a.onShow {
	background: url("/static/images/ya.png") 105px 23px no-repeat;
=======
	background: url("/static/images/ya1.png") 105px 15px no-repeat;
>>>>>>> 552aa11e8cc0bf6570d7a10beb1fa11c4d1cfd2f
}
#content > a {
	position: absolute;
	background: url("/static/images/show.png") right center no-repeat;
	height: 443px;
	width: 60px;
	display: block;
	top: 174px;
	right: 0px;
	z-index: 130;
}

#load {
	opacity: 0;
	display: none;
	width: 1019px;
	height: 1000px;
	position: absolute;
	background: url("/static/images/loading.png") center center no-repeat;
	left: 50%;
	margin-left: -510px;
	top: 40px;
	z-index: 200;

	-webkit-transition: all 0.3s linear;
}

#load img {
	display: block;
	left: 50%;
	top: 50%;
	margin: -90px 0px 0px -78px;
	width: 154px;
	height: 153px;
	position: absolute;
}


#bg-image {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
    background-position: left top;
    background-repeat: no-repeat;

    -webkit-transition: filter 0.5s linear;
}

.blur {
	-webkit-filter: blur(2px);
}

#app {
    position: relative;
    overflow: hidden;
}
#bg-svg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 110;
}
#bg-svg object {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 136;
}
#bg-video {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 120;
}

#panels {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;	
}

#content .nav-elements, .nav-elements {
	opacity: 0;
	-webkit-transition: all 1.3s ease;
}
#content .nav-elements.onShow, .nav-elements.onShow {
	opacity: 1;
	
}
#content .data {
	position: absolute;
	background: url("/static/images/data.png") right center no-repeat;
	height: 451px;
	width: 360px;
	right: 0px;
	top: 150px;
	overflow: hidden;
	display: none;
	z-index: 130;
}
#content .data .hidden {
	position: absolute;
	background: url("/static/images/hide.png") center center no-repeat;
	height: 48px;
	width: 28px;
	left: 26px;
	top: 240px;
	display: block;
	z-index: 130;
}
#content .data .group {
	cursor: pointer;
}
#content .data h3 {
	font-family: 'NeoSansPro';
	font-size: 16px;
	color: #ffffff;
	margin: 40px 0px 50px 75px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-right: 15px;
}
#content .data .search, #content .data .year {
	background: none;
	border: none;
	width: 160px;
	height: 25px;
	padding-left: 90px;
	font-family: 'NeoSansPro-Light';
	color: #ffffff;
	font-size: 16px;
	margin-bottom: 20px;
}
#content .data .year {
	width: 90px;
	float: right;
	background: #7696b8;
	padding-left: 15px;
}
#content .data  ul.first {
	display: block;
	margin-left: 70px;
}
#content .data .jspPane > ul.hidde {
	display: none;
}
#content .data ul span {
	width: 180px;
	float: left;
}
#content .data ul i {
	width: 60px;
	float: right;
}
#content .data .scroll li {
	display: block;
	font-family: 'NeoSansPro-Light';
	font-size: 16px;
	color: #ffffff;
	overflow: hidden;
	line-height: 120%;
}
#content .data .jspContainer {
	height: 250px !important;
}
#content .data .scroll li ul {
	display: block;
}
#content .data .scroll li ul li {
	padding-top: 4px;
	padding-bottom: 4px;
	position: relative;
	padding-left: 10px;
}
#content .data .scroll li ul li.hidde {
	display: none;
}
#content .data .scroll li ul li .spr {
	position: absolute;
	left: 0px;
	top: 4px;
}
#content .data .scroll li ul li .name {
	cursor: pointer;
}
#content .data .scroll li ul li .name.active {
	text-decoration: underline;
}
#content .data .scroll .group {
	padding-bottom: 16px;
	padding-top: 4px;
	display: block;
}
#content .data li.current {
	height: auto;
}
#content .data .scroll {
	overflow: auto;
	max-height: 250px;
}

#content .show {
	position: absolute;
	background: url("/static/images/show.png") right center no-repeat;
	height: 443px;
	width: 60px;
	top: 174px;
	right: 0px;
	cursor: pointer;
	z-index: 130;
}

.video {
	display: none;
}

#map-color-toggler {
	cursor: pointer;
}

#bg-colored-image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 65;
}

.onShow {
	opacity: 1 !important;
	display: block !important;
}