body { 
    font-family: Arial, Verdana, sans-serif;
    font-size: 13px;
    color: #000000;
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

a {
    color: #000000;
}

h1 {
    font-size: 1.4em;
    font-weight: normal;
}

h2 {
    font-size: 1em;
    font-weight: normal;
}

div.col {
    float: left;
}



.w100Prc {
    width: 100%;
    clear: both;
}



.mapItem, .mapItem img {
    position: absolute;
    left: 0;
    top: 0;
    width: 1920px;
    height: 1080px;
}

div.svg {
    z-index: 50;
}

.vd {
    z-index: 1;
}

div.vd_stop {
    z-index: 2;
    display: none;
}

div.png {
    display: none;
     z-index: 3;
}

#canvasBox, #raphael {
    z-index: 99;

}



div#header {
    position: absolute;
    width: 1322px;
    height: 102px;
    top: 40px;
    left: 40px;
    background: url(../interface/header.png) no-repeat 0 0;
    z-index: 150;
}

div#time {
    position: absolute;
    width: 482px;
    height: 82px;
    top: 40px;
    left: 1400px;
    background: url(../interface/time.png) no-repeat 0 0;
    z-index: 150;
}

div#theme {
    position: absolute;
    width: 482px;
    height: 62px;
    top: 139px;
    left: 1400px;
    background: url(../interface/theme.png) no-repeat 0 0;
    z-index: 150;
}

div#panel {
    position: absolute;
    width: 1842px;
    height: 82px;
    top: 960px;
    left: 40px;
    background: url(../interface/panel.png) no-repeat 0 0;
    z-index: 150;
}

div#panel div#btnColorLayerToggle {
    position: absolute;
    left: 770px;
    top: 0;
    width: 200px;
    height: 82px;
    cursor: pointer;
}

div#miniMap {
    position: absolute;
    left: 40px;
    top: 180px;
    width: 381px;
    height: 220px;
    z-index: 150;
    display: none;
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
}

#mapCanvas {
    width: 1920px;
    height: 1080px;
}

div.gpsPoint {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    z-index: 100;
}

div.gpsPoint div.cityName {
    position: absolute;
    top: 0;
    left: 14px;
    font-size: 11px;
    color: red;
}

div#clickMap {
    width: 1920px;
    height: 1080px;
    z-index: 100;
}

video.hided {
    display: none !important;
}

#bg-image {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
    background-position: left top;
    background-repeat: no-repeat;
}

#app {
    position: relative;
    overflow: hidden;
}
#bg-svg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 110;
}
#bg-svg object {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 136;
}
#bg-video {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 120;
}