<div class="row-fluid">
    <div class="span12">
        <div ng-include="'src/app/main/templates/partials/main_header.html'"></div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="about-body">
            <div class="row-fluid">
                <div class="span8">
                    <img src="src/assets/images/team.jpg">
                </div>
                <div class="span4">
                    <div class="about-text">
                        <p class="black text"><span class="blue">improva</span> is an international team of professionals, united by the idea that everyone can achieve everything.</p>
                        <br>
                        <p class="black text">We have developed this tool, which allows you to manage life easily.</p>
                        <br>
                        <p class="black text">Our tool is based on numerous researches in psychology, health, career management, personal efficiency management, control theory, sociology and many others.</p>
                        <br>
                        <p class="black text">We have invested our souls, our own experience and strong aspiration to make our lives better into this project.</p>
                        <br>
                        <p class="black text">Join us!<span class="black pull-right">improva team.</span></p>
                    </div>
                </div>
            </div>
            <!--<div class="container white">-->
                <!--<div class="raw">-->
                    <!--<div class="span12" style="margin: 20px;">-->
                        <!--<p class="black text"><span class="blue">improva</span> is international team of professionals, united by idea that everyone can achieve everything.</p>-->
                        <!--<br>-->
                        <!--<p class="black text">We develop the tool, which allows to manage life easily.</p>-->
                        <!--<br>-->
                        <!--<p class="black text">Our tool is based on numerous researches in psychology, health, career management, personal efficiency management, control theory, sociology and many others.</p>-->
                        <!--<br>-->
                        <!--<p class="black text">We have invested into this project our own experience, our souls and strong aspiration to make our lifes better.</p>-->
                        <!--<br>-->
                        <!--<p class="black text">Join us!</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="raw">-->
                    <!--<div class="span12">-->
                        <!--<p class="black text" style="text-align: right;">improva team.</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
<!--<div class="row-fluid">-->
    <!--<div class="span12">-->
        <!--<div ng-include="'src/app/main/templates/partials/main_footer.html'"></div>-->
    <!--</div>-->
<!--</div>-->

<div class="row-fluid">
    <div class="span12">
        <div ng-include="'src/app/main/templates/partials/main_footer.html'"></div>
    </div>
</div>