<div class="popover {{placement}}" ng-class="{ in: isOpen(), fade: animation() }">
    <div class="arrow"></div>

    <div class="popover-inner">
        <ul class="unstyled contacts-menu">
            <li><a href="mailto:question@improva.com?subject=Question to improva"><p class="white pointer" ng-click="manualHide()">Question</p></a></li>
            <li><a href="mailto:proposal@improva.com?subject=Proposal to improva"><p class="white pointer" ng-click="manualHide()">Proposal</p></a></li>
            <li><a href="mailto:problem@improva.com?subject=Problem in improva"><p class="white pointer" ng-click="manualHide()">Problem</p></a></li>
        </ul>
        <!--<button class="btn btn-success" ng-click="manualHide()">Close</button>-->
    </div>
</div>
