@import "reset.css";
@import "stylesheet.css";

body {
	background: #000000;
	width: 100%;
	min-height: 100%;
}
body #page {
	background: url("../images/bg.png") center top repeat-y;
	max-width: 1300px;
	margin: 0px auto;
	min-width: 1000px;
	min-height: 100%;
}
body header {
	background: url("../images/hbg.png") center top repeat;
	height: 285px;
	width: 100%;
	overflow: hidden;
	position: relative;
}
body footer {
	height: 220px;
	width: 100%;
	margin-top: -220px;
}

header img, header span {
	display: inline-block;
	vertical-align: middle;
	margin: 30px 60px;
}
header span {
	float: right;
}
header span p, header span a {
	display: block;
}
header span p {
	font-family: 'PT Sans Narrow';
	font-size: 24px;
	color: #ffffff;
	padding-bottom: 5px;
}
header span a {
	font-family: 'Arial';
	font-size: 12px;
	color: #209add;
	text-decoration: none;
}
header section {
	position: absolute;
	top: 100px;
	background: url("../images/header.png") center top no-repeat;
	width: 1300px;
	height: 71px;
	overflow: hidden;
	z-index: 3;
}
header ul {
	display: inline-block;
	margin: 4px 0px 0px 160px;
}
header section ul:last-child {
	float: right;
	margin: 4px 160px 0px 0px;
}
header ul li {
	display: inline-block;
	padding: 10px 10px;
	margin: 5px;
}
header ul li.current {
	background: url("../images/bc.png") center center repeat-x;
	position: relative;
	height: 33px;
	top: -7px;
}
header ul li.current:before {
	content: ".";
	display: inline-block;
	position: absolute;
	background: url("../images/bl.png") left center no-repeat;
	width: 12px;
	height: 33px;
	left: 0px;
	text-indent: -100px;
	overflow: hidden;
}
header ul li.current:after {
	content: ".";
	display: inline-block;
	position: absolute;
	background: url("../images/br.png") right center no-repeat;
	width: 51px;
	height: 33px;
	right: 0px;
	text-indent: -100px;
	overflow: hidden;
}
header ul li a {
	font-family: 'PT Sans Narrow';
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;
	text-decoration: none;
	position: relative;
	z-index: 4;
	text-transform: uppercase;
}
header ul li.current a {
	color: #000000;
	position: relative;
	top: 7px;
}
header i {
	background: url("../images/logo.png") center top no-repeat;
	position: absolute;
	width: 276px;
	height: 167px;
	top: 3px;
	left: 50%;
	margin-left: -140px;
	z-index: 7;
}

#content {
	width: 980px;
	margin: 0px auto;
}
#content .adv {
	background: url("../images/adv.png") center top no-repeat;
	height: 579px;
	width: 100%;
	position: relative;
	top: -131px;
	z-index: 6;
}
#content .adv h1 {
	font-family: 'PT Sans Narrow';
	font-weight: bold;
	font-size: 36px;
	color: #000000;
	text-align: center;
	text-transform: uppercase;
	padding: 40px 0px 45px 0px;
}
#content .adv span {
	background: url("../images/advrt.png") center top no-repeat;
	position: absolute;
	height: 58px;
	width: 100%;
	bottom: -30px;
	display: block;
	text-align: center;
	vertical-align: middle;
}
#content .adv span a {
	font-family: 'PT Sans';
	font-weight: bold;
	font-size: 24px;
	color: #ffffff;
	text-decoration: none;
	line-height: 58px;
}
#content .adv section {
	display: block;
}
#content .adv section a {
	display: inline-block;
	margin-left: 10px;
	width: 310px;
	height: 410px;
	background: url("../images/a2.png") center top no-repeat;
	text-decoration: none;
}
#content .adv section a:first-child {
	background: url("../images/a1.png") center top no-repeat;
}
#content .adv section a:last-child {
	background: url("../images/a3.png") center top no-repeat;
}
#content .adv section a p, #content .adv section a img, #content .adv section a i, #content .adv section a b {
	display: block;
	font-family: 'PT Sans';
	font-weight: bold;
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	max-width: 310px;
}
#content .adv section a p {
	padding: 10px 0px 25px 0px;
}
#content .adv section a img {
	width: 177px;
	margin: 15px auto;
}
#content .adv section a i {
	font-size: 14px;
	font-family: 'PT Sans Narrow';
}
#content .adv section a b {
	font-size: 32px;
	font-family: 'PT Sans Narrow';
}