<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="./css/main.css" />
		<title></title>
	</head>
	<body>
		<div id="page">
			<div id="page_sub">
				<header id="head">
					<ul id="topnav">
						<li><a href="#">Вход в личный кабинет</a></li>
						<li><a href="#">Регистрация</a></li>
						<li><a href="./mail.html">Администратор</a></li>
					</ul>
					<ul id="topmenu">
						<li><a href="./index.html" class="current">Главная</a></li>
						<li><a href="./news.html">Новости</a></li>
						<li><a href="./vopros-otvet.html">Руководство: Вопросы и ответы</a></li>
						<li><a href="#">Организационно-штатная структура</a></li>
						<li><a href="#">Нормативно-справочная информация</a></li>
						<li><a href="#">Газета "Всё для Родины"</a></li>
					</ul>
					<h1></h1>
				</header>
				<div id="content">
					<div id="left">
						<div class="gray_box">
							<div class="in">
								<h3>Правительственные награды</h3>
								<div class="wins">
									<p class="len"></p>
									<p class="tkz"></p>
									<p class="or"></p>
								</div>
							</div>
						</div>
						<div class="gray_box">
							<div class="in">
								<h3>Поиск</h3>
								<form action="">
									<input type="text" />
									<input type="submit" value="Найти" />
								</form>
							</div>
						</div>
						<div class="gray_box">
							<div class="in">
								<h3>Штатная структура</h3>
								<article>
									<img src="./images/gerb-rossii-21.jpg" alt="" />
									<div>
										<h4>Ковалько Сергей Викторович</h4>
										<p>Зам деректора отдела ООО Инвест<br />
											Тел: 555-66-44</p>
									</div>
								</article>
							</div>
						</div>
					</div>
					<div id="center_small">
						<div class="blue_box">
							<div class="in">
								<div class="quiz_small">
									<h2>РУКОВОДСТВО: ВОПРОСЫ И ОТВЕТЫ</h2>
									<section>
										<i>03.05.2013</i>
										<b>Фамилия И. О.</b>
										<b>Предприятие А, подразделение 1, отдел 1x</b>
										<b>Категория: Организация труда</b>
										<b>Тема: тема вопроса</b>
										<p>Вопрос вопрос вопрос вопрос вопрос вопрос?</p>
										<strong>Ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ ответ </strong>
									</section>
									<a href="#" class="all">Все вопросы и ответы</a>
								</div>
							</div>
						</div>
						<div class="blue_box">
							<div class="in">
								<div class="quiz_small">
									<h2>НОРМАТИВНО-СПРАВОЧНАЯ ИНФОРМАЦИЯ</h2>
									<section>
										<p>Рыба в веб-дизайне</p>
										<strong>Рыба в веб-дизайне — временное наполнение макета страницы для имитации её законченного вида. У дизайнера не всегда есть под рукой материалы, которые планируется публиковать на веб-сайте и поэтому нужно использовать что-то иное, чтобы показать, как дизайн будет работать в естественных условиях.  </strong>
									</section>
									<a href="#" class="all">Вся информация</a>
								</div>
							</div>
						</div>
						<div class="blue_box">
							<div class="in">
								<div class="quiz_small">
									<h2>Газета "Всё для Родины"</h2>
									<section>
										<ul>
											<li>
												<h4><a href="#">Выпуск 1</a></h4>
												<p>Рыба в веб-дизайне — временное наполнение макета страницы для имитации её законченного вида.</p>
											</li>
											<li>
												<h4><a href="#">Выпуск 1</a></h4>
												<p>Рыба в веб-дизайне — временное наполнение макета страницы для имитации её законченного вида.</p>
											</li>
										</ul>
									</section>
									<a href="#" class="all">Все выпуски</a>
								</div>
							</div>
						</div>
					</div>
					<div id="right">
						<div class="gray_box">
							<div class="in">
								<h3>Новости</h3>
								<section class="news_small">
									<article>
										<h4>
											<a href="">Дмитрий Медведев поздравил коллектив ФГУП «Государственный космический научно-производственный центр имени М.В.Хруничева»</a>
										</h4>
										<p class="data">07.06.2013</p>
										<p class="text">Сегодня ГКНПЦ имени Хруничева динамично развивается, чётко и своевременно выполняет важнейшие государственные заказы. Здесь завершается разработка ракеты-носителя “Ангара”....</p>
									</article>
									<article>
										<h4>
											<a href="">Дмитрий Медведев поздравил коллектив ФГУП «Государственный космический научно-производственный центр имени М.В.Хруничева»</a>
										</h4>
										<p class="data">07.06.2013</p>
										<p class="text">Сегодня ГКНПЦ имени Хруничева динамично развивается, чётко и своевременно выполняет важнейшие государственные заказы. Здесь завершается разработка ракеты-носителя “Ангара”...</p>
									</article>
									<article>
										<h4>
											<a href="">Дмитрий Медведев поздравил коллектив ФГУП «Государственный космический научно-производственный центр имени М.В.Хруничева»</a>
										</h4>
										<p class="data">07.06.2013</p>
										<p class="text">Сегодня ГКНПЦ имени Хруничева динамично развивается, чётко и своевременно выполняет важнейшие государственные заказы. Здесь завершается разработка ракеты-носителя “Ангара”...</p>
									</article>
									<a href="">Все новости</a>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div id="footer">
				<p>
					ФГУП &laquo;Государственный космический научно-производственный центр имени М.В.Хруничева&raquo;<br />
					121087, Москва, ул. Новозаводская, 18 <br />
					телефон: + 7(499) 749&nbsp;&mdash; 99-34 (административно-хозяйственный отдел)<br />
					факс: +7(495) 142&ndash;59 00
				</p>
			</div>
		</footer>
	</body>
</html>
