<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="./css/main.css" />
		<title></title>
	</head>
	<body>
		<div id="page">
			<div id="page_sub">
				<header id="head">
					<ul id="topnav">
						<li><a href="./mail.html" class="current">Страница администратора</a></li>
						<li><a href="./letter.html">Страница обработки вопроса</a></li>
					</ul>
					<ul id="topmenu">
						<li><a href="./index.html" class="current">Главная</a></li>
						<li><a href="./news.html">Новости</a></li>
						<li><a href="./vopros-otvet.html">Руководство: Вопросы и ответы</a></li>
						<li><a href="#">Организационно-штатная структура</a></li>
						<li><a href="#">Нормативно-справочная информация</a></li>
						<li><a href="#">Газета "Всё для Родины"</a></li>
					</ul>
					<h1></h1>
				</header>
				<div id="content">
					<div id="left">
						<div class="gray_box">
							<div class="in">
								<ul class="admin">
									<li><a href="#" class="current">Все</a></li>
									<ul>
										<li><a href="#"><input type="checkbox" />Новые</a></li>
										<li><a href="#"><input type="checkbox" />В работе</a></li>
										<li><a href="#"><input type="checkbox" />Готовые</a></li>
										<li><a href="#"><input type="checkbox" />Корзина</a></li>
										<li><a href="#"><input type="checkbox" />Опубликованные</a></li>
									</ul>
									<ul>
										<li><a href="#"><input type="checkbox" />Ответственный 1</a></li>
										<li><a href="#"><input type="checkbox" />Ответственный 2</a></li>
										<li><a href="#"><input type="checkbox" />Ответственный 3</a></li>
									</ul>
									<ul>
										<li><a href="#"><input type="checkbox" />Личное</a></li>
										<li><a href="#"><input type="checkbox" />Рациональное предложение</a></li>
										<li><a href="#"><input type="checkbox" />Организация труда</a></li>
										<li><a href="#"><input type="checkbox" />Сообщение о нарушениях</a></li>
										<li><a href="#"><input type="checkbox" />Общественная жизнь</a></li>
										<li><a href="#"><input type="checkbox" />Прочее</a></li>
									</ul>
									<li class="soot"><a href="#">Черновики ответов</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div id="center">
						<div class="blue_box">
							<div class="in">								
								<section class="let">
									<i>03.05.2013</i>
									<b>Фамилия И. О.</b>
									<b>Предприятие А, подразделение 1, отдел 1x</b>
									<b>Категория: Организация труда</b>
									<b>Тема: тема вопроса</b>
									<b>Статус: Новое</b>
									<i>Ответить до: 05.05.2013</i>
									<a href="#" class="look">Открыть</a>
								</section>							
								<section class="let">
									<i>03.05.2013</i>
									<b>Фамилия И. О.</b>
									<b>Предприятие А, подразделение 1, отдел 1x</b>
									<b>Категория: Организация труда</b>
									<b>Тема: тема вопроса</b>
									<b>Статус: Готово</b>
									<b>Ответственный: Фамилия И. О.</b>
									<a href="#" class="look">Открыть</a>
								</section>							
								<section class="let">
									<i>03.05.2013</i>
									<b>Фамилия И. О.</b>
									<b>Предприятие А, подразделение 1, отдел 1x</b>
									<b>Категория: Организация труда</b>
									<b>Тема: тема вопроса</b>
									<b>Статус: В работе</b>
									<i>Ответить до: 05.05.2013</i>
									<b>Ответственный: Фамилия И. О.</b>
									<a href="#" class="look">Открыть</a>
								</section>						
								<section class="let">
									<i>03.05.2013</i>
									<b>Фамилия И. О.</b>
									<b>Предприятие А, подразделение 1, отдел 1x</b>
									<b>Категория: Организация труда</b>
									<b>Тема: тема вопроса</b>
									<b>Статус: Готово</b>
									<b>Ответственный: Фамилия И. О.</b>
									<a href="#" class="look">Открыть</a>
								</section>									
								<section class="let">
									<i>03.05.2013</i>
									<b>Фамилия И. О.</b>
									<b>Предприятие А, подразделение 1, отдел 1x</b>
									<b>Категория: Организация труда</b>
									<b>Тема: тема вопроса</b>
									<b>Статус: Готово</b>
									<b>Ответственный: Фамилия И. О.</b>
									<a href="#" class="look">Открыть</a>
								</section>										
								<section class="let">
									<i>03.05.2013</i>
									<b>Фамилия И. О.</b>
									<b>Предприятие А, подразделение 1, отдел 1x</b>
									<b>Категория: Организация труда</b>
									<b>Тема: тема вопроса</b>
									<b>Статус: В работе</b>
									<i>Ответить до: 05.05.2013</i>
									<b>Ответственный: Фамилия И. О.</b>
									<a href="#" class="look">Открыть</a>
								</section>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div id="footer">
				<p>
					ФГУП &laquo;Государственный космический научно-производственный центр имени М.В.Хруничева&raquo;<br />
					121087, Москва, ул. Новозаводская, 18 <br />
					телефон: + 7(499) 749&nbsp;&mdash; 99-34 (административно-хозяйственный отдел)<br />
					факс: +7(495) 142&ndash;59 00
				</p>
			</div>
		</footer>
	</body>
</html>
