@font-face {
    font-family: 'heliosregular';
    src: url('../fonts/helios-webfont.eot');
    src: url('../fonts/helios-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helios-webfont.woff') format('woff'),
         url('../fonts/helios-webfont.ttf') format('truetype'),
         url('../fonts/helios-webfont.svg#heliosregular') format('svg');
    font-weight: normal;
    font-style: normal;
}