<div class="topcomm">
	<h5>Comments for "<s>%Criteria Name%</s>"</h5>
	<b>Close</b>
</div>
<div class="comm">
	<div class="cmnt">
		<strong>%Name Username%</strong>
		<i>September 20, 2013</i>
		<br />
		<p>Сomment text comment text comment text comment text comment text comment text comment text comment text comment text comment text.</p>
	</div>
	<div class="cmnt">
		<strong>%Name Username%</strong>
		<i>September 20, 2013</i>
		<br />
		<p>Сomment text comment text comment text comment text comment text comment text comment text comment text comment text comment text.</p>
	</div>
	<div class="cmnt">
		<strong>%Name Username%</strong>
		<i>September 20, 2013</i>
		<br />
		<p>Сomment text comment text comment text comment text comment text comment text comment text comment text comment text comment text.</p>
	</div>
</div>
<div class="butcomm">
	<textarea placeholder="Enter your comment here"></textarea>
	<button value="Send"></button>
</div>
