<section id="follow_tab" ng-if="rootUser" ng-class="{relative: onRelative}" >
	<ul>
		<li>
			<img ng-click="onCompare(rootUser)" ng-src="{{rootUser.avatar}}" err-src="/images/unknown-person.png" />
		</li>
		<li ng-class="{show: userItem.user.show}" ng-mouseleave="onMouseLeaveUser(userItem.user)" ng-click="onMouseEnterUser(userItem.user)" ng-mouseenter="onMouseEnterUser(userItem.user)" ng-repeat="userItem in userFrends">
			<img ng-click="onCompare(userItem.user)" ng-src="{{userItem.user.avatar}}" alt="" err-src="/images/unknown-person.png" />
			<sub ng-if="onTips != false">
				<a ng-click="onUnfollow(userItem.user)">Unfollow</a>
				<a class="compare" ng-click="onCompare(userItem.user)">Compare</a>
			</sub>
		</li>
	</ul>
	<a ng-if="onMove != false" ng-click="onMoveToUser()"></a>
</section>