
<!-- Футер -->
<footer>
	<div id="footer">
		<div class="sexual">
			<a 
				href="https://twitter.com/intent/tweet?text=iRate&url=http://www.irate.com" 
				target="_blank"></a>
			<a 
				ng-click="shareFacebook('http://www.irate.com', 'iRate', '', 'http://www.improva.com/src/assets/images/icons/improva_icon.png')" class="facebook"></a>
			<a 
				ng-click="shareGoogle('http://www.irate.com')" 
				class="google"></a>
		</div>
		
		<div ng-if="controller != '_compare'">
			<div 
				class="lnbl" 
				ng-include
				src="'partials/follow.html'"  >
			</div>	
		</div>	
	</div>
</footer>

<section ng-include src="'partials/loader.html'"></section>

<div id="fb-root"></div>

<!-- Тенюшка -->
<section ng-controller="ShadowCtrl">
	<div id="shadow" ng-class="{show: show}" ng-click="onHideModal()"></div>
</section>