<div  ng-controller="GalleryController">
	<div class="gallery {{stateViewClass}}" ng-if="users.length > 0">
		<h4>{{title}}</h4>
		<a ng-click="onMoveToUser(userItem)" ng-repeat="(userKey, userItem) in users | limitTo:limit ">
			<img ng-src="{{userItem.avatar}}" err-src="/images/unknown-person.png" />
			<span>{{userItem.points}}</span>
		</a>
		<button ng-if="!stateView" ng-click="onChangeState()" class="more">{{'_moreL_' | i18n}}</button>
		<button ng-if="stateView" ng-click="onChangeState()" class="less">{{'_lessL_' | i18n}}</button>
	</div>
</div>