<div class="galblo">
	<div class="galblos isotope"
		ng-repeat="(userKey, userItem) in users"
		ng-mouseenter="onUserMouseEnter(userItem, $event)"
		ng-mouseleave="onUserMouseLeave(userItem, $event)"
		ng-click="onUserClick(userItem, $event)"
		ng-class="{big: userItem.hover}"
		ng-if="userItem.showItem">
		<img ng-src="{{userItem.avatar}}" err-src="/images/unknown-person.png" />
		<span>{{userItem.points}}</span>
		<div class="sub"> 
			<b>{{userItem.name}} <br /><s>{{userItem.league.name}} league</s></b>
			<ul>
				<li>
					<a ng-click="onMoveToProfile(userItem)">
						<span class="icon profile navigate"></span>
					</a>
				</li>
				<li>
					<a href="">
						<span class="icon compare navigate"></span>
					</a>
				</li>
				<li>
					<a ng-if="!userItem.isFrend" ng-click="onFollow(userItem)">
						<span class="icon follow navigate"></span>
					</a>
					<a ng-if="userItem.isFrend" ng-click="onUnFollow(userItem)">
						<span class="icon unfollow navigate"></span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<sub ng-if="swipe > 0" ng-click="onSwipeLeft()"><img src="../images/left.png"></sub>
<sup ng-if="users.length > limit && swipe < swipeMax - 1" ng-click="onSwipeRight()"><img src="../images/right.png"></sup>