<section class="leaglist">
	<a href="#"><img src="/images/it.png"></a>
	<a href="#"><img src="/images/it.png"></a>
	<a href="#"><img src="/images/it.png"></a>
	<a href="#"><img src="/images/it.png"></a>
	<a href="#"><img src="/images/it.png"></a>
	<a href="#"><img src="/images/it.png"></a>
	<a href="#"><img src="/images/it.png"></a>
</section>
<section class="infoleag">	
	<div class="leader">
		<a href="#"><img src="/images/unknown-person.png"></a>
		<i>Number: 125</i><br />
		<i>New: 20</i><br />
		<i>Growth: 15</i><br />
	</div>
	<a href="#"><img src="/images/user.png"></a>
	<a href="#"><img src="/images/user.png"></a>
	<a href="#"><img src="/images/user.png"></a>
	<a href="#"><img src="/images/user.png"></a>
	<a href="#"><img src="/images/user.png"></a>
	<button>{{'_moreL_' | i18n}}</button>
</section>