<section class="leaglist">
	<a href="#"><img src="/images/it.png"></a>
	<a href="#"><img src="/images/it.png"></a>
	<a href="#"><img src="/images/it.png"></a>
	<a href="#"><img src="/images/it.png"></a>
	<a href="#"><img src="/images/it.png"></a>
	<a href="#"><img src="/images/it.png"></a>
	<a href="#"><img src="/images/it.png"></a>
	<span></span>
</section>
<section class="infoleag">	
	<span></span>
	<div class="leader">
		<a href="#"><img src="/images/unknown-person.png"></a>
		<div class="descrip">
			<i>Best growth: PersonName</i>
			<i>Growth rate: 15</i>
			<i>Number of persons: 125</i>
			<i>New persons: 20</i>
		</div>
	</div>
	<a href="#"><img src="/images/user.png"></a>
	<a href="#"><img src="/images/user.png"></a>
	<a href="#"><img src="/images/user.png"></a>
	<a href="#"><img src="/images/user.png"></a>
	<a href="#"><img src="/images/user.png"></a>
	<button>{{'_moreL_' | i18n}}</button>
</section>