<div ng-controller="LoginModalController">
    <div class="modal login" ng-class="{show: show}">
        <div class="modal_wrapper">
            <div class="header" ng-if="signup">
               <h4>Sing up</h4>
               <p>Already have an account? <a ng-click="onSignStateChange()">Log in</a></p>
            </div>
            <div class="header" ng-if="!signup">
               <h4>Log in</h4>
               <p>Don’t have an account? <a ng-click="onSignStateChange()">Sign up</a> now</p>
            </div>
            <div class="body">
                <div class="left">
                    <div class="left_wrapper">
                        <p>Join improva using your social account:</p>
                        <ul>
                            <li>
                                <a ng-click="socialFacebookLogin()">
                                    <img src="/images/facebook.png" alt="" />
                                </a>
                            </li>
                            <li>
                                <a ng-click="socialGooglePlusLogin()">
                                    <img src="/images/google.png" alt="" />
                                </a>
                            </li>
                            <li>
                                <a>
                                    <img src="/images/improva.png" alt="" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <div class="right_wrapper">
                        <div class="sign-up" ng-if="signup">
                            <p>Or, sign up for a PGR account below:</p>
                            <ng-form name="form" novalidate class="css-form myForm" >
                                <p>
                                    <input 
                                        type="text" 
                                        id="login_i" 
                                        class="form-input"
                                        ng-model="user.login" 
                                        required 
                                        ng-minlength="6"
                                        placeholder="Name" />
                                </p>
                                <p class="tip">This will be your display name on PGR.</p>
                                <p>
                                    <input 
                                        type="email" 
                                        id="email_i" 
                                        class="form-input"
                                        ng-model="user.email" 
                                        required
                                        placeholder="Email"  /> 
                                </p>
                                <p>
                                    <input 
                                        type="text" 
                                        id="name_i" 
                                        class="form-input"
                                        ng-model="user.password" 
                                        required 
                                        ng-minlength="6"
                                        placeholder="Choose a Password" /> 
                                </p>
                                <p class="tip">Make it 6-25 characters</p>
                                <p class="errors" ng-if="error">{{errors}}</p>
                                <p><input type="button" value="Sign me up"></p>
                            </ng-form>
                        </div>
                        <div class="sign-in" ng-if="!signup">
                            <p>Or, log in with your PGR account:</p>
                            <ng-form id="login_form" name="LoginForm" novalidate class="css-form myForm" >
                                <p>
                                    <input 
                                        type="text" 
                                        id="login_i" 
                                        class="form-input"
                                        ng-model="login.login"
                                        required 
                                        ng-minlength="6"
                                        placeholder="Email or Username" />
                                </p>
                                <p>
                                    <input 
                                        type="password" 
                                        id="pass_i"
                                        class="form-input"
                                        ng-model="login.password"
                                        required 
                                        ng-minlength="6"
                                        placeholder="Password" /> 
                                </p>
                                <p>
                                    <a href="#">Forgot your password?</a>
                                </p>
                                <p class="errors" ng-if="error">{{error}}</p>
                                <p>
                                    <input 
                                        ng-disabled="LoginForm.$invalid" 
                                        ng-click="onSingin()" 
                                        type="button" 
                                        value="Log in" />
                                </p>
                            </ng-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>