<div ng-controller="LoginModalController">
    <div class="modal login" ng-class="{show: show}">
        <div class="modal_wrapper">
            <div class="header">
               <h4>Sing up</h4>
               <p>Already have an account? <a href="#">Log in</a></p>
            </div>
            <div class="body">
                <div class="left">
                    <div class="left_wrapper">
                        <p>Join improva using your social account:</p>
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="/images/facebook.png" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/images/google.png" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/images/improva.png" alt="" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <div class="sign-up">
                        <p>Or, sign up for a PGR account below:</p>
                        <ng-form name="form" novalidate class="css-form myForm" >
                            <p>
                                <label for="login_i">{{'_LoginL_' | i18n}}:</label> 
                                <input 
                                    type="text" 
                                    id="login_i" 
                                    class="form-control"
                                    ng-model="user.login" required ng-minlength="6" />
                            </p>
                            <p>
                                <label for="email_i">E-mail:</label> 
                                <input 
                                    type="email" 
                                    id="email_i" 
                                    class="form-control"
                                    ng-model="user.email" required  /> 
                            </p>
                            <p>
                                <label for="Name_i">{{'_NameL_' | i18n}}:</label> 
                                <input 
                                    type="text" 
                                    id="name_i" 
                                    class="form-control"
                                    ng-model="user.name" required ng-minlength="6" /> 
                            </p>
                            <p>
                                <label for="pass_i">{{'_PasswordL_' | i18n}}:</label> 
                                <input 
                                    type="password" 
                                    id="pass_i"
                                    name="password"
                                    class="form-control"
                                    ng-model="user.password" 
                                    required 
                                    ng-minlength="6" /> 
                            </p>
                            <p>
                                <label for="repass_i">{{'_RepeatL_' | i18n}} {{'_PasswordL_' | i18n}}:</label> 
                                <input 
                                    type="password" 
                                    id="repass_i" 
                                    class="form-control"
                                    ng-model="user.repassword" 
                                    required 
                                    ng-minlength="6"  
                                    same-as="user"
                                    /> 
                            </p>
                            <p id="errors">{{errors}}</p>
                        </ng-form>
                    </div>
                    <div class="sign-in">
                        <p>Or, log in with your PGR account:</p>
                        <ng-form id="login_form" name="form" novalidate class="css-form myForm" >
                            <p>
                                <label for="login_i">{{'_LoginL_' | i18n}}:</label> 
                                <input 
                                    type="text" 
                                    id="login_i" 
                                    class="form-control"
                                    ng-model="login" required ng-minlength="6" />
                            </p>
                            <p>
                                <label for="pass_i">{{'_PasswordL_' | i18n}}:</label> 
                                <input 
                                    type="password" 
                                    id="pass_i"
                                    name="password"
                                    class="form-control"
                                    ng-model="password" 
                                    required 
                                    ng-minlength="6" /> 
                            </p>
                            <p><a ng-click="regiostrationOpen()">Registration</a></p>
                            <p><a ng-click="socialFacebookLogin()">Facebook</a></p>
                            <p><a ng-click="socialGooglePlusLogin()">Google Plus</a></p>

                            <p id="errors">{{error}}</p>
                        </ng-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>