<div modal="shouldBeOpen" close="close()" options="opts">
    <div class="modal-body">
        <h4>{{'_Auth_' | i18n}}</h4>
        <form id="login_form" name="form" novalidate class="css-form myForm"  ui-keypress="{13:'onSubmit($event)'}">
            <p>
                <label for="login_i">{{'_LoginL_' | i18n}}:</label> 
                <input 
                    type="text" 
                    id="login_i" 
                    class="form-control"
                    ng-model="login" required ng-minlength="6" />
            </p>
            <p>
                <label for="pass_i">{{'_PasswordL_' | i18n}}:</label> 
                <input 
                    type="password" 
                    id="pass_i"
                    name="password"
                    class="form-control"
                    ng-model="password" 
                    required 
                    ng-minlength="6" /> 
            </p>
            <p><a ng-click="regiostrationOpen()">Registration</a></p>
            <p><a ng-click="socialFacebookLogin()">Facebook</a></p>
            <p><a ng-click="socialGooglePlusLogin()">Google Plus</a></p>

            <p id="errors">{{error}}</p>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="onSingin()" ng-disabled="form.$invalid || isUnchanged(user)">Ok</button>
        <button class="btn btn-danger cancel" ng-click="close()">Cancel</button>
    </div>
</div>