<div class="nearblock">
	<div class="lnbl top">
		<sup class="leaf"></sup>
		<img src="../images/user.png">
		<img src="../images/user.png">
		<img src="../images/user.png">
		<sub class="leaf"></sub>
	</div>
	<div class="lnbl frnd">
		<sup class="leaf"></sup>
		<img src="../images/user.png">
		<img src="../images/user.png">
		<img src="../images/user.png">	
		<sub class="leaf"></sub>	
	</div>
	<div class="lnbl neigh">
		<sup class="leaf"></sup>
		<img src="../images/user.png">
		<img src="../images/user.png">
		<img src="../images/user.png">
		<sub class="leaf"></sub>		
	</div>	
</div>