<div class="nearblock">
	<div class="lnbl top">
		<h4>{{'_topL_' | i18n}}</h4>
		<a href="#"><img src="../images/user.png"></a>
		<a href="#"><img src="../images/user.png"></a>
		<a href="#"><img src="../images/user.png"></a>
		<button class="more">{{'_moreL_' | i18n}}</button>
	</div>
	<div class="lnbl flw">
		<h4>{{'_flwL_' | i18n}}</h4>
		<a href="#"><img src="../images/user.png"></a>
		<a href="#"><img src="../images/user.png"></a>
		<a href="#"><img src="../images/user.png"></a>
		<button class="more">{{'_moreL_' | i18n}}</button>
	</div>
	<div class="lnbl neigh">
		<h4>{{'_neighL_' | i18n}}</h4>
		<a href="#"><img src="../images/user.png"></a>
		<a href="#"><img src="../images/user.png"></a>
		<a href="#"><img src="../images/user.png"></a>
		<button class="more">{{'_moreL_' | i18n}}</button>
	</div>	
	<div class="lnbl flw full">
		<h4>{{'_flwL_' | i18n}}</h4>
		<a href="#"><img src="../images/user.png"></a>
		<a href="#"><img src="../images/user.png"></a>
		<a href="#"><img src="../images/user.png"></a>
		<a href="#"><img src="../images/user.png"></a>
		<a href="#"><img src="../images/user.png"></a>
		<a href="#"><img src="../images/user.png"></a>
		<a href="#"><img src="../images/user.png"></a>
		<a href="#"><img src="../images/user.png"></a>
		<a href="#"><img src="../images/user.png"></a>
		<a href="#"><img src="../images/user.png"></a>
		<a href="#"><img src="../images/user.png"></a>
		<a href="#"><img src="../images/user.png"></a>
		<button class="less">{{'_lessL_' | i18n}}</button>
	</div>	
</div>