<div class="email login" ng-if="workspace.user">
    <div class="modal">
        <div class="modal_wrapper">
            <div class="header">
               <h4>Change password</h4>
            </div>
            <div class="body">
                <ng-form id="login_form" name="RepasswordForm" novalidate class="css-form myForm" >
                    <p>
                        <input 
                            id="login_i" 
                            class="form-input"
                            ng-model="form.oldPassword"
                            required 
                            ng-minlength="6"
                            placeholder="Current password"
                            type="password" />
                    </p>
                    <p>
                        <input 
                            type="password" 
                            id="pass_i"
                            class="form-input"
                            ng-model="form.newPassword"
                            required 
                            ng-minlength="6"
                            placeholder="New password" /> 
                    </p>
                    <p>
                        <input 
                            type="password" 
                            id="pass_i"
                            class="form-input"
                            ng-model="form.confirmPassword"
                            required 
                            ng-minlength="6"
                            placeholder="Confirm password" /> 
                    </p>
                    <p class="errors" ng-if="error">{{error}}</p>
                    <p>
                        <input 
                            ng-click="onCancel()" 
                            type="button" 
                            value="Cancel" class="cancel" />
                        <input 
                            ng-disabled="RepasswordForm.$invalid"
                            ng-click="onChangePassword()" 
                            type="button" 
                            value="Save" />
                    </p>
                </ng-form>
            </div>
        </div>
    </div>
</div>
