<div class="email login" ng-if="workspace.user">
    <div class="modal">
        <div class="modal_wrapper">
            <div class="header">
               <br /><br /><br /><br /><br /><br />
               <h4 ng-if="message == 0">Reset password</h4>
            </div>
            <div class="body">
                <div class="form-show" ng-if="message == 1">
                    <p>Message with code was sent to your email</p>
                    <input 
                            ng-click="onChangePasswordOk()" 
                            type="button" 
                            value="OK" />
                </div>
                <ng-form  
                    ng-if="message == 0"
                    id="login_form" 
                    name="RepasswordForm" 
                    novalidate 
                    class="css-form myForm" >
                    <p ng-if="state == 1">
                        <input 
                            id="login_i" 
                            class="form-input"
                            ng-model="form.email"
                            required 
                            placeholder="Email"
                            required
                            type="email" />
                    </p>
                    <p ng-if="state == 2">
                        <input 
                            id="login_i" 
                            class="form-input"
                            ng-model="form.oldPassword"
                            placeholder="Current password"
                            type="password"
                            required />
                    </p>
                    <p ng-if="state == 2">
                        <input 
                            type="password" 
                            id="pass_i"
                            class="form-input"
                            ng-model="form.newPassword"
                            placeholder="New password"
                            required /> 
                    </p>
                    <p ng-if="state == 2">
                        <input 
                            type="password" 
                            id="pass_i"
                            class="form-input"
                            ng-model="form.confirmPassword"
                            placeholder="Confirm password"
                            required /> 
                    </p>
                    <p class="errors" ng-if="error">{{error}}</p>
                    <p ng-if="state == 1">
                        <input 
                            ng-disabled="RepasswordForm.$invalid"
                            ng-click="onChangePassword()" 
                            type="button" 
                            value="Send code" />
                    </p>
                    <p ng-if="state == 2">
                        <input 
                            ng-click="onCancel()" 
                            type="button" 
                            value="Cancel" class="cancel" />
                        <input 
                            ng-disabled="RepasswordForm.$invalid"
                            ng-click="onChangePassword()" 
                            type="button" 
                            value="Save" />
                    </p>
                </ng-form>
            </div>
        </div>
    </div>
</div>
