<table id="graphs">
	<tbody>
	
		<tr ng-repeat="(lKey,lItem) in leagues | orderBy:'league.position':true"	>
			<th>
				{{(lItem.league.position+1)*10000}}
			</th>
			<td ng-repeat="(uKey,uItem) in lItem.league.users">
				<a href="#/profile/{{uItem.user.sguid}}">
					<img src="{{uItem.user.avatar.full_path}}" />	
				</a>
			</td>
		</tr>
		<tr>
			<th>
				0
			</th>
			<td >
				
			</td>
			<td >
				
			</td>
			<td >
				
			</td>
			<td >
				
			</td>
			<td >
				
			</td>
			<td >
				
			</td>
			<td >
				
			</td>
			<td >
				
			</td>
			<td >
				
			</td>
			<td >
				
			</td>
		</tr>
	</tbody>
</table>