<section class="leaglist">
	<article>
		<a ng-click="onLeagUser(item)" ng-class="{curleag:item.curleag}">
			<img src="/images/I.png" />
		</a>
		<div>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>			
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
		</div>
	</article>
	<article>
		<a ng-click="onLeagUser(item)" ng-class="{curleag:item.curleag}">
			<img src="/images/II.png" />
		</a>
		<div>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>			
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
		</div>
	</article>
	<article>
		<a ng-click="onLeagUser(item)" ng-class="{curleag:item.curleag}">
			<img src="/images/III.png" />
		</a>
		<div>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>			
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
		</div>
	</article>
	<article>
		<a ng-click="onLeagUser(item)" ng-class="{curleag:item.curleag}">
			<img src="/images/IV.png" />
		</a>
		<div>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>			
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
		</div>
	</article>
	<article>
		<a ng-click="onLeagUser(item)" ng-class="{curleag:item.curleag}">
			<img src="/images/V.png" />
		</a>
		<div>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>			
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
		</div>
	</article>
	<article>
		<a ng-click="onLeagUser(item)" ng-class="{curleag:item.curleag}">
			<img src="/images/VI.png" />
		</a>
		<div>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>			
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
		</div>
	</article>
	<article>
		<a ng-click="onLeagUser(item)" ng-class="{curleag:item.curleag}">
			<img src="/images/VII.png" />
		</a>
		<div>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>			
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
		</div>
	</article>
	<article>
		<a ng-click="onLeagUser(item)" ng-class="{curleag:item.curleag}">
			<img src="/images/VIII.png" />
		</a>
		<div>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>			
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
		</div>
	</article>
	<article>
		<a ng-click="onLeagUser(item)" ng-class="{curleag:item.curleag}">
			<img src="/images/IX.png" />
		</a>
		<div>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>			
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
		</div>
	</article>
	<article>
		<a ng-click="onLeagUser(item)" ng-class="{curleag:item.curleag}">
			<img src="/images/X.png" />
		</a>
		<div>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>			
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
			<a href="#">
				<img src="/images/unknown-person.png">
			</a>
		</div>
	</article>
</section>