<div class="login">
    <div class="modal">
        <div class="modal_wrapper">
            <div class="header" ng-if="signup">
               <h4>Sing up to SIRating</h4>
               <p>Use Facebook, Twitter, Google+, Improva or your email to sign up.</p>
               <p>Don’t have a SIRating account yet? <a ng-click="onSignStateChange()">Sign in </a>now.</p>
            </div>
            <div class="header" ng-if="!signup">
               <h4>Sing in to SIRating</h4>
               <p>Use Facebook, Twitter, Google+, Improva or your email to sign in.</p> 
               <p>Do already have a SIRating account? <a ng-click="onSignStateChange()">Sign up </a>now.</p>
            </div>
            <div class="body">
                <div class="left">
                    <div class="left_wrapper">
                        <ul>
                            <li>
                                <a ng-click="socialFacebookLogin()">
                                    <img src="/images/facebook.png" alt="" />
                                </a>
                            </li>
                            <li>
                                <a ng-click="socialGooglePlusLogin()">
                                    <img src="/images/twitter.png" alt="" />
                                </a>
                            </li>
                            <li>
                                <a>
                                    <img src="/images/google.png" alt="" />
                                </a>
                            </li>
                            <li>
                                <a>
                                    <img src="/images/improva.png" alt="" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <div class="right_wrapper">
                        <div class="sign-up" ng-show="signup">
                            <ng-form name="RegForm" novalidate class="css-form myForm" >
                                <p>
                                    <input 
                                        type="text" 
                                        id="login_i" 
                                        class="form-input"
                                        ng-model="user.login" 
                                        required 
                                        ng-minlength="6"
                                        placeholder="Name"
                                        ui-keypress="{13:'onKeyPressReg($event)'}" />
                                </p>
                                <p>
                                    <input 
                                        type="email" 
                                        id="email_i" 
                                        class="form-input"
                                        ng-model="user.email" 
                                        required
                                        placeholder="Email"
                                        ui-keypress="{13:'onKeyPressReg($event)'}"  /> 
                                </p>
                                <p>
                                    <input 
                                        type="password" 
                                        id="name_i" 
                                        class="form-input"
                                        ng-model="user.password" 
                                        required 
                                        ng-minlength="6"
                                        placeholder="Choose a Password"
                                        ui-keypress="{13:'onKeyPressReg($event)'}" /> 
                                </p>
                                <p class="tip">Make it 6-25 characters</p>
                                <p class="errors" ng-if="error">{{errors}}</p>
                                <p>
                                    <input 
                                        type="button" 
                                        value="Sign up"
                                        ng-disabled="RegForm.$invalid"
                                        ng-click="onAddUser()" />
                                </p>
                            </ng-form>
                        </div>
                        <div class="sign-in" ng-show="!signup">
                            <ng-form 
                                id="login_form" 
                                name="LoginForm" 
                                novalidate 
                                class="css-form myForm" >
                                <p>
                                    <input 
                                        type="text" 
                                        id="login_i" 
                                        class="form-input"
                                        ng-model="login.login"
                                        required 
                                        ng-minlength="6"
                                        placeholder="Email or Username"
                                        ui-keypress="{13:'onKeyPress($event)'}" />
                                </p>
                                <p>
                                    <input 
                                        type="password" 
                                        id="pass_i"
                                        class="form-input"
                                        ng-model="login.password"
                                        required 
                                        ng-minlength="6"
                                        placeholder="Password"
                                        ui-keypress="{13:'onKeyPress($event)'}" /> 
                                </p>
                                <p class="errors" ng-if="error">{{error}}</p>
                                <p>
                                    <a href="#">Forgot your password?</a>
                                </p>
                                <p>
                                    <input type="checkbox" icheck />
                                    <label>Keep me sign in</label>
                                </p>    
                                <p>
                                    <input 
                                        ng-disabled="LoginForm.$invalid"
                                        ng-click="onSingin()" 
                                        type="button" 
                                        value="Sign in"
                                        ui-keypress="{13:'onKeyPress($event)'}" />
                                </p>
                            </ng-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
