<div class="login">
    <div class="modal">
        <div class="modal_wrapper">
            <div class="header" ng-if="signup">
               <h4>Sign up with your email address</h4>
               <p>Аlready have a iRate account? <a ng-click="onSignStateChange()">Sign in </a>now.</p>
            </div>
            <div class="header" ng-if="!signup">
               <h4>Sign in to iRate</h4>
               <p>Use Facebook, LiveID, Google+, Improva or your email to sign in.</p> 
               <p>Don’t have a iRate account yet? <a ng-click="onSignStateChange()">Sign up </a>now.</p>
            </div>
            <div class="body">
                <div class="left" ng-show="!signup">
                    <div class="left_wrapper">
                        <ul>
                            <li>
                                <a ng-click="socialFacebookLogin()">
                                    <img src="/images/facebook.png" alt="" />
                                </a>
                            </li>
                            <li>
                                <a ng-click="socialGooglePlusLogin()">
                                    <img src="/images/google.png" alt="" />
                                </a>
                            </li>
                            <li>
                                <a ng-click="socialMicrosoftLiveLogin()">
                                    <img src="/images/live.png" alt="" />
                                </a>
                            </li>
                            <li>
                                <a>
                                    <img src="/images/improva.png" alt="" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right" ng-class="{full: signup}">
                    <div class="right_wrapper">
                        <div class="sign-up" ng-show="signup">
                            <ng-form name="RegForm" novalidate class="css-form myForm" >
                                <p>
                                    <input 
                                        type="email" 
                                        id="email_i" 
                                        class="form-input"
                                        ng-model="user.email" 
                                        required
                                        ng-minlength="6"
                                        placeholder="Email"
                                        name="NewEmail"
                                        ui-keypress="{13:'onKeyPressReg($event)'}"  />
                                        <br />
                                        <span class="errorss" ng-show="RegForm.NewEmail.$dirty && (RegForm.NewEmail.$error.required || RegForm.NewEmail.$error.minlength || RegForm.NewEmail.$error.email)">Incorrect email</span>
                                </p>
                                <p class="errors" ng-if="errorEmail">{{errorEmail}}</p>
                                <p>
                                    <input 
                                        type="email" 
                                        id="name_i" 
                                        class="form-input"
                                        ng-model="user.reemail" 
                                        required 
                                        ng-minlength="6"
                                        placeholder="Confirm email"
                                        disable-paste
                                        onpaste="return false;"
                                        name="NewMassEmail"
                                        ui-keypress="{13:'onKeyPressReg($event)'}" />
                                        <br />
                                        <span class="errorss" ng-show="RegForm.NewMassEmail.$dirty && (RegForm.NewMassEmail.$error.required || RegForm.NewMassEmail.$error.minlength || RegForm.NewEmail.$error.email)">Incorrect mismatch</span> 
                                </p>
                                <p>
                                    <input 
                                        type="password" 
                                        id="name_i" 
                                        class="form-input"
                                        ng-model="user.password" 
                                        required 
                                        ng-minlength="6"
                                        placeholder="Password"
                                        name="NewPassword"
                                        ui-keypress="{13:'onKeyPressReg($event)'}" /> 
                                        <br />
                                        <span class="errorss" ng-show="RegForm.NewPassword.$dirty && (RegForm.NewPassword.$error.required || RegForm.NewPassword.$error.minlength)">Incorrect password</span>
                                </p>
                                <div
                                    vc-recaptcha
                                    theme="clean"
                                    lang="en"
                                    ng-model="captha"
                                    key="6Lf1Z-oSAAAAAEkk7m5n6cGiwgqeMya21UetPbIO"
                                ></div>
                                <p class="errors" ng-if="errorValidate"><br />{{errorValidate}}</p><br />

                                <p class="acknowledge">
                                    <input type="checkbox" required="required" ng-model="acknowledge" class="icheckbox_minimal"  />
                                    <label>I acknowledge that I have read and accept the<a class="notdark">Terms of use Agreement</a> and consent to the <a class="notdark">Privacy Policy</a>.</label>
                                </p> 
                                <p class="signup-submit">
                                    <input 
                                        type="button" 
                                        value="Sign up"
                                        ng-disabled="RegForm.$invalid"
                                        ng-click="onAddUser()" />
                                </p>
                            </ng-form>
                        </div>
                        <div class="sign-in" ng-show="!signup">
                            <ng-form 
                                id="login_form" 
                                name="LoginForm" 
                                novalidate 
                                class="css-form myForm" >
                                <p>
                                    <input 
                                        type="email" 
                                        id="login_i" 
                                        class="form-input"
                                        ng-model="login.email"
                                        name="Email"
                                        required 
                                        ng-minlength="6"
                                        placeholder="Email"
                                        ui-keypress="{13:'onKeyPress($event)'}" />
                                        <br />
                                        <span class="errorss" ng-show="LoginForm.Email.$dirty && (LoginForm.Email.$error.required || LoginForm.Email.$error.minlength || LoginForm.Email.$error.email)">Incorrect email</span>
                                </p>
                                
                                <p>
                                    <input 
                                        type="password" 
                                        id="pass_i"
                                        class="form-input"
                                        ng-model="login.password"
                                        required 
                                        name="Password"
                                        ng-minlength="6"
                                        placeholder="Password"
                                        ui-keypress="{13:'onKeyPress($event)'}" /> 
                                        <br />
                                        <span class="errorss" ng-show="LoginForm.Password.$dirty && (LoginForm.Password.$error.required || LoginForm.Password.$error.minlength)">Incorrect password</span>
                                </p>
                                <div class="left">
                                    <p class="errors" ng-show="error">{{error}}</p>
                                    <p>
                                        <a href="#/change_password">Forgot your password?</a>
                                    </p>
                                    <p>
                                        <input type="checkbox" icheck />
                                        <label>Keep me sign in</label>
                                    </p>
                                </div>
                                <div class="right">
                                    <p class="singin-sub">
                                        <input 
                                            ng-disabled="LoginForm.$invalid"
                                            ng-click="onSingin()" 
                                            type="button" 
                                            value="Sign in"
                                            ui-keypress="{13:'onKeyPress($event)'}" />
                                    </p>    
                                </div> 
                            </ng-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
