<section id="main_leagues" class="tags">
	<ul>
		<li 
			x-lvl-draggable="true"
			x-lvl-drop-target="true" 
			paralax-enable="{{!state}}"
			null-image="{{userItem.name}}"
			paralax-image 
			id="{{userItem.sguid}}"
			ng-repeat="userItem in viewedUsers"
			ng-class="{showMenu: userItem.showMenu}"
			class="league_{{userItem.league.name}}">
			<a ng-if="userItem && userItem.name" ng-click="onUserTouch(userItem)" ng-mouseleave="onMouseLeaveUser(userItem)" ng-mouseenter="onMouseEnterUser(userItem)" >
				<img class="repeat-item" ng-src="{{userItem.avatar}}" alt="" err-src="/images/unknown-person.png" />
				<span>{{userItem.points}}</span>
				<i></i>
				<div class="fallout" ng-class="{show: userItem.showMenu}">
					<b>{{userItem.name}}<br />{{userItem.profession.name}}</b>
					<b ng-click="onMoveToUser(userItem)">View</b>
					<b ng-if="rootUser" ng-click="onCompareToUser(userItem)">Compare</b>
					<b ng-click="onFollow($event, userItem)" ng-if="!userItem.isFrend">Follow</b>
					<b ng-click="onUnFollow($event, userItem)" ng-if="userItem.isFrend">Unfollow</b>
				</div>
			</a>
		</li>
	</ul>
</section>
