<section id="main_leagues" class="tags">
	<div isotope-container iso-options-subscribe="opts">
		<div isotope-item class="league_{{userItem.league.name}}" ng-repeat="userItem in users">
			<div class="wr" ng-class="{wrs: userItem.showMenu}" >
				<img ng-click="switchState(userItem)" class="repeat-item" ng-src="{{userItem.avatar}}" alt="" err-src="/images/unknown-person.png" />
				<i>{{userItem.points}}</i>
				<div class="sub">
					<b>{{userItem.name}} <br /><s>{{userItem.league.name}} league</s></b>
					<ul>
						<li>
							<a href="">
								<img src="/images/i1.png" alt="">
							</a>
						</li>
						<li>
							<a href="">
								<img src="/images/i2.png" alt="">
							</a>
						</li>
						<li>
							<a ng-click="onFollow($event, userItem)">
								<img src="/images/i3.png" alt="">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
