<div class="mynav" ng-if="workspace.user">
	<ul>
		<li ng-click="onChange(1)" ng-class="{current: tab == 1}">
			<a>
				<span square class="icon myprofile profile" ng-class="{current: tab == 1}"></span>
			</a>
		</li>
		<li ng-click="onChange(2)" ng-class="{current: tab == 2}">
			<a>
				<span square class="icon myprofile dash" ng-class="{current: tab == 2}"></span>
			</a>
		</li>
		<li ng-click="onChange(3)" ng-class="{current: tab == 3}">
			<a>
				<span square class="icon myprofile settings" ng-class="{current: tab == 3}"></span>
			</a>
		</li>
	</ul>
	<h2 ng-if="tab == 1">
		Profile
	</h2>
	<h2 ng-if="tab == 2">
		Dashboard
	</h2>
	<h2 ng-if="tab == 3">
		Settings
	</h2>
</div>
<p id="setting_info">
	<span class="icon league"></span>
	{{workspace.user.league.name}} league   Score: {{workspace.user.points}}
</p>
<div ng-if="tab == 1 && workspace.user" class="tab">
	<section class="tab" ng-include src="'partials/myprofile.html'" ></section>
</div>
<div ng-show="tab == 2 && workspace.user" class="tab">
	<section class="tab" ng-include src="'partials/mydash.html'" ></section>
</div>
<div ng-if="tab == 3 && workspace.user" class="tab">
	<section class="tab" ng-include src="'partials/mysettings.html'" ></section>
</div>