<div class="mynav">
	<ul>
		<li>
			<a href="#"><img src="../images/pro.png"></a>
		</li>
		<li class="current">
			<a href="#"><img src="../images/dash2.png"></a>
		</li>
		<li>
			<a href="#"><img src="../images/set.png"></a>
		</li>
	</ul>
	<h2>Dashboard</h2>
</div>
<section class="mydash">
	<p>Dashboard will be here</p>
</section>

<!-- подключить 3 страницы html partials: my-profile, my-dashboard, my-settings. 
див с классом майнав висит на всех 3х страницах (сделать по нему навигацию, по умолчанию сначала попадаем на дэшборд). 
секшн майдэш (весь!) загнать в паршлс, сюда впендюрить ng-include src="'partials/my-dashboard.html' -->