<div class="mynav" ng-if="workspace.user">
	<ul>
		<li ng-click="onChange(1)" ng-class="{current: tab == 1}">
			<a>
				<img src="../images/pro2.png" alt="" ng-if="tab == 1" />
				<img src="../images/pro.png" alt="" ng-if="tab != 1" />
			</a>
		</li>
		<li ng-click="onChange(2)" ng-class="{current: tab == 2}">
			<a>
				<img src="../images/dash2.png" alt="" ng-if="tab == 2" />
				<img src="../images/dash.png" alt="" ng-if="tab != 2" />
			</a>
		</li>
		<li ng-click="onChange(3)" ng-class="{current: tab == 3}">
			<a>
				<img src="../images/set2.png" alt="" ng-if="tab == 3" />
				<img src="../images/set.png" alt="" ng-if="tab != 3" />
			</a>
		</li>
	</ul>
	<h2 ng-if="tab == 1">
		Profile
	</h2>
	<h2 ng-if="tab == 2">
		Dashboard
	</h2>
	<h2 ng-if="tab == 3">
		Settings
	</h2>
</div>

<div ng-if="tab == 1 && workspace.user" class="tab">
	<section class="tab" ng-include src="'partials/myprofile.html'" ></section>
</div>
<div ng-if="tab == 2 && workspace.user" class="tab">
	<section class="tab" ng-include src="'partials/mydash.html'" ></section>
</div>
<div ng-if="tab == 3 && workspace.user" class="tab">
	<section class="tab" ng-include src="'partials/mysettings.html'" ></section>
</div>