<section class="promain">
	<div class="pmain">
		<img src="../images/use.png">
		<div class="pmpar">
			<p>Name<a href="#"><img src="../images/pencil.png"></a></p>
			<p>Age<a href="#"><img src="../images/pencil.png"></a></p>
			<p>Location<a href="#"><img src="../images/pencil.png"></a></p>
			<p>Profession<a href="#"><img src="../images/pencil.png"></a></p>
		</div>
		<div class="publish">
			<p><button>Change photo</button></p>
			<p><button>Publish profile</button></p>
		</div>
	</div>
	<div class="pmain league">
		<img src="../images/league.png">
		<i>00 000 000 points</i>
	</div>
</section>
<section class="procrit">
	<h2>Criteria</h2>
	<ul>
		<li>
			<p>I am</p>
			<ul>
				<li>
					<a href="#">Health</a>
					<span></span>
				</li>
				<li>
					<a href="#">Beaury</a>
					<span></span>
				</li>
				<li>
					<a href="#">Mind</a>
					<span></span>
				</li>
				<li>
					<a href="#">Qualities</a>
					<span></span>
				</li>
			</ul>
		</li>
		<li>
			<p>Relation</p>
			<ul>
				<li>
					<a href="#">Partner</a>
					<span></span>
				</li>
				<li>
					<a href="#">Children</a>
					<span></span>
				</li>
				<li>
					<a href="#">Relatives</a>
					<span></span>
				</li>
				<li>
					<a href="#">Friends</a>
					<span></span>
				</li>
				<li>
					<a href="#">Colleagues</a>
					<span></span>
				</li>
				<li>
					<a href="#">Neighbors</a>
					<span></span>
				</li>
				<li>
					<a href="#">Pets</a>
					<span></span>
				</li>
			</ul>
		</li>
		<li>
			<p>Career</p>
			<ul>
				<li>
					<a href="#">Company</a>
					<span></span>
				</li>
				<li>
					<a href="#">Position</a>
					<span></span>
				</li>
				<li>
					<a href="#">Income</a>
					<span></span>
				</li>
			</ul>
		</li>
		<li>
			<p>Lifestyle</p>
			<ul>
				<li>
					<a href="#">Realty</a>
					<span></span>
				</li>
				<li>
					<a href="#">Transport</a>
					<span></span>
				</li>
				<li>
					<a href="#">Accessories</a>
					<span></span>
				</li>
				<li>
					<a href="#">Sport</a>
					<span></span>
				</li>
				<li>
					<a href="#">Hobbies</a>
					<span></span>
				</li>
				<li>
					<a href="#">Places</a>
					<span></span>
				</li>
				<li>
					<a href="#">Sex</a>
					<span></span>
				</li>
			</ul>
		</li>
		<li>
			<p>5<sup>th</sup> element</p>
			<ul>
				<li>
					<a href="#">Cognition</a>
					<span></span>
				</li>
				<li>
					<a href="#">Action</a>
					<span></span>
				</li>
			</ul>
		</li>
	</ul>
</section>