<section class="searchfull">
	<div id="search" class="search fullsearch" ng-controller="SearchController" ng-init="id='adv'">
		<input 
			type="text" 
			ng-model="searchText" 
			placeholder="Search people" 
			class="search"
			ng-change="onSearch()" />
		<input type="button" class="searcher" ng-click="onSearch()" />
		<div ng-cloak class="searchResult" ng-if="resultSearch.length > 0">
			<div class="item" ng-repeat="(userKey, userItem) in resultSearch">
				<div class="image" ng-click="onCompare(userItem)">
					<img ng-src="{{userItem.avatar}}" alt="" err-src="/images/unknown-person.png" />
					<i>{{userItem.points}}</i>
				</div>
				<div class="text" ng-click="onCompare(userItem)">
					<p class="name">{{userItem.name}}</p>
					<p class="birthday">{{userItem.birthday}}</p>
					<p class="birthday gr">{{userItem.state.name}}</p>
					<p class="profession gr">{{userItem.profession.name}}</p>
					<p class="league">{{userItem.league.name}} league</p>
				</div>
				<img class="sealin" src="./images/i1l.png" alt="">
			</div>
		</div>
	</div>	
</section>
<section class="fusepar">
	<div class="fsp">
		<div>
			<h6>Career</h6>
			<input 
				type="text" 
				ng-model="search.career.name" 
				class="search"
				ng-change="onSearch()" />
			<input type="button" class="searcher" ng-click="toggleShowState('career')" />
			<img src="./images/fusedel.png">
			<ul class="proffesion_list" ng-class="{show: shows.career}">
				<li ng-repeat="(key, value) in careerList" ng-click="selectCareerParam('career', value)">{{value.name}}</li>
			</ul>
		</div>
		<div>
			<h6>Profession</h6>
			<input 
				type="text" 
				ng-model="search.profession.name" 
				class="search"
				ng-change="onSearch()" />
			<input type="button" class="searcher" ng-click="toggleShowState('profession')" />
			<img src="./images/fusedel.png">
			<ul class="proffesion_list" ng-class="{show: shows.profession}">
				<li ng-repeat="(key, value) in professionList" ng-click="selectParam('profession', value)">{{value.name}}</li>
			</ul>
		</div>
	</div>
	<div class="fsp">
		<div>
			<h6>Country</h6>
			<input 
				type="text" 
				ng-model="searchText" 
				placeholder="Country" 
				class="search"
				ng-change="onSearch()" />
			<input type="button" class="searcher" ng-click="onSearch()" />
			<img src="./images/fusedel.png">
		</div>
		<div>
			<h6>City</h6>
			<input 
				type="text" 
				ng-model="searchText" 
				placeholder="City" 
				class="search"
				ng-change="onSearch()" />
			<input type="button" class="searcher" ng-click="onSearch()" />
			<img src="./images/fusedel.png">
		</div>
	</div>
	<div class="fsp">
		<div>
			<h6>Birthday from</h6>
			<input 
				type="text" 
				ng-model="searchText" 
				placeholder="Birthday from" 
				class="search"
				ng-change="onSearch()" />
			<input type="button" class="searcher" ng-click="onSearch()" />
			<img src="./images/fusedel.png">
		</div>
		<div>
			<h6>Birthday till</h6>
			<input 
				type="text" 
				ng-model="searchText" 
				placeholder="Birthday till" 
				class="search"
				ng-change="onSearch()" />
			<input type="button" class="searcher" ng-click="onSearch()" />
			<img src="./images/fusedel.png">
		</div>
	</div>
	<div class="fsp">
		<div>
			<h6>League</h6>
			<input 
				type="text" 
				ng-model="searchText" 
				placeholder="League" 
				class="search"
				ng-change="onSearch()" />
			<input type="button" class="searcher" ng-click="onSearch()" />
			<img src="./images/fusedel.png">
		</div>
		<div>
			<h6>Score</h6>
			<slider floor="10" ceiling="60" ng-model-low="position.minAge" ng-model-high="position.maxAge"></slider>
		</div>
	</div>
	<div class="fsp fspb">
		<button>Clear all</button>
		<button>Find</button>
	</div>
</section>