<div id="search" ng-controller="SearchController" ng-init="limit=5">
	<input 
		type="text" 
		ng-model="searchText" 
		placeholder="Search people" 
		class="search"
		ng-change="onSearch()" />
	<input type="submit" class="searcher" ng-click="onSearch()" />
	<div ng-cloak class="searchResult" ng-if="resultSearch.length > 0">
		<div class="item" ng-repeat="(userKey, userItem) in resultSearch | limitTo: limit">
			<div class="image" ng-click="onCompare(userItem)">
				<img ng-src="{{userItem.avatar}}" alt="">
				<i>{{userItem.points}}</i>
			</div>
			<div class="text" ng-click="onCompare(userItem)">
				<p class="name">{{userItem.name}}</p>
				<p class="birthday">{{userItem.birthday}}</p>
				<p class="birthday">{{userItem.state}}</p>
				<p class="profession">{{userItem.profession.name}}</p>
				<p class="league">{{userItem.league.name}} league</p>
			</div>
			<img class="sealin" src="./images/i1l.png" alt="">
		</div>
		<div class="all" ng-if="resultSearch.length > limit">
			<a ng-click="onAdvanceSearch()">See all result</a>
		</div>
	</div>
</div>