<div class="main-footer">
    <ul class="unstyled inline pull-left services">
        <!--<li>-->
            <!--<div ng-bind-html="share" style="padding-top: 12px;"></div>-->
        <!--</li>-->
        <li>
            <a href="" ng-click="shareFacebook('http://www.improva.com', 'Improva Inc.', 'Everybody can achieve everything', 'http://www.improva.com/src/assets/images/icons/improva_icon.png')">
                <img src="src/assets/images/icons/facebook_icon.png">
            </a>
        </li>
        <li>
            <a href="https://twitter.com/intent/tweet?text=Improva Inc.&url=http://www.improva.com" target="_blank">
                <img src="src/assets/images/icons/twitter_icon.png">
            </a>
        </li>
        <li>
            <a href="" ng-click="shareGoogle('http://www.improva.com')">
                <img src="src/assets/images/icons/google_icon.png">
            </a>
        </li>
    </ul>
    <ul class="unstyled inline pull-right contacts">
        <li>
            <ul class="unstyled inline" popover="test" style="padding-right: 10px; padding-left: 20px;">
                <li><a><img src="src/assets/images/icons/contact_icon.png"></a></li>
                <li><a><h4>Contact Us</h4></a></li>
            </ul>
        </li>
        <li>
            <p class="white" style="display: table-cell; vertical-align: middle; line-height: 9px;"><span style="font-size: 1.3em">&#169;</span></p>
        </li>
        <li>
            <p class="white" style="display: table-cell; vertical-align: middle; line-height: 13px;">improva, Inc 2011-2013.</p>
        </li>
    </ul>
</div>