@import "reset.css";
@import "fonts.css";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700,800|Open+Sans+Condensed:300,700,300italic&subset=latin,cyrillic-ext,latin-ext,cyrillic);


#page {
	background: url("../images/top-bg.png") center -55px no-repeat;
	height: 1588px;
}
body {
	font-size: 1.000em;
	font-family: "Open Sans";
}
a:hover {
	text-decoration: none;
}
/** footer { **/
footer {
	background: #019fdb url("../images/footer/bg.png") center top no-repeat;
}
footer section {
	padding: 24px 0px 24px 0px;
	color: #ffffff;
	width: 940px;
	margin: 0px auto;
	font-size: 0.688em;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
footer a {
	color: #ffffff;
}
footer #copyright {
	float: left;
	line-height: 200%;
	padding-bottom: 4px;
}
footer #copyright strong {
	font-weight: 600;
}
footer section:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
footer #individ {
	float: right;
}
/** } **/

@media (max-width: 980px) {
	footer section {
		width: 80%;
	}
	footer #copyright, footer #individ {
		float: none;
	}
}
@media (max-width: 480px) {
	footer section {
		width: 92%;
	}
}
#page header {
	background: url("../images/header-sh.png") left -1px repeat-x;
	height: 92px;
	text-align: center;
	padding-top: 18px;
}
#page header ul, #page header li, #page header .cu, #page header span {
	display: inline-block;	
	vertical-align: middle;
}
#page header ul {
	padding: 0px 40px;
}
#page header li {
	margin-left: 15px;
}
#page header a {		
	font-family: 'Open+Sans';
	font-weight: 300;
	font-size: 0.875em;
	color: #ffffff;
	text-decoration: none;
}
#page header span:first-child {
	background: url("../images/logo.png") left center no-repeat;
	width: 217px;
	height: 49px;
}
#page header span:last-child {
	background: url("../images/logo2.png") right center no-repeat;
	width: 82px;
	height: 37px;
}
#page header a.cu {
	font-weight: 700;
	color: #44caff;
	border: 1px solid #ffffff;
	padding: 13px;
	margin: 0px 10px 0px 30px;
}