@import "reset.css";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700,800|Open+Sans+Condensed:300,700,300italic&subset=latin,cyrillic-ext,latin-ext,cyrillic);


#page {
	background: url("../images/top-bg.png") center -50px no-repeat;
	min-width: 1000px;
}
#content {
	margin-top: -45px;
	padding-top: 45px;
}
body {
	font-size: 1.000em;
	font-family: "Open Sans";
	overflow-x: hidden;
}
a:hover {
	text-decoration: none;
}
/** footer { **/
footer {
	background: #019fdb url("../images/footer/bg.png") center top no-repeat;
}
footer section {
	padding: 24px 0px 24px 0px;
	color: #ffffff;
	width: 940px;
	margin: 0px auto;
	font-size: 0.688em;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
footer a {
	color: #ffffff;
}
footer #copyright {
	float: left;
	line-height: 200%;
	padding-bottom: 4px;
}
footer #copyright strong {
	font-weight: 600;
}
footer section:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
footer #individ {
	float: right;
}
/** } **/


#page header {
	background: rgb(12,13,13);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBjMGQwZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iIzEwMTYxNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iIzA4MWQyNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzAxMWUyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(12,13,13,1) 0%, rgba(16,22,23,1) 35%, rgba(8,29,37,1) 70%, rgba(1,30,45,1) 99%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(12,13,13,1)), color-stop(35%,rgba(16,22,23,1)), color-stop(70%,rgba(8,29,37,1)), color-stop(99%,rgba(1,30,45,1)), color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top,  rgba(12,13,13,1) 0%,rgba(16,22,23,1) 35%,rgba(8,29,37,1) 70%,rgba(1,30,45,1) 99%,rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(12,13,13,1) 0%,rgba(16,22,23,1) 35%,rgba(8,29,37,1) 70%,rgba(1,30,45,1) 99%,rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(12,13,13,1) 0%,rgba(16,22,23,1) 35%,rgba(8,29,37,1) 70%,rgba(1,30,45,1) 99%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(12,13,13,1) 0%,rgba(16,22,23,1) 35%,rgba(8,29,37,1) 70%,rgba(1,30,45,1) 99%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c0d0d', endColorstr='#000000',GradientType=0 );

	width: 100%;
	position: fixed;
	z-index: 10;
	top: 0px;
}
#page header section {
	position: relative;
	width: 960px;
	margin: 0px auto;
	height: 72px;
	text-align: center;
	padding-top: 18px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
#page header ul, #page header li, #page header .cu, #page header span, #page header img {
	display: inline-block;	
	vertical-align: middle;
}
#page header ul {
	padding: 0px 40px;
	line-height: 34px;
	position: relative;
	top: 10px;
}
#page header li {
	margin-left: 15px;
}
#page header a {		
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 0.875em;
	color: #ffffff;
	text-decoration: none;
	line-height: 40px;
}
#page header a.current {
	background: #2e8fb4;
	border-radius: 5px;
	padding: 1px 7px;
}
#page header a:hover {
	text-decoration: underline;
}
#page header .logo2 {
	background: url("../images/logo2.png") right center no-repeat;
	width: 82px;
	height: 37px;
	position: absolute;
	right: 0px;
	top: 28px;
	text-indent: -999px;
	overflow: hidden;
}
#page header #logo1 {
	background: url("../images/logo.png") right center no-repeat;
	width: 217px;
	height: 49px;
	position: absolute;
	left: 0px;
	display: block;
}
#page header a.cu {
	font-weight: 600;
	color: #44caff;
	border: 1px solid #ffffff;
	padding: 0px 13px;
	line-height: 34px;
	margin: 0px 0px 0px 30px;
	position: absolute;
	right: 100px;
	top: 28px;
}
#page header .menu {
	display: none;
}

#page #content #maintop {
	position: relative;
}
#page #content #maintop .map {
	text-align: center;
	width: 960px;
	position: relative;
	left: 2%;
	margin: 15% auto 0px auto;
	height: 544px;
}
#page #content #maintop .map h1 {
	font-family: 'Open Sans';
	font-size: 2.750em;
	color: #ffffff;
	font-weight: 300;
	text-align: left;
	line-height: 130%;
	z-index: 5;
	position: relative;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
#page #content #maintop .map h1 strong {
	font-weight: 800;
	position: relative;
	top: -5px;
	line-height: 120%;
}
#page #content #maintop .map h1 span {
	line-height: 120%;
	font-weight: 300;
}
#page #content #maintop .map h1 strong, #page #content #maintop .map h1 span {
	background: #061d28;
	font-style: normal;
	padding: 0px 20px 5px 10px;
	display: inline-block;
}
#page #content #maintop .map img {
	position: absolute;
	top: -28%;
	left: 37%;
	z-index: 3;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

#page #content #maintop {
	position: relative;
}
#page #content #maintop .map h1, #page #content #maintop .map h2 {
	font-family: 'Open Sans';
	font-size: 44px;
	color: #ffffff;
	font-weight: 800;
	text-align: left;
	z-index: 5;
	position: relative;
}

#page #content #wwt {
	position: relative;
	top: 0px;
	width: 960px;
	margin: -105px auto 0px auto;
	left: 2%;
	min-height: 650px;
}
#page #content #wwt .title {
	display: block;
	width: 386px;
	height: 177px;
	background: url("../images/wwt.png") left top no-repeat;
}
#page #content #wwt div.wwtb {
	background: url("../images/wwtsh.png") center top no-repeat;
	z-index: 7;
	position: absolute;
	width: 539px;
	height: 280px;
	left: 400px;
	top: -100px;
}
#page #content #wwt div.wwtb h1, #page #content #wwt div.wwtb h2 {
	max-width: 430px;
	line-height: 40px;
	padding: 30px 0px 0px 70px;
}
#page #content #wwt div.wwtb h2 {
	padding-top: 6px;
}
#page #content #wwt div.wwtb h2, #page #content #wwt p {
	line-height: 21px;
}
#page #content #wwt div.wwtb h1, #page #content #wwt div.wwtb h2, #page #content #wwt h3, #page #content #wwt p {
	font-family: 'Open Sans';
	font-size: 15px;
	color: #ffffff;
}
#page #content #wwt div.wwtb h1, #page #content #wwt h3 {
	font-weight: 600;
	font-size: 30px;
}
#page #content #wwt h3 {
	font-size: 1.438em;
	color: #0e05f4;
	margin: 3% 0px 3% 0px;
	line-height: 140%;
}
#page #content #wwt p {
	color: #000000;
	margin-right: 20px;
	vertical-align: top;
	width: 45%;
}
#page #content #wwt div.p p:first-child {
	width: 40%;
	float: left;
}
#page #content #wwt div.p p:last-child {
	width: 52%;
	float: right;
}
#page #content #wwt strong {	
	font-weight: 800;
}
#page #content #wwt img, #page #content #wwt div, #page #content #wwt p, #page #content #wwt span {
	display: inline-block;
}
#page #content #wwt img {
	position: relative;
	margin-right: 20px;
	top: 5px;
}
#page #content #wwt img.chapter {
	vertical-align: bottom;
	margin-right: 0px;
}
#page #content #wwt i {
	background: url("../images/stripe.png") center top no-repeat;
	height: 2px;
	display: block;
	margin: 3% 0px 3% 0px;
}
#page #content #wwt span {
	background: url("../images/contactus.png") center center no-repeat;
	width: 154px;
	height: 53px;
	padding: 25px 0px 0px 65px;
	color: #44caff;
	font-weight: 600;
	font-size: 16px;
	font-family: 'Open Sans';
	margin-top: -10px;
	cursor: pointer;
}

#page #content #team {
	position: relative;
	width: 960px;
	margin: 0px auto;
	left: 2%;
}
#page #content #team h1, #page #content #team h2 {
	font-family: 'Open Sans';
	font-size: 23px;
	color: #ffffff;
	font-weight: 600;
	line-height: 33px;
	display: inline-block;
	vertical-align: middle;
}
#page #content #team h1 {
	font-weight: 800;
	font-size: 120px;
	margin: -3px 60px 0px 0px;
	width: 35%;
}
#page #content #team h2 {
	width: 50%;
}
#page #content #team .tinf {
	overflow: hidden;
	display: block;
	background: url("../images/sep1.png") center bottom no-repeat;
	margin: 0px 0px 35px 0px;
	padding: 0px 0px 7px 0px;
}
#page #content #team .years, #page #content #team .empls {
	float: left;
	margin-top: 140px;
}
#page #content #team .empls {
	margin-left: 90px;
	overflow: hidden;
}
#page #content #team .years, #page #content #team .empls span {
	width: 300px;
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
}
#page #content #team h3, #page #content #team h4, #page #content #team h5, #page #content #team h6, #page #content #team i, #page #content #team p {
	font-family: 'Open Sans';
	color: #000000;
	font-size: 15px;
	line-height: 21px;
}
#page #content #team h3, #page #content #team h4 {
	font-weight: 800;
	color: #36b92f;
	line-height: 35px;
	font-size: 30px;
}
#page #content #team h4 {
	font-weight: 300;
}
#page #content #team h5, #page #content #team h6 {
	font-weight: 600;
	color: #01aff1;
	font-size: 30px;
	margin-bottom: 33px;
}
#page #content #team h6 {
	font-size: 23px;
	margin-bottom: 3px;
}
#page #content #team i {
	font-weight: 300;
}
#page #content #team p {
	margin-top: 30px;
}
#page #content #team .empls ul {
	display: block;
	text-align: center;
	margin-left: -45px;
}
#page #content #team .empls li {
	background: url("../images/gal.png") center top no-repeat;
	display: inline-block;
	width: 15px;
	height: 16px;
	margin: 30px 2px 15px 2px;
	cursor: pointer;
}
#page #content #team .empls li.current {
	background: url("../images/gal-c.png") center top no-repeat;
	cursor: default;
}
#page #content #team .empls .elements {
	display: none;
	position: relative;
}
#page #content #team .empls .elements.show {
	display: block;
}
#do {
	width: 960px;
	margin: 0px auto;
	left: 2%;
}
#do .titles {
	width: 100%;
	overflow: hidden;
}
#do .titles h1 {
	display: inline-block;
	vertical-align: bottom;
	margin-left: 50px;
}
#do .titles h1 img {
	max-width: 225px;
}
#do .titles h2 {
	display: inline-block;
	vertical-align: bottom;
	max-width: 60%;
	padding: 0px 0px 21px 8%;
	font-size: 23px;
	color: #222222;
	line-height: 34px;
	font-weight: 600;
}
#do .body {
	width: 100%;
	padding: 36px 0px 0px 0px;
}
#do .body .left, #do .body .right, #do .body .gallery {
	vertical-align: top;
	display: inline-block;
}
#do .body .gallery {
	overflow: hidden;
}
#do .body .gallery img {
	display: none;
	position: relative;
}
#do .body .gallery img.show {
	display: block;
}
#do .body .left {
	width: 227px;
	margin-left: 50px;
}
#do .body .right {
	width: 300px;
	margin-left: 90px;
}
#do .body .gallery {
	width: 220px;
	margin-left: 30px;
}
#do .body h3 {
	font-size: 25px;
	color: #01aff1;
	font-weight: 600;
	padding: 0px 0px 15px 0px;
}
#do .body ul {
	list-style: none;
}
#do .body span {
	cursor: pointer;
	background: url("../images/b1.png") left top no-repeat;
	width: 234px;
	height: 53px;
	display: inline-block;
	line-height: 45px;
	text-align: center;
	font-size: 16px;
	color: #44caff;
	font-weight: 600;
	margin: 36px 0px 0px -7px;
}
#do .body ul li {
	background: url("../images/dot1.png") left 6px no-repeat;
	padding: 0px 0px 6px 14px;
	font-size: 15px;
	color: #222222;
	line-height: 21px;
}
#do .small {
	display: none !important;
}
#do ul.items_list {
	display: inline-block;
	vertical-align: top;
	list-style: none;
	position: relative;
	left: 15px;
}
#do .items_list li {
	background: url("../images/gal.png") center top no-repeat !important;
	display: block;
	width: 15px;
	height: 16px;
	margin: 0px 0px 2px 0px;
	cursor: pointer;
	list-style: none;
}
#do .items_list li.current {
	background: url("../images/gal-c.png") center top no-repeat !important;
	cursor: default;
}
#about {
	background: url("../images/about_bg.png") center top no-repeat;
	min-height: 200px;
}
#about .inner {
	width: 960px;
	margin: 0px auto;
	left: 2%;
	padding-bottom: 40px;
}
#about .titles {
	padding: 120px 0px 20px 0px;
}
#about .titles .left {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	margin-left: 50px;
}
#about .titles .right {
	width: 43%;
	display: inline-block;
	vertical-align: top;
}
#about .titles .left h1 {
}
#about .titles .left h1 img {
	max-width: 80%;
	display: block;
	margin: 0px;
}
#about .titles .left h2 {
	font-size: 50px;
	font-weight: 300;
	margin: 10px 0px 0px 0px;
}
#about .titles .left p {
	font-size: 19px;
	color: #ffffff;
}
#about .titles .right h2 {
	font-size: 30px;
	font-weight: 600;
	padding: 0px 0px 15px 0px;
}
#about .titles .right p.first {
	width: 60%;
}
#about .titles .right p {
	display: inline-block;
	vertical-align: top;
	width: 38%;
	line-height: 34px;
	font-size: 33px;
	color: #ffffff;
	font-weight: 600;
}
#about img {
	position: relative;
	margin: -160px 0px 0px -10px;
}
#about .items {
	margin-left: 50px;
	z-index: 10;
	position: relative;
	padding-bottom: 40px;
}
#about .items li {
	width: 20%;
	display: inline-block;
	vertical-align: top;
	font-size: 19px;
	color: #222222;
	line-height: 25px;
	padding-right: 4%;
}
#about .items2 {
	padding: 35px 0px 0px 0px;
	margin-left: 50px;
}
#about .items2 li {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	padding-right: 2%;
	font-size: 15px;
	color: #222222;
	line-height: 21px;
}
#about .items2 li h2 {
	font-size: 23px;
	font-weight: 600;
	line-height: 33px;
}
#about .big_image {

}
#about .gallery {
	display: none;
}

#page #content #welcome .ways i, #page #content #welcome .ways h2, #page #content #welcome .ways b, #page #content #welcome .ways p {
	font-family: 'Open Sans';
	color: #ffffff;
	font-size: 15px;
	line-height: 21px;
	display: block;
}
#page #content #welcome .ways h2 {
	font-weight: 600;
	font-size: 23px;
	margin-bottom: 15px;
}
#page #content #welcome .ways i {
	font-weight: 300;
	color: #000000;
	font-size: 40px;
	margin: 30px 70px 0px 0px;
}
#page #content #welcome {
	background: #01aff1;
	padding-left: 210px;
}
#page #content #welcome .ways {
	overflow: hidden;
	display: block;
	padding: 60px 0px 55px 0px;
}
#page #content #welcome .ways div {
	float: left;
	vertical-align: bottom;
}
#page #content #welcome .ways div:first-child img {
	padding-top: 60px;
}
#page #content #welcome .ways div:last-child img {
	display: inline-block;
	vertical-align: middle;
}
#page #content #welcome .ways p {
	width: 470px;
	margin-top: 25px;
}
#page #content #welcome .ways h4 {
	display: inline-block;
	width: 98px;
	vertical-align: middle;
	padding: 0px 20px 0px 5px;
}

#page #content #welcome .offices {
	overflow: hidden;
	display: block;
}
#page #content #welcome .offices div, #page #content #welcome .offices span {
	float: left;
}
#page #content #welcome .offices div {
	width: 380px;
	font-family: 'Open Sans';
	color: #ffffff;
	line-height: 21px;
	font-size: 15px;
	margin-bottom: 40px;
}
#page #content #welcome .offices div:first-child {
	width: 240px;
}
#page #content #welcome .offices .last {
	width: 170px;
	padding-top: 35px;
}
#page #content #welcome .offices a {
	color: #ffffff;
}
#page #content #welcome .offices h2, #page #content #welcome .offices h3 {
	font-weight: 600;
	font-size: 23px;
	line-height: 34px;
}
#page #content #welcome .offices h2 {
	font-weight: 800;
	padding-bottom: 10px;
}
#page #content #welcome .offices p {
	margin-top: 15px;
}
#page #content #welcome .offices span {
	background: url("../images/contactus.png") left bottom no-repeat;
	width: 154px;
	height: 53px;
	margin-top: 40px;
	padding: 10px 0px 0px 30px;
	color: #44caff;
	font-weight: 600;
	font-size: 16px;
	font-family: 'Open Sans';
	cursor: pointer;
	line-height: 45px;
}
#page #content #welcome > i {
	background: url("../images/stripe2.png") left top no-repeat;
	height: 2px;
	display: block;
	padding-bottom: 30px;
}

#page #content #time {
	padding: 0px 0px 35px 210px;
	overflow: hidden;
	display: block;
	background: #01aff1;
}
#page #content #time div {
	float: left;
}
#page #content #time div:first-child {
	width: 160px;
	margin-right: 80px;
	position: relative;
	top: -10px;
}
#page #content #time span {
	display: block;
	overflow: hidden;
}
#page #content #time i {
	float: right;
}
#page #content #time span img {
	vertical-align: top;
}
#page #content #time h3, #page #content #time img, #page #content #time a, #page #content #time strong {
	display: inline-block;
	text-align: center;
}
#page #content #time strong {
	max-width: 140px;
	vertical-align: top;
	margin-left: 50px;
}
#page #content #time strong:first-child {
	margin-left: 0px;
}
#page #content #time h2, #page #content #time b, #page #content #time h3, #page #content #time a, #page #content #time h4, #page #content #time p {
	font-family: 'Open Sans';
	font-size: 13px;
	line-height: 19px;
	color: #ffffff;
}
#page #content #time h2, #page #content #time b, #page #content #time h3 {
	font-weight: 600;
}
#page #content #time h2, #page #content #time h3 {
	color: #000000;
	font-size: 23px;
	line-height: 34px;
	padding-bottom: 35px;
	padding-top: 5px;
}
#page #content #time h3 {
	font-size: 24px;
	line-height: 26px;
	padding-bottom: 20px;
	padding-top: 0px;
}
#page #content #time b {
	font-size: 60px;
	line-height: 65px;
}
#page #content #time h4 {
	font-weight: 800;
	font-size: 21px;
	line-height: 29px;
	padding: 5% 0px 2% 0px;
}
#page #content #time a {
	font-size: 15px;
	vertical-align: top;
	padding: 0px 10px;
	line-height: 27px;
}
#shadow {
	position: absolute;
	z-index: 99;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	display: none;
}

/** popup { **/
.popup {
	position: absolute;
	z-index: 199;
	top: 50%;
	left: 50%;
	margin-left: -230px;
	margin-top: -260px;
	display: none;
}
.popup .wrap1 {
	width: 460px;
	background: #ffffff;
	min-height: 540px;
	position: relative;
	border-radius: 6px;
	box-shadow: 0px -1px 5px 5px rgba(0, 0, 0, 0.2);
}
.popup .wrap2 {
	position: relative;
	padding: 40px 0px 28px 50px;
}
.popup .close {
	cursor: pointer;
	width: 12px;
	height: 13px;
	background: url("../images/popup/close.png") left top no-repeat;
	position: absolute;
	display: block;
	right: 15px;
	top: 15px;
}
.popup h2 {
	font-size: 23px;
	color: #01aff1;
	font-weight: 600;
	padding: 0px 0px 28px 0px;
}
.popup .red, .popup .win {
	padding-left: 97px;
	padding-bottom: 7px;
	color: #01aff1;
	font-size: 14px;
	font-weight: 600;
}
.popup .red {
	color: #ff3600;
}
.popup form {
	margin: 0px 0px 0px 26px;
}
.popup form label {
	display: inline-block;
	font-size: 14px;
	color: #222222;
	font-weight: 300;
	width: 67px;
	vertical-align: top;
}
.popup form {
	padding-top: 12px;
}
.popup form div {
	padding-bottom: 6px;
	padding-top: 0px;
}
.popup form .red {
	padding: 0px;
}
.popup form input[type="text"], .popup form textarea {
	width: 225px;
	padding: 0px 5px;
	line-height: 27px;
	height: 27px;
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	box-shadow: inset 0px 5px 10px 1px rgba(0, 0, 0, 0.1);
}
.popup form textarea {
	overflow: auto;
	height: 90px;
}
.popup form div.check {
	margin-left: 65px;
	margin-top: 15px;
	margin-bottom: 9px;
}
.popup form div.check label {
	width: auto;
	vertical-align: middle;
	position: relative;
	top: -6px;
	margin-left: 5px;
}
.popup form .jq-checkbox {
	background: url("../images/popup/1.png") left top no-repeat;
	width: 22px;
	height: 21px;
}
.popup form .jq-checkbox.checked {
	background: url("../images/popup/2.png") left top no-repeat;
}
.popup form div .submit {
	width: 154px;
	height: 53px;
	background: url("../images/popup/send.png") left top no-repeat;
	padding: 0px;
	margin: 0px;
	border: none;
	text-align: center;
	margin-left: 68px;
	line-height:45px;
	font-size: 16px;
	font-weight: 600;
	color: #44caff;
	font-family: "Open Sans";
	cursor: pointer;
	vertical-align: top;
	display: inline-block;
}
/** } **/
@media (max-width: 980px) {
	footer section {
		width: 94%;
	}
	footer #copyright, footer #individ {
		float: none;
	}
	#page #content #wwt {
		margin-top: 12%;
	}
	#do .titles h1 img {
		max-width: 70%;
	}
	#page header section {
		width: 94%;
		height: 100px;
	}
	#page header ul {
		position: absolute;
		bottom: 0px;
		top: auto;
		left: 0px;
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}
	#page #content #maintop .map {
		width: 94%;
	}
	#page #content #maintop .map h1 {
		padding-top: 155px;
	}
	#page #content #maintop .map img {
		top: 40px;
		left: 30%;
	}
	#page {
		min-width: 100%;
	}
	#page #content #wwt {
		width: 94%;
	}
	#page #content #wwt div.wwtb {
		display: none;
	}
	#page #content #wwt p {
		width: 53%;
	}
	#page #content #wwt span {
		margin-left: 160px;
		margin-top: 0px;
	}
	#page #content #team {
		width: 94%;
	}
	#page #content #team h1 {
		font-size: 90px;
	}
	#page #content #team .years, #page #content #team .empls {
		width: 100%;
		float: none;
		margin-left: 0px;
	}
	#page #content #team .years .inner_text {
		display: inline-block;
		vertical-align: top;
		width: 21%;
		padding-right: 10%;
	}
	#page #content #team .years p {
		display: inline-block;
		vertical-align: top;
		width: 65%;
		margin-top: 0px;
	}
	#page #content #team .empls {
		margin-top: 30px;
	}
	#about .inner {
		width: 94%;
	}
	#about .titles .right p {
		width: 100% !important;
		font-size: 23px;
		line-height: 25px;
		padding-bottom: 4%;
	}
	#about .titles .right {
		width: 40%;
	}
	#about .inner > img {
		max-width: 100%;
		margin-top: -50px;
	}
	#about .items2 li:first-child {
		display: block;
		width: 100%;
		padding-bottom: 2%;
	}
	#about .items2 li {
		width: 45%;
		padding-right: 4%;
	}
	#about .titles .left h2 {
		font-size: 30px;
	}
	#about .items li {
		padding-right: 2%;
		width: 22%;
		font-size: 18px;
	}
	#do {
		width: 94%;
	}
	#about img {
		margin-top: -120px;
	}
	#do .titles h1 {
		margin-left: 0px;
		vertical-align: top;
	}
	#do .titles h2 {
		max-width: 56%;
		vertical-align: top;
	}
	#do .body .gallery {
		display: none;
	}
	#do .body .left {
		margin-left: 0px;
	}
	#do .body .right {
		margin-left: 4%;
	}
	#page #content #maintop .map {
		margin-top: 0% !important;
	}
	#do ul.items_list {
		display: none;
	}
	#page #content #welcome {
		width: 100%;
		margin: 0px auto;
		left: 2%;
		padding: 0px;
	}
	#page #content #welcome .ways div:first-child img {
		max-width: 40%;
		display: inline-block;
		vertical-align: middle;
		margin-left: 4%;
		padding-top: 0px;
	}
	#page #content #welcome .ways i {
		display: inline-block;
		vertical-align: middle;
		font-size: 25px;
		font-weight: 300;
		padding-top: 0px;
		margin-top: 0px;
		padding-left: 3%;
	}
	#page #content #welcome .ways {
		padding-top: 30px;
	}
	#about .titles .left {
		margin-left: 0px;
	}
	#about .items {
		margin-left: 0px;
	}
	#about .items2 {
		margin-left: 0px;
	}
	#about .titles {
		padding-top: 90px;
	}
	#page #content #welcome .ways div.wall {
		margin-left: 4%;
		margin-top: 8%;
	}
	#page #content #welcome .offices div:first-child {
		margin-left: 4%;
		width: 23%;
	}
	#page #content #welcome .offices p {
		width: 50%;
	}
	#page #content #welcome .offices .last {
		position: absolute;
		right: -70px;
		width: 40%;
	}
	#page #content #welcome .offices span {
		position: absolute;
		right: 0px;
		margin-top: 130px;
	}
	#page #content #welcome .offices h2 {
		padding-bottom: 0px;
	}
	#page #content #welcome .offices p {
		margin-top: 5px;
	}
	#page #content #time {
		width: 100%;
		margin: 0px auto;
		margin-left: 0px;
		padding-left: 0px;
	}
	#page #content #time div:first-child {
		margin-left: 4%;
		margin-right: 7%;
	}
	#page #content #time div:first-child h2 {
		padding-bottom: 0px;
	}
	#page #content #time div.time {
		width: 60%;
	}
	#page #content #time h3 {
		float: none;
		width: 100%;
		text-align: left;
		padding-bottom: 7px;
	}
	#page #content #time i {
		float: none;
		clear: both;
		width: 100%;
		overflow: hidden;
		margin-bottom: 10px;
		display: block;
	}
	#page #content #time strong {
		max-width: 29%;
		margin-right: 5%;
		margin-left: 0px;
	}
	#page #content #time h4 {

	}
	#page #content #team .empls .elements img {
		width: 32%;
	}
	#page #content #team .empls span {
		width: 355px;
	}
}
@media (max-width: 640px) {
	#page {
		background: url("../images/top-bg_640.jpg") center 75px no-repeat;
	}
	#page #content #maintop .map {
		height: 675px;
	}
	#page #content #maintop .map img {
		top: auto;
		bottom: -10px;
		left: -7%;
	}
	#page #content #maintop {
	}
	#page #content #maintop .map h1, #page #content #maintop .map h2 {
		font-size: 1.875em;
		line-height: 160%;
	}
	#page #content #maintop .map {
		margin-top: 19%;
	}
	#page #content #wwt {
		min-height: 950px;
	}
	#page #content #wwt div.wwtb {
		position: relative;
		top: 0px;
		left: 0px;
		margin-top: 18px;
		display: block;
	}
	#page #content #wwt .title {
		display: block;
		width: 235px;
		height: 100px;
		background: url("../images/wwt_640.png") left top no-repeat;
	}
	#page #content #team {
		left: 2%;
	}
	#page #content #team h1 {
		font-size: 60px;
		width: 25%;
		vertical-align: top;
		margin-bottom: 10px;
	}
	#page #content #team h2 {
		width: 62%;
		font-size: 23px;
		position: relative;
		top: -13px;
	}
	#do .titles h1 {
		max-width: 35%;
	}
}
@media (max-width: 550px) {
	header {
		position: relative !important;
	}
	footer section {
		width: 92%;
	}
	#page header #logo1 {
		background: url("../images/logo_320.png") right center no-repeat;
		width: 298px;
		height: 51px;
	}
	#page header section {
		height: 120px;
		width: 92%;
	}
	#page header .logo2 {
		bottom: 13px;
		right: -5px;
		top: auto;
		background: none;
		text-indent: 0px;
		line-height: 34px;
		color: #9f9e9e;
	}
	#page header a.cu {
		bottom: 13px;
		top: auto;
		right: 85px;
	}
	#page header ul {
		display: none;
	}
	#page header .menu {
		position: absolute;
		left: 0px;
		bottom: 13px;
		display: inline-block;
		line-height: 36px;
		color: #ffffff;
		cursor: pointer;
		text-transform: uppercase;
		font-size: 0.875em;
		font-weight: 600;

		background: rgb(1,30,45);
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAxMWUyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU3JSIgc3RvcC1jb2xvcj0iIzBlMTgxYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkxJSIgc3RvcC1jb2xvcj0iIzBlMGYwZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk0JSIgc3RvcC1jb2xvcj0iIzBjMTkxYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwOTNiNGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(1,30,45,1) 0%, rgba(14,24,27,1) 57%, rgba(14,15,15,1) 91%, rgba(12,25,28,1) 94%, rgba(9,59,74,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(1,30,45,1)), color-stop(57%,rgba(14,24,27,1)), color-stop(91%,rgba(14,15,15,1)), color-stop(94%,rgba(12,25,28,1)), color-stop(100%,rgba(9,59,74,1)));
		background: -webkit-linear-gradient(top,  rgba(1,30,45,1) 0%,rgba(14,24,27,1) 57%,rgba(14,15,15,1) 91%,rgba(12,25,28,1) 94%,rgba(9,59,74,1) 100%);
		background: -o-linear-gradient(top,  rgba(1,30,45,1) 0%,rgba(14,24,27,1) 57%,rgba(14,15,15,1) 91%,rgba(12,25,28,1) 94%,rgba(9,59,74,1) 100%);
		background: -ms-linear-gradient(top,  rgba(1,30,45,1) 0%,rgba(14,24,27,1) 57%,rgba(14,15,15,1) 91%,rgba(12,25,28,1) 94%,rgba(9,59,74,1) 100%);
		background: linear-gradient(to bottom,  rgba(1,30,45,1) 0%,rgba(14,24,27,1) 57%,rgba(14,15,15,1) 91%,rgba(12,25,28,1) 94%,rgba(9,59,74,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#011e2d', endColorstr='#093b4a',GradientType=0 );
		border: 1px solid #000000;
		padding: 0px 21px 0px 28px;
		border-radius: 5px;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
	}
	#page header .menu:hover {
		border: 1px solid #ffffff;
	}
	#page header .menu i {
		display: inline-block;
		width: 11px;
		height: 6px;
		margin: 0px 0px 0px 12px;
		background: url("../images/header/3.png") right center no-repeat;
		position: relative;
		top: -1px;
	}
	#page {
		background: #ffffff;
	}
	#page #content #maintop .map h1, #page #content #maintop .map h2 {
		font-size: 1.563em;
		line-height: 160%;
		margin-left: 4%;
	}
	#page #content #maintop .map h1 {
		padding-top: 4%;
	}
	#page #content #maintop .map {
		background: #0e6fb3 url("../images/map_320.jpg") center bottom no-repeat;
		height: 380px;
		padding: 0px;
		margin: 0px;
		width: 100%;
		left: 0%;
	}
	#page #content #maintop .map img {
		display: none;
	}

	#page #content #wwt {
		top: 0px;
		background: #0ac600;
		width: auto;
		padding: 20px 12px 0px 12px;
		left: 0px;
		min-height: auto;
		margin-top: 0px;
	}
	#page #content #wwt div.wwtb {
		background: none;
		padding: 0px 0px 0px 0px;
		margin-top: 0px;
		height: auto;
	}
	#page #content #wwt div.wwtb * {
		padding-left: 0px !important;
	}
	#page #content #wwt div.p p:first-child,
	#page #content #wwt div.p p:last-child {
		width: auto;
		float: none;
		padding-bottom: 7px;
	}
	#page #content #wwt img {
		display: none;
	}
	#page #content #wwt i {
		display: none;
	}
	#page #content #wwt p {
		width: 100%;
	}
	#page #content #wwt span {
		margin-left: 0px;
		left: -40px;
		position: relative;
	}
	#page #content #team {
		background: url("../images/bg1_320.png") center top no-repeat;
		width: auto;
		padding: 0px;
		left: 0px;
		min-height: 207px;
		padding: 30px 12px 0px 12px;
	}
	#page #content #team h1 {
		width: 100%;
		line-height: 120%;
	}
	#page #content #team h2 {
		padding-top: 18px;
		width: 100%;
		line-height: 26px;
	}
	#page #content #team .years, #page #content #team .empls {
		margin-top: 50px;
	}
	#page #content #team .years .inner_text {
		width: auto;
		display: block;
		padding-right: 0px;
		font-size: 24px;
		padding-bottom: 10px;
	}
	#page #content #team .years .inner_text h3 {
		font-size: 25px;
		display: inline-block;
	}
	#page #content #team .years .inner_text h4 {
		font-size: 25px;
		display: inline-block;
	}
	#page #content #team .years p {
		display: block;
		width: 100%;
	}
	#page #content #team .empls {
		margin-top: 20px;
	}
	#page #content #team .empls p {
		display: none;
	}
	#page #content #team .empls img {
		display: inline-block;
		vertical-align: middle;
	}
	#page #content #team .empls span {
		display: inline-block;
		vertical-align: middle;
		width: 25%;
		line-height: 140%;
	}
	#do {
		margin-bottom: 20px;
	}
	#do .titles h2 {
		padding-left: 0px;
		width: 100%;
		max-width: 100%;
		padding: 10px 0px 0px 0px;
	}
	#do .body {
		padding-top: 17px;
	}
	#do span {
		display: none !important;
	}
	#do .small {
		display: block !important;
	}
	#do .body .right {
		margin-left: 0px;
		margin-top: 15px;
	}
	#about .items2 {
		margin-left: 0px;
	}
	#about .items2 li {
		margin-left: 0px;
		margin-right: 0px;
		width: 100%;
		padding-bottom: 20px;
	}
	#about .inner {
		padding-bottom: 0px;
	}
	#about .titles .left {
		width: 100%;
		margin-left: 0px !important;
		padding-bottom: 15px;
	}
	#about .titles .left p {
		padding-top: 4px;
	}
	#about .titles .right h2 {
		font-size: 21px;
	}
	#about .big_image {
		display: none;
	}
	#about .items li {
		display: none;
	}
	#about .items li:first-child {
		display: block;
		width: 100%;
		text-align: center;
		padding: 0px;
	}
	#about .gallery {
		text-align: center;
	}
	#about .gallery img {
		margin: 0px;
		position: static;
	}
	#about .titles .right p {
		width: 27% !important;
		font-size: 15px;
		line-height: 19px;
		vertical-align: middle;
	}
	#about .titles .right h2 {
		display: inline-block;
		vertical-align: middle;
		font-size: 21px;
		width: 40%;
	}
	#about .titles .right {
		width: 100% !important;
	}
	#about .items {
		margin: 0px;
		padding-bottom: 30px;
		padding-top: 30px;
	}
	#about .titles {
		padding: 60px 0px 0px 0px;
	}
	#about {
		background: url("../images/about_bg_320.png") center top repeat-x;
	}
	#about .gallery {
		display: block;
	}
	.popup .wrap2 {
		padding-left: 10px;
		padding-right: 10px;
	}
	.popup .wrap1 {
		width: 320px;
	}
	.popup {
		margin-left: -160px;
		margin-top: -200px;
	}
}