@import "reset.css";
@import "stylesheet.css";

body {
	background: url("../img/bg.png") center top repeat;
	z-index: 1;
	height: 100%;
}
#all {	
	min-height: 100%;
}
header {
	font-family: 'Century Gothic';
	font-size: 14px;
	padding-bottom: 400px;
}
header b {
	font-family: 'Century Gothic';
	font-size: 18px;
	color: #ffffff;
	width: 30px;
	margin: -28px auto;
	text-align: center;
	display: block;
	padding-left: 13px;
}
header i {
	background: url("../img/header.jpg") center -155px no-repeat;
	height: 690px;
	width: 100%;
	display: block;
	position: absolute;
	z-index: 3;
	overflow: hidden;
	text-align: center;
}
header img {
	display: inline-block;
	margin: 146px 0px 0px 60px;
	max-width: 450px;
	max-height: 550px;
}
header img.cloth {
	margin-left: -50px;
}
header img.wallet {
	margin: 265px 0px 0px 0px;
}
header sub {
	background: url("../img/hbg.jpg") left top repeat-x;
	z-index: 2;
	height: 289px;
	width: 100%;
	position: absolute;
	top: 255px;
}
header sup {
	background: url("../img/hg.jpg") left top repeat-x;
	height: 187px;
	width: 100%;
	position: absolute;
	top: 73px;
}
header span {
	color: #ffffff;
	text-align: center;
	position: relative;
	top: 30px;
	display: block;
	z-index: 4;
}
header span a {
	font-weight: italic;
	color: #ffffff;
}
header span h1 {
	margin-top: 50px;
	font-size: 30px;
	font-family: 'geisha';
}
header section {
	color: #762f26;
	position: relative;
	text-align: right;
	left: 300px;
	top: 110px;
	display: inline-block;
	z-index: 4;
}
header section:last-child {
	text-align: left;
	left: 765px;
}
header section a {
	font-weight: bold;
	color: #762f26;
}
header section h2 a {
	font-size: 36px;
	text-decoration: none;
	margin-top: 155px;
	display: inline-block;
	font-family: 'geisha';
}

#content {
	width: 1024px;
	margin: 0px auto;
}
#content h2 {
	font-size: 36px;
	color: #554c3e;
	text-align: center;
	margin: 30px 0px 20px 0px;
	font-family: 'geisha';
}
#content p, #content b {
	font-family: 'Century Gothic';
	font-size: 14px;
	line-height: 20px;
	color: #000000;
	text-align: center;
	padding: 10px 0px;
}
#content section {
	height: auto;
}
#content b {
	width: 430px;
	vertical-align: middle;
	padding-right: 50px;
	display: inline-block;
}
#content strong {
	font-weight: bold;
}
#content section img {
	width: auto;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	padding: 20px 180px;
}

footer {
	margin-top: 30px;
	position: relative;
	height: 85px;
}
footer sub {
	background: url("../img/fbg.jpg") left bottom repeat-x;
	z-index: 2;
	height: 70px;
	width: 100%;
	position: absolute;
	display: block;
}
footer sup {
	background: url("../img/fg.jpg") left bottom repeat-x;
	height: 60px;
	width: 100%;
	position: absolute;
	display: block;
}
footer p {
	font-size: 18px;
	color: #6c3911;
	padding: 20px 190px;
	display: inline-block;
	font-family: 'geisha';
}
footer i {
	position: relative;
	top: -2px;
	font-weight: 600;
}
footer b {
	font-family: 'Myriad Pro';
}

#top {
	width: 1024px;
	margin: 0px auto;
	overflow: hidden;
	height: 51px;
}
#top a {
	background: url("../img/top.png") bottom right no-repeat;
	font-size: 18px;
	color: #6c3911;
	text-decoration: none;
	font-family: 'geisha';
	float: right;
	margin-right: 30px;
	display: inline-block;
	padding: 10px 18px 0px 20px;
	height: 41px;
}


#content ul#buy {
	background: url("../img/buy.jpg") center top no-repeat;
	width: 802px;
	height: 45px;
	display: block;
	margin: 0px auto;
	margin-bottom: 60px;
}
#content #buy li {
	display: inline-block;
	line-height: 65px;
	background: url("../img/ar.png") right center no-repeat;
	margin-top: -11px;
}
#content #buy li a {
	font-family: 'geisha';
	font-size: 18px;
	color: #554c3e;
	text-decoration: none;
	padding: 0px 45px 0px 30px;
}
#content #buy li.current {
	background: url("../img/arr.png") right center no-repeat;
}
#content #buy li.current a {
	color: #631e1e;
}
#content #buy li:last-child {
	background: none !important;
}
#content .buy {
	padding-bottom: 30px;
}
#content .buy p {
	font-family: 'Century Gothic';
	font-size: 14px;
	color: #554c3e;
	text-align: center;
}
#content .buy a {
	font-family: 'geisha';
	font-size: 18px;
	color: #631e1e;
}