@import "reset.css";
@import "stylesheet.css";

body {
	background: url("../img/bg.png") center top repeat;
	z-index: 1;
	height: 100%;
	min-width: 1000px;
}
#all {	
	min-height: 100%;
}
header {
	font-family: 'Century Gothic';
	font-size: 14px;
	padding-bottom: 400px;
}
header .logo {
	background: url("../img/frame.png") center top no-repeat;
	position: absolute;
	width: 215px;
	height: 190px;
	left: 50%;
	margin-left: -450px;
	z-index: 8;
}
header .logo.in {
	margin-left: 232px;
}
header .logo.in em {
	background: url("../img/login.jpg") center center no-repeat;
}
header .logo em {
	background: url("../img/logo.jpg") center center no-repeat;
	position: absolute;
	width: 175px;
	height: 148px;
	margin: 20px 21px;
}
header .logo.in input {
	background: url("../img/log-in.jpg") center top no-repeat;
	width: 124px;
	height: 19px;
	font-family: 'Century Gothic';
	font-size: 14px;
	color: #554c3e;
	line-height: 16px;
	display: block;
	border: none;
	margin: 8px 0px 0px 10px;
	padding-left: 10px;
}
header .logo.in input.log {
	background: url("../img/in.png") center top no-repeat;
	width: 91px;
	height: 38px;
	font-family: 'geisha';
	font-size: 18px;
	color: #762f26;
	line-height: 45px;
	margin: 8px 0px 5px 50px;
	cursor: pointer;
}
header .logo.in a {
	font-family: 'Century Gothic';
	font-size: 14px;
	color: #ebe7dc;
	margin-left: 15px;
}
header .logo.in a.frgt {
	font-size: 12px;
	margin-left: 20px;
}
header b {
	font-family: 'Century Gothic';
	font-size: 18px;
	color: #ffffff;
	width: 51px;
	height: 47px;
	text-align: center;
	display: block;
	background: url("../img/wal.png") 0px 0px no-repeat;	
	line-height: 58px;
	position: absolute;
	left: 50%;
	margin-left: -18px;
	bottom: 7px;
}
header i {
	background: url("../img/header.jpg") center -155px no-repeat;
	height: 690px;
	width: 100%;
	display: block;
	position: absolute;
	z-index: 3;
	overflow: hidden;
	text-align: center;
}
header img {
	display: inline-block;
	margin: 146px 0px 0px 60px;
	max-width: 450px;
	max-height: 550px;
}
header img.cloth {
	margin-left: -50px;
}
header img.wallet {
	margin: 265px 0px 0px 0px;
}
header img.galery {
	margin: 159px 0px 0px 0px;
}
header img.reg {
	margin: 160px 0px 0px 0px;
	width: 336px;
	height: 452px;
}
header sub {
	background: url("../img/hbg.jpg") left top repeat-x;
	z-index: 2;
	height: 289px;
	width: 100%;
	position: absolute;
	top: 255px;
}
header sup {
	background: url("../img/hg.jpg") left top repeat-x;
	height: 191px;
	width: 100%;
	position: absolute;
	top: 70px;
}
header span {
	color: #ffffff;
	text-align: center;
	position: relative;
	top: 30px;
	display: block;
	z-index: 4;
}
header span a {
	font-weight: italic;
	color: #ffffff;
}
header span h1 {
	margin-top: 50px;
	font-size: 30px;
	font-family: 'geisha';
}
header span h1.short {
	margin-top: 60px;
	font-size: 20px;
}
header section {
	color: #762f26;
	position: relative;
	text-align: right;
	left: 50%;
	margin-left: -380px;
	top: 110px;
	display: inline-block;
	z-index: 4;
}
header section:last-child {
	text-align: left;
	margin-left: 480px;
}
header section a {
	font-weight: bold;
	color: #762f26;
}
header section h2 a {
	font-size: 36px;
	text-decoration: none;
	margin-top: 155px;
	display: inline-block;
	font-family: 'geisha';
}

#content {
	width: 1000px;
	margin: 0px auto;
}
#content h2 {
	font-size: 36px;
	color: #554c3e;
	text-align: center;
	margin: 50px 0px 30px 0px;
	font-family: 'geisha';
}
#content p, #content b {
	font-family: 'Century Gothic';
	font-size: 14px;
	line-height: 20px;
	color: #554c3e;
	text-align: center;
	padding: 10px 0px;
}
#content section.tk {
	height: auto;
}
#content b {
	width: 468px;
	vertical-align: middle;
	padding-right: 50px;
	display: inline-block;
}
#content b.h7 {
	width: auto;
	display: block;
	padding: 15px 0px;
}
#content strong {
	font-weight: bold;
}
#content section.tk img {
	width: auto;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	padding: 25px 150px;
}

footer {
	margin-top: 30px;
	position: relative;
	height: 85px;
}
footer sub {
	background: url("../img/fbg.jpg") left bottom repeat-x;
	z-index: 2;
	height: 70px;
	width: 100%;
	position: absolute;
	display: block;
}
footer sup {
	background: url("../img/fg.jpg") left bottom repeat-x;
	height: 60px;
	width: 100%;
	position: absolute;
	display: block;
}
footer p {
	font-size: 17px;
	color: #6c3911;
	padding: 20px 160px;
	display: inline-block;
	font-family: 'geisha';
}
footer i {
	position: relative;
	top: -2px;
	font-weight: 600;
}
footer b {
	font-family: 'Myriad Pro';
}

#top {
	width: 1024px;
	margin: 0px auto;
	overflow: hidden;
	height: 51px;
}
#top a {
	background: url("../img/top.png") bottom right no-repeat;
	font-size: 18px;
	color: #6c3911;
	text-decoration: none;
	font-family: 'geisha';
	float: right;
	margin-right: 30px;
	display: inline-block;
	padding: 10px 18px 0px 20px;
	height: 41px;
}


#content ul#buy {
	background: url("../img/buy.jpg") center top no-repeat;
	width: 802px;
	height: 45px;
	display: block;
	margin: 0px auto;
	margin-bottom: 60px;
}
#content #buy li {
	display: inline-block;
	line-height: 65px;
	background: url("../img/ar.png") right center no-repeat;
	margin-top: -11px;
}
#content #buy li a {
	font-family: 'geisha';
	font-size: 18px;
	color: #554c3e;
	text-decoration: none;
	padding: 0px 45px 0px 30px;
}
#content #buy li.current {
	background: url("../img/arr.png") right center no-repeat;
}
#content #buy li.current a {
	color: #631e1e;
}
#content #buy li:last-child {
	background: none !important;
}
#content .buy {
	padding-bottom: 30px;
}
#content .buy p {
	font-family: 'Century Gothic';
	font-size: 14px;
	color: #554c3e;
	text-align: center;
}
#content .buy a {
	font-family: 'geisha';
	font-size: 18px;
	color: #631e1e;
}

#content .gal {
	display: block;
	margin: 70px auto;
	width: 850px
}
#content .gal .prod {
	display: inline-block;
	width: 200px;
	margin: 0px 20px 0px 60px;
}
#content .gal .prod img, #content .gal .prod p, #content .gal .prod i, #content .gal .prod a {
	display: block;
	text-align: center;
	width: 200px;
	height: auto;
	font-family: 'Century Gothic';
	font-size: 14px;
	color: #631e1e;
	padding-bottom: 10px;
}
#content .gal .prod p {
	color: #554c3e;
	font-size: 16px;
}
#content .gal .prod i {
	font-weight: bold;
	font-size: 18px;
}
#content .else {
	display: block;
	width: 410px;
	margin: 0px auto 50px auto;
	position: relative;
	left: 30px;
}
#content .else a {
	font-family: 'Century Gothic';
	font-size: 14px;
	color: #631e1e;
	text-decoration: none;
	padding: 0px 10px;
}
#content .else a.current {
	font-weight: bold;
	color: #554c3e;
	font-size: 15px;
}
#content .else span.lr {
	min-height: 14px;
	min-width: 24px;
	display: inline-block;
	padding: 0px 25px;
}
#content .else span.lr:first-child {
	background: url("../img/left.png") center center no-repeat;
}
#content .else span.lr:last-child {
	background: url("../img/right.png") center center no-repeat;
}

header form.reg {
	position: absolute;
	z-index: 10;
	top: 180px;
	left: 50%;
	margin-left: -170px;
	width: 340px;
}
header form.reg p {
	text-align: right;
	font-family: 'Century Gothic';
	font-size: 14px;
	color: #eae4ca;
	width: 100px;
	display: inline-block;
}
header form.reg input {
	background: url("../img/fill.jpg") left center no-repeat;
	border: none;
	font-family: 'Century Gothic';
	font-size: 14px;
	color: #554c3e;
	line-height: 16px;
	padding-left: 10px;
	width: 194px;
	height: 19px;
	display: inline-block;
	margin: 5px 10px 10px 20px;
}
header form.reg input.rgs {
	background: url("../img/rgs.png") center center no-repeat;
	width: 213px;
	height: 42px;
	font-family: 'geisha';
	font-size: 18px;
	color: #762f26;
	line-height: 45px;
	display: block;
	margin: 10px auto;
}
header form.reg img {
	display: block;
	width: 95px;
	height: 45px;
	margin: 10px 0px 20px 170px;
}

#content form.get {
	background: url("../img/getfr.png") center top no-repeat;
	width: 450px;
	height: 680px;
	position: relative;
	margin: 30px auto;
	left: -15px;
}
#content form.get em {
	background: url("../img/get.jpg") center center no-repeat;
	height: 616px;
	width: 490px;
	position: absolute;
	margin: 17px 0px 0px -20px;
}
#content form.get p {
	text-align: right;
	font-family: 'Century Gothic';
	font-size: 14px;
	color: #762f26;
	width: 130px;
	display: inline-block;
	margin-left: 60px;
}
#content form.get input {
	background: url("../img/fill.jpg") left center no-repeat;
	border: none;
	font-family: 'Century Gothic';
	font-size: 14px;
	color: #554c3e;
	line-height: 16px;
	padding-left: 10px;
	width: 194px;
	height: 19px;
	display: inline-block;
	margin: 20px 20px 0px 30px;
}
#content form.get input.rgs {
	background: url("../img/gt.png") center center no-repeat;
	width: 110px;
	height: 42px;
	font-family: 'geisha';
	font-size: 18px;
	color: #762f26;
	line-height: 45px;
	display: block;
	margin: 25px auto;
}