<!doctype html>
<html ng-app="pgrModule">
	<head>
		<title>PGR</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes"/>

		<link rel="stylesheet" href="/build/style.base64.css" />
	</head>
	<body 
		ng-controller="RootController" 
		ng-class="{hiddenScroll: controller === '_'}">
		
		<header ng-class="{fixed: controller === '_'}">
			
            <!-- Логотип -->
            <!-- 
            <a href="#/" class="logo">
                <img src="./images/logo1.png" alt="PERSON GROWTH RANKING">
            </a>
            -->
            
            <!-- Аватар -->
			<section id="avatar" ng-cloak ng-controller="AvatarCtrl">
                <p ng-if="!workspace.user">
                    <img ng-click="onLogin()" ng-src="/images/anon.png" alt="" />
                    <span ng-click="onLogin()">SIGN IN</span>
                </p>
                <p ng-if="workspace.user">
                    <img ng-click="onOpenProfileAuthUser()" ng-src="{{workspace.user.avatar}}" alt="{{workspace.user.name}}" />
                    <span ng-click="onLogout()">SIGN OUT</span>
                </p>
			</section>
            
            <!-- Поиск -->
            <div id="search">
                <input type="text" placeholder="Search people" class="search" />
                <input type="submit" class="searcher" />
            </div>
            
            <!-- Навигация -->
			<ul ng-if="workspace.user" ng-cloak ng-controller="NavCtrl">
				<li ng-repeat="nav in navs">
				    <a ng-class="{current: nav.current}" ng-click="onNavClick($event, nav)">
				    	{{nav.name}}
				    </a>
				</li>
			</ul>
            
		</header>

		<!-- Контент -->
		<div id="content" class="controller_{{controller}}" ng-controller="ContentController">
			<div app-view-segment="0" class="content_wrap"></div>
		</div>
		
		<!-- Футер -->
		<footer>
			<div class="sexual">
				<a href="#"><img src="/images/sex.png" alt="" /></a>
			</div>
			
			<div 
				class="lnbl" 
				ng-include 
				src="'partials/follow.html'" 
				ng-controller="FollowController" >
			</div>
		</footer>

        <section ng-include src="'partials/loader.html'"></section>
        <section ng-include src="'partials/login.html'"></section>

        <div id="fb-root"></div>

        <!-- Тенюшка -->
        <section ng-controller="ShadowCtrl">
        	<div id="shadow" ng-class="{show: show}" ng-click="onHideModal()"></div>
        </section>

		<script src="/build/scripts.js"></script>
	</body>
</html>