<!doctype html>
<html ng-app="pgrModule">
	<head>
		<title>PGR</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="apple-mobile-web-app-capable" content="yes"/>

		<link rel="stylesheet" href="./css/reset.css" />
		<link rel="stylesheet" href="./css/fonts.css" />
		<link rel="stylesheet" href="./css/jquery-ui-1.10.3.custom.min.css" />
		<link rel="stylesheet" href="./css/jquery.Jcrop.min.css" />
		<link rel="stylesheet" href="./css/master.css" />
	</head>
	<body ng-controller="RootController" >
		
		<header>
			<div id="header">
				<!-- Логотип -->
				<a href="#/" class="logo">
					<img src="./images/logobg.png" alt="" />
				</a>

				<!-- Аватар -->
				<section id="avatar" ng-cloak ng-controller="AvatarCtrl">
				    <p ng-if="!workspace.user">
				        <img ng-click="onLogin()" ng-src="/images/anon.png" alt="" />
				        <span ng-click="onLogin()">{{'_SignIn_' | i18n}}</span>
				    </p>
				    <p ng-if="workspace.user">
				        <img ng-click="onOpenProfileAuthUser()" err-src="/images/unknown-person.png" ng-src="{{workspace.user.avatar}}" class="current" alt="{{workspace.user.name}}" />
				    </p>
				</section>

				<!-- Поиск -->
				<div id="search" ng-controller="SearchController">
					<input 
						type="text" 
						ng-model="searchText" 
						placeholder="Search people" 
						class="search"
						ui-keypress="{13:'onSearch()'}" />
					<input type="submit" class="searcher" ng-click="onSearch()" />
					<div ng-cloak class="searchResult" ng-if="resultSearch.length > 0">
						<div class="item" ng-repeat="(userKey, userItem) in resultSearch">
							<div class="image">
								<img ng-src="{{userItem.avatar}}" alt="">
								<i>{{userItem.points}}</i>
							</div>
							<div class="text">
								<p class="name">{{userItem.name}}</p>
								<p class="birthday">{{userItem.birthday}}</p>
								<p class="birthday">{{userItem.state}}</p>
								<p class="profession">{{userItem.profession.name}}</p>
								<p class="league">{{userItem.league.name}} league</p>
							</div>
						</div>
					</div>
				</div>

				<!-- GRAPHS -->
				<a ng-cloak class="graphlink" ng-if="workspace.user" href="#/graphs">{{'_GRAPHS_' | i18n}}</a>	
			</div>
		</header>

		<!-- Контент -->
		<div id="content" class="controller_{{controller}} my-slide-container" ng-controller="ContentController">
			<div class="content_wrap" app-view-segment="0"></div>
		</div>
		
		<!-- Футер -->
		<footer>
			<div id="footer">
				<div class="sexual">
					<a href="#"><img src="/images/sex.png" alt="" /></a>
				</div>
				
				<div ng-if="controller != '_compare'">
					<div 
						class="lnbl" 
						ng-include
						src="'partials/follow.html'"  >
					</div>	
				</div>	
			</div>
		</footer>

        <section ng-include src="'partials/loader.html'"></section>

        <div id="fb-root"></div>

        <!-- Тенюшка -->
        <section ng-controller="ShadowCtrl">
        	<div id="shadow" ng-class="{show: show}" ng-click="onHideModal()"></div>
        </section>
        
        <script src="/js/jquery-2.0.3.min.js" type="text/javascript"></script>
        <script src="/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
		<script src="/js/jquery.isotope.min.js" type="text/javascript"></script>
		<script src="/js/jquery.Jcrop.min.js"></script>
		<script src="/js/jquery.jcrop-canvas.js"></script>
		<script src="/js/jquery.icheck.min.js"></script>

		<script src="/js/angular.min.js"></script>
		<script src="/js/angular-route.min.js"></script>
		<script src="/js/angular-resource.min.js"></script>
		<script src="/js/angular-cookies.min.js"></script>
		<script src="/js/angular-touch.min.js"></script>
		<script src="/js/angular-route-segment.min.js"></script>
		<script src="/js/angular-isotope.min.js"></script>

		<script src="/js/date.js"></script>
		<script src="/js/autocomplete.js"></script>
		
		<script src="/js/hamster.js"></script>
		<script src="/js/mousewheel.js"></script>

		<script src="/js/hammer.min.js"></script>
		<script src="/js/angular-hammer.js"></script>

		<script src="/js/keypress.js"></script>
		
		<script src="/js/moment+langs.min.js"></script>
		<script src="/js/ngFacebook.js"></script>
		<script src="/js/google-plus-signin.js"></script>
		<script src="/js/localize.js"></script>
		
		<!--
		<script src="/js/lodash.js"></script>
		-->

		<script src="/js/libs/app.js"></script>
		<script src="/js/libs/controllers.js"></script>
		<script src="/js/libs/resources.js"></script>
		<script src="/js/libs/directives.js"></script>
		<script src="/js/libs/services.js"></script>
	</body>
</html>