<!doctype html>
<html ng-app="pgrModule">
	<head>
		<title>PGR</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes"/>

		<link rel="stylesheet" href="/build/style.base64.css" />
	</head>
	<body ng-controller="RootController" >
		
		
		<header>
			<div id="header">
				<!-- Логотип -->
				<a href="#/" class="logo">
					<img src="./images/logobg.png" alt="" />
				</a>

				<!-- Аватар -->
				<section id="avatar" ng-cloak ng-controller="AvatarCtrl">
				    <p ng-if="!workspace.user">
				        <img ng-click="onLogin()" ng-src="/images/anon.png" alt="" />
				        <span ng-click="onLogin()">{{'_SignIn_' | i18n}}</span>
				    </p>
				    <p ng-if="workspace.user">
				        <img ng-click="onOpenProfileAuthUser()" err-src="/images/unknown-person.png" ng-src="{{workspace.user.avatar}}" class="current" alt="{{workspace.user.name}}" />
				    </p>
				</section>

				<!-- Поиск -->
				<div id="search" ng-controller="SearchController">
					<input 
						type="text" 
						ng-model="searchText" 
						placeholder="Search people" 
						class="search"
						ng-change="onSearch()" />
					<input type="submit" class="searcher" ng-click="onSearch()" />
					<div ng-cloak class="searchResult" ng-if="resultSearch.length > 0">
						<div class="item" ng-repeat="(userKey, userItem) in resultSearch">
							<div class="image">
								<img ng-src="{{userItem.avatar}}" alt="">
								<i>{{userItem.points}}</i>
							</div>
							<div class="text">
								<p class="name">{{userItem.name}}</p>
								<p class="birthday">{{userItem.birthday}}</p>
								<p class="birthday">{{userItem.state}}</p>
								<p class="profession">{{userItem.profession.name}}</p>
								<p class="league">{{userItem.league.name}} league</p>
							</div>
						</div>
					</div>
				</div>

				<!-- GRAPHS -->
				<a  class="graphlink" ng-if="workspace.user" href="#/graphs">{{'_GRAPHS_' | i18n}}</a>	
			</div>
		</header>

		<!-- Контент -->
		<div id="content" class="controller_{{controller}} my-slide-container" ng-controller="ContentController">
			<div class="content_wrap" app-view-segment="0"></div>
		</div>
		
		<!-- Футер -->
		<footer>
			<div id="footer">
				<div class="sexual">
					<a href="#"><img src="/images/sex.png" alt="" /></a>
				</div>
				
				<div ng-if="controller != '_compare'">
					<div 
						class="lnbl" 
						ng-include
						src="'partials/follow.html'"  >
					</div>	
				</div>	
			</div>
		</footer>

        <section ng-include src="'partials/loader.html'"></section>

        <div id="fb-root"></div>

        <!-- Тенюшка -->
        <section ng-controller="ShadowCtrl">
        	<div id="shadow" ng-class="{show: show}" ng-click="onHideModal()"></div>
        </section>

		<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
		<script src="//js.live.net/v5.0/wl.js"></script>
		
		<script src="/build/scripts.js"></script>
	</body>
</html>