<!doctype html>
<html ng-app="pgrModule">
	<head>
		<title>PGR</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes"/>

		<link rel="stylesheet" href="./css/bootstrap.css" />
		<link rel="stylesheet" href="./css/bootstrap-datepicker.css" />
		<link rel="stylesheet" href="./css/jquery.Jcrop.min.css" />
		<link rel="stylesheet" href="./css/master.css" />
		<link rel="stylesheet" href="./css/fonts.css" />
        
	</head>
	<body ng-controller="RootController" ng-class="{hiddenScroll: controller === '_'}">
		<div class="shadow"></div>
		<header ng-class="{fixed: controller === '_'}">
			
            <!-- Логотип -->
            <a href="#/" class="logo">
                <img src="./images/logo1.png" alt="PERSON GROWTH RANKING">
            </a>
            
            <!-- Аватар -->
			<section id="avatar" ng-cloak ng-controller="AvatarCtrl">
                <p ng-if="!workspace.user">
                    <img ng-click="onLogin()" ng-src="/images/anon.png" alt="" />
                    <span ng-click="onLogin()">Sign in</span>
                </p>
                <p ng-if="workspace.user">
                    <img ng-click="onOpenProfileAuthUser()" ng-src="{{workspace.user.avatar}}" alt="{{workspace.user.name}}" />
                    <span ng-click="onLogout()">Sign out</span>
                </p>
			</section>
            
            <!-- Поиск -->
            <div id="search">
                <input type="text" placeholder="Search people" class="search" />
                <input type="submit" class="searcher" />
            </div>
            
            <!-- Навигация -->
			<ul ng-if="workspace.user" ng-cloak ng-controller="NavCtrl">
				<li ng-repeat="nav in navs">
				    <a ng-class="{current: nav.current}" ng-click="onNavClick($event, nav)">
				    	{{nav.name}}
				    </a>
				</li>
			</ul>
            
		</header>
		
		<div class="footer">
			<div class="sexual">
				<img src="/images/sex.png" alt="" />
			</div>
			
			<div 
				class="lnbl" 
				ng-include 
				src="'partials/follow.html'" 
				ng-controller="FollowController" >
			</div>
		</div>

		<div id="content" class="controller_{{controller}}" ng-controller="ContentController">
			<div app-view-segment="0"></div>
		</div>
        
        <section ng-include src="'partials/loader.html'"></section>
        <section ng-include src="'partials/login.html'"></section>
        <section ng-include src="'partials/registration.html'"></section>

        <div id="fb-root"></div>
        
        <script src="./js/jquery-2.0.3.min.js" type="text/javascript"></script>
		<script src="./js/jquery.mousewheel.js" type="text/javascript"></script>
		<script src="./js/jquery.mobile-events.min.js" type="text/javascript"></script>
		
		<script src="./js/bootstrap.min.js" type="text/javascript"></script>
		<script src="./js/bootstrap-datepicker.js" type="text/javascript"></script>
		<script src="./js/angular.min.js"></script>
		<script src="./js/angular-route.min.js"></script>
		<script src="./js/angular-resource.min.js"></script>
		<script src="./js/angular-cookies.min.js"></script>
		<script src="./js/angular-animate.min.js"></script>
		<script src="./js/angular-touch.js"></script>
		<script src="./js/angular-route-segment.min.js"></script>
		<script src="./js/moment+langs.min.js"></script>
		<script src="./js/ngFacebook.js"></script>
		<script src="./js/google-plus-signin.js"></script>
		<script src="./js/localize.js"></script>
		<script src="./js/angular-ui.min.js"></script>
		<script src="./js/angular-strap.js"></script>
		<script src="./js/localStorage.js"></script>
		<script src="./js/ui-bootstrap-0.5.0.min.js"></script>
		<script src="./js/jquery.Jcrop.min.js"></script>
		<script src="./js/lodash.js"></script>
		<script src="./js/keypress.js"></script>
		<script src="./js/app.js"></script>
		<script src="./js/controllers.js"></script>
		<script src="./js/resources.js"></script>
		<script src="./js/directives.js"></script>
		<script src="./js/services.js"></script>
	</body>
</html>