<!doctype html>
<html ng-app="pgrModule">
	<head>
		<title>iRate</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="apple-mobile-web-app-capable" content="yes"/>

		<link rel="stylesheet" href="./css/reset.css" />
		<link rel="stylesheet" href="./css/fonts.css" />
		<link rel="stylesheet" href="./css/jquery-ui-1.10.3.custom.min.css" />
		<link rel="stylesheet" href="./css/jquery.Jcrop.min.css" />
		<link rel="stylesheet" href="./css/rzslider.min.css" />
		<link href="./css/master.less" rel="stylesheet/less" />

		<script src="/js/less-1.5.0.min.js"></script>
	</head>
	<body ng-controller="RootController" >
		
		<header class="header_{{controller}}">
			<div id="header">
				<!-- Логотип -->
				<a href="#/" class="logo">
					<img src="./images/logobg.png" alt="" />
				</a>

				<!-- Аватар -->
				<section id="avatar" ng-cloak ng-controller="AvatarCtrl">
				    <p ng-if="!workspace.user">
				        <img ng-click="onLogin()" ng-src="/images/anon.png" alt="" />
				        <span ng-click="onLogin()">{{'_SignIn_' | i18n}}</span>
				    </p>
				    <p ng-if="workspace.user">
				        <img ng-click="onOpenProfileAuthUser()" err-src="/images/unknown-person.png" ng-src="{{workspace.user.avatar}}" class="current" alt="{{workspace.user.name}}" />
				    </p>
				</section>

				<!-- Поиск -->
				<div id="search" ng-controller="SearchController" ng-init="limit=5">
					<input 
						type="text" 
						ng-model="searchText" 
						placeholder="Search people" 
						class="search"
						ng-change="onSearch()" />
					<input type="submit" class="searcher" ng-click="onAdvanceSearch()" />
					<div ng-cloak class="searchResult" ng-if="resultSearch.length > 0">
						<div class="item" ng-repeat="(userKey, userItem) in resultSearch | limitTo: limit">
							<div class="image" ng-click="onCompare(userItem)">
								<img ng-src="{{userItem.avatar}}" err-src="/images/unknown-person.png" alt="" />
								<i>{{userItem.points}}</i>
							</div>
							<div class="text" ng-click="onCompare(userItem)">
								<p class="name">{{userItem.name}}</p>
								<p class="birthday">{{userItem.birthday}}</p>
								<p class="birthday gr">{{userItem.state.name}}</p>
								<p class="profession gr">{{userItem.profession.name}}</p>
								<p class="league">{{userItem.league.name}} league</p>
							</div>
							<img class="sealin" src="./images/i1l.png" alt="" ng-click="onCompare(userItem)">
						</div>
						<div class="all" ng-if="resultSearch.length > limit">
							<a ng-click="onAdvanceSearch()">See all results</a>
						</div>
					</div>
				</div>

				<!-- GRAPHS -->
				<a class="graphlink" ng-if="workspace.user" ng-cloak href="#/graphs">{{'_GRAPHS_' | i18n}}</a>

			</div>
		</header>

		<!-- Контент -->
		<div id="content" class="controller_{{controller}} my-slide-container" ng-controller="ContentController">
			<div class="content_wrap" app-view-segment="0">
			</div>
		</div>
		
		<!-- Футер -->
		<footer>
			<div id="footer">
				<div class="sexual">
					<a 
						href="https://twitter.com/intent/tweet?text=iRate&url=http://www.irate.com" 
						target="_blank"></a>
					<a ng-click="shareFacebook('http://www.irate.com', 'iRate', '', 'http://www.improva.com/src/assets/images/icons/improva_icon.png')" class="facebook"></a>
					<a ng-click="shareGoogle('http://www.irate.com')" class="google"></a>
				</div>
				
				<div ng-if="controller != '_compare'">
					<div 
						class="lnbl" 
						ng-include
						src="'partials/follow.html'"  >
					</div>	
				</div>	
			</div>
		</footer>

        <section ng-include src="'partials/loader.html'"></section>

        <div id="fb-root"></div>

        <!-- Тенюшка -->
        <section ng-controller="ShadowCtrl">
        	<div id="shadow" ng-class="{show: show}" ng-click="onHideModal()"></div>
        </section>
        
        <script src="/js/jquery-2.0.3.min.js" type="text/javascript"></script>
        <script src="/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
		<script src="/js/jquery.Jcrop.min.js"></script>
		<script src="/js/jquery.jcrop-canvas.js"></script>
		<script src="/js/jquery.icheck.min.js"></script>
		<script src="/js/imagesloaded.pkgd.min.js"></script>
		<script src="/js/jquery.isotope.min.js"></script>
		<script src="/js/jquery.isotope.perfectmasonry.js"></script>
		
		<script src="/js/spin.js"></script>

		<script src="//js.live.net/v5.0/wl.js"></script>
		<script src="/js/recaptcha_ajax.js"></script>

		<script src="/js/angular.min.js"></script>
		<script src="/js/angular-route.min.js"></script>
		<script src="/js/angular-resource.min.js"></script>
		<script src="/js/angular-animate.min.js"></script>
		<script src="/js/angular-sanitize.min.js"></script>
		<script src="/js/angular-cookies.min.js"></script>
		<script src="/js/angular-touch.min.js"></script>
		<script src="/js/angular-route-segment.min.js"></script>
		<script src="/js/angular-scroll.js"></script>
		<script src="/js/angular-recaptcha.min.js"></script>

		<script src="/js/date.js"></script>
		<script src="/js/unique.js"></script>
		<script src="/js/autocomplete.js"></script>
		<script src="/js/lscache.js"></script>
		
		<script src="/js/hamster.js"></script>
		<script src="/js/mousewheel.js"></script>


		<script src="/js/keypress.js"></script>
		
		<script src="/js/moment+langs.min.js"></script>
		<script src="/js/ngFacebook.js"></script>
		<script src="/js/google-plus-signin.js"></script>
		<script src="/js/localize.js"></script>
		<script src="/js/rzslider.min.js"></script>
		<script src="/js/bindonce.js"></script>
		<script src="/js/preloadjs-0.4.1.min.js"></script>
		<script src="/js/kinetic-v5.0.0.min.js"></script>
		
		<script src="/js/libs/app.js"></script>
		<script src="/js/libs/controllers.js"></script>
		<script src="/js/libs/resources.js"></script>
		<script src="/js/libs/directives.js"></script>
		<script src="/js/libs/services.js"></script>
	</body>
</html>